<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Calcul lichiditati</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="row" *ngIf="lichidCalcInit.showLichidCalcSavedBalanceList">
                <div class="col-lg-1">
                    <label for="computeSavedBalanceId" class="col-form-label">Balante salvate:</label>
                </div>
                <div class="col-lg-2">
                    <select name="computeSavedBalanceId" id="computeSavedBalanceId" [(ngModel)]="computeSavedBalanceId" class="form-control">
                        <option [ngValue]="0">Selecteaza</option>
                        <option *ngFor="let item of savedBalanceList"
                                [ngValue]="item.id">
                            {{item.savedBalanceDesc}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-1">
                    <button id="computeLichid" name="computeLichid" class="btn  btn-info" title="Calculeaza" (click)="compute()"><i class="fa fa-laptop"></i></button>
                    <a href="{{appBaseUrl}}/assets/pdf/Conta - Lichiditate - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                </div>
            </div>
            <hr />
            <div class="panel-heading" style="position: relative;" *ngIf="lichidCalcInit.showLichidCalcSavedBalanceList">
                <div class="row">
                    <h4 class="panel-title col-xs-6">
                        Calcule efectuate - {{getLichidCalcCount()}}
                    </h4>
                </div>
            </div>
            <div class="row mt-3" [busy]="isLoading">
                <div class="col-lg-4" *ngIf="lichidCalcInit.showLichidCalcSavedBalanceList">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data calcul</th>
                                <th>Tip balanta</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lichidCalcInit.lichidCalcSavedBalanceList;let i = index;">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.savedBalanceDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ item.savedBalanceDesc }}</td>
                                <td>
                                    <button (click)="calcLichiditate(item.savedBalanceId)" class="btn btn-info mr-2" title="Recalculeaza lichiditate"><i class="fas fa-laptop"></i></button>
                                    <button id="showLichidType" name="showLichidType" (click)="showLichidType(item.savedBalanceId, i)" title="Afiseaza tipuri lichiditate" class="btn btn-info mr-2"><i class="fas fa-list"></i></button>
                                    <button id="deleteLichidCalc" name="deleteLichidCalc" (click)="delete(item.savedBalanceId, i)" title="Sterge calculele" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6" *ngIf="lichidCalcInit.showLichidType">
                    <div class="col-lg-6">
                        <h4 class="panel-title col-xs-6">
                            Tipuri lichiditate
                        </h4>
                    </div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descriere</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lichidTypeList; let i = index;">
                                <td>{{ i+ 1 }}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    <button id="showDetails_1" name="showDetails_1" (click)="showDetails(i)" title="Afiseaza afiseaza detaliile" class="btn btn-info mr-2"><i class="fas fa-list"></i></button>
                                    <button id="showReport" name="showReport" (click)="showReport(i)" title="Genereaza raport" class="btn btn-info mr-2"><i class="fas fa-download"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" *ngIf="lichidCalcInit.showLichidCalcList && lichidCalcDetList.length > 0">
                <div class="col-lg-4">
                    <h4 class="panel-title col-xs-6">
                        Detalii - {{savedBalanceDescription}}
                        <button class="btn btn-info" title="Exporta detalii" (click)="openDetails()"><i class="fas fa-file-excel"></i></button>
                    </h4>
                </div>

                <table class="table table-responsive mt-1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descriere</th>
                            <th>Pana la 3 luni</th>
                            <th></th>
                            <th>Intre 3 luni si un an</th>
                            <th></th>
                            <th>Peste 1 an si pana la 5 ani</th>
                            <th></th>
                            <th>Peste 5 ani	</th>
                            <th></th>
                            <th>Durata nedeterminata</th>
                            <th></th>
                            <th>Total actualizat</th>
                            <th>Total initial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of lichidCalcDetList; let i = index;">
                            <td> {{ i+1 }}</td>
                            <td [ngStyle]="{'fontWeight': val.randTotal ? 'bold' : 'normal'}"> {{ val.descriere }}</td>
                            <td>
                                <input id="valoareBanda1" name="valoareBanda1" [(ngModel)]="val.valoareBanda1" #valoareBanda1="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualiz(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnDetails(1, val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valoareBanda2" name="valoareBanda2" [(ngModel)]="val.valoareBanda2" #valoareBanda2="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualiz(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnDetails(2, val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valoareBanda3" name="valoareBanda3" [(ngModel)]="val.valoareBanda3" #valoareBanda3="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualiz(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnDetails(3,  val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valoareBanda4" name="valoareBanda4" [(ngModel)]="val.valoareBanda4" #valoareBanda4="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualiz(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnDetails(4,  val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valoareBanda5" name="valoareBanda5" [(ngModel)]="val.valoareBanda5" #valoareBanda5="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualiz(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnDetails(5,  val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td class="alignSum" [ngStyle]="{'color': (val.totalActualiz !== val.totalInit) ? 'red': 'black', 'fontWeight': val.randTotal ? 'bold' : 'normal'}"> {{ val.totalActualiz | number: '1.2' }}</td>
                            <td class="alignSum" [ngStyle]="{'fontWeight': val.randTotal ? 'bold' : 'normal'}"> {{ val.totalInit | number: '1.2' }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-lg-5">
                    <button id="back" name="back" title="Inapoi" class="btn btn-info" (click)="showLichidCalcList()"><i class="fas fa-arrow-left"></i>    </button>
                </div>
                <div class="col-lg-1" style="display: flex; justify-content: flex-end">
                    <button id="save" name="save" class="btn btn-info" title="Salveaza modificarile" (click)="save()"><i class="fas fa-save"></i></button>
                </div>
            </div>
            <div class="row" *ngIf="lichidCalcInit.showLichidCalcCurrList && lichidCalcCurrList.length > 0">
                <div class="col-lg-4">
                    <h4 class="panel-title col-xs-6">
                        Detalii - {{savedBalanceDescription}}
                        <button class="btn btn-info" title="Exporta detalii" (click)="openDetailsLichidCurr()"><i class="fas fa-file-excel"></i></button>
                    </h4>
                </div>

                <table class="table table-responsive mt-1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descriere</th>
                            <th>RON</th>
                            <th></th>
                            <th>USD</th>
                            <th></th>
                            <th>EUR</th>
                            <th></th>
                            <th>GBP</th>
                            <th></th>
                            <th>Alte valute</th>
                            <th></th>
                            <th>Total actualizat</th>
                            <th>Total initial</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let val of lichidCalcCurrList; let i = index;">
                            <td> {{ i+1 }}</td>
                            <td [ngStyle]="{'fontWeight': val.randTotal ? 'bold' : 'normal'}"> {{ val.descriere }}</td>
                            <td>
                                <input id="valoareRON" name="valoareRON" [(ngModel)]="val.valoareRON" #valoareRON="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualizCurr(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnCurrDetails(1, val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valoareUSD" name="valoareUSD" [(ngModel)]="val.valoareUSD" #valoareUSD="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualizCurr(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnCurrDetails(2, val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valoareEUR" name="valoareEUR" [(ngModel)]="val.valoareEUR" #valoareEUR="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualizCurr(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnCurrDetails(3,  val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valaoreGBP" name="valoareGBP" [(ngModel)]="val.valoareGBP" #valoareGBP="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualizCurr(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnCurrDetails(4,  val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td>
                                <input id="valoareAlteMonede" name="valoareAlteMonede" [(ngModel)]="val.valoareAlteMonede" #valoareAlteMonede="ngModel" class="form-control" [disabled]="val.randTotal" (ngModelChange)="computeTotalActualizCurr(i)" />
                            </td>
                            <td>
                                <button id="details" name="details" title="Afiseza detalii" class="btn btn-info" *ngIf="!val.randTotal" (click)="showColumnCurrDetails(5,  val.lichidConfigId)"><i class="fas fa-list"></i></button>
                            </td>
                            <td class="alignSum" [ngStyle]="{'color': (val.totalActualiz !== val.totalInit) ? 'red': 'black', 'fontWeight': val.randTotal ? 'bold' : 'normal'}"> {{ val.totalActualiz | number: '1.2' }}</td>
                            <td class="alignSum" [ngStyle]="{'fontWeight': val.randTotal ? 'bold' : 'normal'}"> {{ val.totalInit | number: '1.2' }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-lg-5">
                    <button id="back" name="back" title="Inapoi" class="btn btn-info" (click)="showLichidCalcList()"><i class="fas fa-arrow-left"></i>    </button>
                </div>
                <div class="col-lg-1" style="display: flex; justify-content: flex-end">
                    <button id="save" name="save" class="btn btn-info" title="Salveaza modificarile" (click)="saveLichidCalcCurr()"><i class="fas fa-save"></i></button>
                </div>
            </div>
        </div>
    </section>
</div>