<form class="form-horizontal"
      autocomplete="off"
      #reinvForm="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'Reinvestire'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>

    
        <div class="modal-body">
            <dx-data-grid id="gridContainer"
                          [dataSource]="tableData"
                          [showBorders]="true"
                          (onCellPrepared)="onCellPrepared($event)"
                          [columnAutoWidth]="true"
                          [columnResizingMode]="true"
                          [wordWrapEnabled]="true">

                <dxo-editing mode="cell"
                             [allowUpdating]="true"
                             [allowAdding]="false"
                             [allowDeleting]="false">
                </dxo-editing>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-paging [pageSize]="100"> </dxo-paging>


                <dxi-column dataField="date" dataType="date" caption="Data incasare/reinvestire" [format]="'dd/MM/yyyy'" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="reinvestit" caption="Reinvestit" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="venitTypeStr" caption="Tip Venit" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="idPlasament" caption="Plasament" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="activityType" caption="Tip Activitate" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="currency" caption="Moneda" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="tipPlasamentStr" caption="Tip Plasament" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="valoareIncasata" caption="Valoare Incasata" [format]="',##0.00#'" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="valoareReinvestita" caption="Valoare Reinvestita" [format]="',##0.00#'" [allowEditing]="false"></dxi-column>
                <dxi-column dataField="procDobanda" caption="Procent Dobanda" [allowEditing]="false"></dxi-column>


                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            </dx-data-grid>
        </div>
    

        <abp-modal-footer [saveDisabled]="!reinvForm.form.valid"
                          (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>

</form>


