<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4>
                        <a [routerLink]="['/app/conta/sitFinan/sitFinanConfig']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                        Definire rapoarte pentru Situatiile financiare din {{form.sitFinanDate | date: 'dd.MM.yyyy'}}
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
            <form id="formList" name="formList">

                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h5 class="col-xs-6">
                                Rapoarte
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">

                                    </th>
                                    <th scope="col">Raport</th>
                                    <th scope="col">Simbol</th>
                                    <th scope="col">Nr.coloane</th>
                                    <th style="width: 20px !important;">Perioada echivalenta</th>
                                    <th scope="col">Ordine afisare</th>

                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detail of form.sitFinanRapList; let i = index;">
                                <tr>
                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>
                                        <input id="reportName{{i}}" name="reportName{{i}}" type="text" [(ngModel)]="detail.reportName" #reportName="ngModel" class="form-control" required />
                                    </td>
                                    <td>
                                        <input id="reportSymbol{{i}}" name="reportSymbol{{i}}" type="text" [(ngModel)]="detail.reportSymbol" #reportSymbol="ngModel" class="form-control" required />
                                    </td>
                                    <td>
                                        <input id="nrCol{{i}}" name="nrCol{{i}}" type="text" [(ngModel)]="detail.nrCol" #nrCol="ngModel" class="form-control" required />
                                    </td>
                                    <td>
                                        <input id="perioadaEchivalenta{{i}}" name="perioadaEchivalenta{{i}}" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="detail.perioadaEchivalenta" #perioadaEchivalenta="ngModel" />
                                    </td>
                                    <td>
                                        <input id="orderView{{i}}" name="orderView{{i}}" type="text" [(ngModel)]="detail.orderView" #orderView="ngModel" class="form-control" required />
                                    </td>

                                    <td>
                                        <button (click)="sitFinanReportSave(i)" class="btn btn-info" title="Save"><i class="fas fa-save"></i></button>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/app/conta/sitFinan/sitFinanConfigFormula']"
                                           [queryParams]="{sitFinanId: form.sitFinanId, reportId: detail.id}" class="btn btn-info" *ngIf="detail.id != 0" title="Configurare formul"><i class="fas fa-server"></i></a>
                                    </td>
                                    <td>

                                        <a [routerLink]="['/app/conta/sitFinan/sitFinanConfigNote']"
                                           [queryParams]="{sitFinanId: form.sitFinanId, reportId: detail.id}" class="btn btn-info" title="Note" *ngIf="detail.id != 0"><i class="fas fa-comment-alt"></i></a>
                                    </td>
                                    <td>

                                        <a [routerLink]="['/app/conta/sitFinan/sitFinanFlux']"
                                           [queryParams]="{sitFinanId: form.sitFinanId, reportId: detail.id}" class="btn btn-info" title="Flux" *ngIf="detail.id != 0"><i class="fas fa-bell"></i></a>
                                    </td>
                                    <td>

                                        <button (click)="sitFinanReportDelete(detail.id)" class="btn btn-danger" title="Sterge" *ngIf="detail.id != 0"><i class="fas fa-trash"></i></button>
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
            </form>
        </div>
        </div>
    </section>
</div>