<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Rapoarte Situatii Financiare</h3>
                    <a href="{{appBaseUrl}}/assets/pdf/Conta - Situatii financiare - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <label for="isDailyBalance" class="col-form-label">Balanta zilnica</label>
                </div>
                <div class="col-lg-2 custom-control custom-checkbox">
                    <input id="isDailyBalance" name="isDailyBalance" type="checkbox" [(ngModel)]="isDailyBalance" (ngModelChange)="getCalculatedBalanceList()"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <label for="isDateRange" class="col-form-label">Raport in perioada</label>
                </div>
                <div class="col-lg-2 custom-control custom-checkbox">
                    <input id="isDateRange" name="isDateRange" type="checkbox" [(ngModel)]="isDateRange" (ngModelChange)="showDateRange()" />
                </div>
            </div>
            <div class="row" *ngIf="isDateRange === false">
                <div class="col-lg-2">
                    <label>Data calcul</label>
                </div>
                <div class="col-lg-2">
                    <select id="balanceId" name="balanceId" class="form-control" [(ngModel)]="balanceId" (change)="getCalcRaportList(balanceId)">
                        <option [ngValue]="null">Selectati calcul</option>
                        <option *ngFor="let item of balanceList" [ngValue]="item.savedBalanceId">{{item.calcDateStr}}</option>
                    </select>
                </div>
            </div>
            <div class="row" *ngIf="isDateRange === true">
                <div class="col-lg-2">
                    <label>Perioada</label>
                </div>
                <div class="col-lg-2">
                    <mat-form-field style="width: 100%">
                        <input matInput
                               id="startDate"
                               name="startDate"
                               [matDatepicker]="searchStartDatePicker"
                               [(ngModel)]="startDate"
                               startDate="ngModel"
                               (ngModelChange)="getCalcRaportListByDateRange()">
                        <mat-datepicker-toggle matSuffix [for]="searchStartDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #searchStartDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-lg-2">
                    <mat-form-field style="width: 100%">
                        <input matInput
                               id="endDate"
                               name="endDate"
                               [matDatepicker]="searchEndDatePicker"
                               [(ngModel)]="endDate"
                               endDate="ngModel"
                               (ngModelChange)="getCalcRaportListByDateRange()">
                        <mat-datepicker-toggle matSuffix [for]="searchEndDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #searchEndDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-2">
                    <label>Raport</label>
                </div>
                <div class="col-lg-4">
                    <select id="raportId" name="raportId" class="form-control" [(ngModel)]="raportId" (ngModelChange)="columnsList(raportId)">
                        <option [ngValue]="null">Selectati raport</option>
                        <option *ngFor="let item of raportList" [ngValue]="item.raportId">{{item.raportName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3" *ngIf="isDateRange === true || isDailyBalance=== true">
                <div class="col-lg-2">
                    <label>Numar coloana</label>
                </div>
                <div class="col-lg-2">
                    <select id="colNr" name="colNr" class="form-control" [(ngModel)]="colNr">
                        <option [ngValue]="0">Selectati coloana</option>
                        <option *ngFor="let item of columnList" [ngValue]="item.id">{{item.columnName}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <button (click)="showReport()" class="btn btn-info">Raport</button>
            </div>
        </div>
    </section>
</div>