<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4>
                        <a [routerLink]="['/app/conta/sitFinan/sitFinanConfigReport']"
                           [queryParams]="{sitFinanId: form.sitFinanId}" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>

                        Configurare raport {{form.reportName}} - simbol {{form.reportSymbol}}
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="formList" name="formList">
                    <div class="row">
                        <div class="panel-heading" style="position: relative;">
                            <div class="row">
                                <h5 class="panel-title col-xs-6">
                                Configurare coloane</h5>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <table class="table small-font">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="max-width:80px">Coloana</th>
                                            <th scope="col" style="max-width:300px">Denumire coloana</th>
                                            <th scope="col" style="max-width:80px">Mod calcul coloana *</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let detail of form.configColList; let i = index;">
                                        <tr class="small-font">
                                            <td style="max-width: 80px;">
                                                <input id="columnNr{{i}}" name="columnNr{{i}}" type="text" [(ngModel)]="detail.columnNr" #columnNr="ngModel" class="form-control" required />
                                            </td>
                                            <td style="max-width:300px">
                                                <input id="columnName{{i}}" name="columnName{{i}}" type="text" [(ngModel)]="detail.columnName" #columnName="ngModel" class="form-control" required />
                                            </td>
                                            <td style="max-width:80px">
                                                <input id="columnModCalc{{i}}" name="columnModCalc{{i}}" type="text" [(ngModel)]="detail.columnModCalc" #columnModCalc="ngModel" class="form-control" />
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="3" style="font-size:10px">
                                                * Se specifica numarul coloanei (1-6) pentru care se va prelua suma din raportarea precedenta
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <button (click)="sitFinanColSave()" class="btn btn-info" title="Salvare structura coloana"><i class="fas fa-save"> </i></button>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>


                    <div class="row">
                        <div class="panel-heading" style="position: relative">
                            <div class="row">
                                <h5 class="panel-title col-xs-6">
                                    Configurare randuri
                                </h5>
                            </div>
                        </div>
                        <table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">Denumire rand</th>
                                    <th scope="col">Cod rand</th>
                                    <th scope="col" style="max-width:80px">Cod pozitie</th>
                                    <th scope="col" style="max-width:80px">Nota</th>
                                    <th scope="col" style="max-width:80px">Ordine afisare</th>
                                    <th scope="col" *ngIf="form.nrCol >= 1">Col1</th>
                                    <th scope="col" *ngIf="form.nrCol >= 2">Col2</th>
                                    <th scope="col" *ngIf="form.nrCol >= 3">Col3</th>
                                    <th scope="col" *ngIf="form.nrCol >= 4">Col4</th>
                                    <th scope="col" *ngIf="form.nrCol >= 5">Col5</th>
                                    <th scope="col" *ngIf="form.nrCol >= 6">Col6</th>
                                    <th scope="col" style="max-width:80px">Rand total</th>
                                    <th scope="col" style="max-width:80px">Bold</th>
                                    <th scope="col" style="max-width:80px">Valoare negativa</th>
                                    <th scope="col" style="max-width:80px">Nr. zecimale</th>

                                    <th scope="col" style="max-width:80px">Mod Calcul</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detail of form.configFormulaList; let i = index">
                                <tr class="small-font">
                                    <td>
                                        <input id="rowName{{i}}" name="rowName{{i}}" type="text" [(ngModel)]="detail.rowName" #rowName="ngModel" class="form-control" required />
                                    </td>
                                    <td>
                                        {{detail.rowCode}}
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="rowNr{{i}}" name="rowNr{{i}}" type="text" [(ngModel)]="detail.rowNr" #rowNr="ngModel" class="form-control" />
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="rowNota{{i}}" name="rowNota{{i}}" type="text" [(ngModel)]="detail.rowNota" #rowNota="ngModel" class="form-control" />
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="orderView{{i}}" name="orderView{{i}}" type="text" [(ngModel)]="detail.orderView" #orderView="ngModel" class="form-control" required />
                                    </td>
                                    <td *ngIf="form.nrCol >= 1">
                                        <textarea id="col1{{i}}" name="col1{{i}}" type="text" [(ngModel)]="detail.col1" #col1="ngModel" class="form-control"></textarea>
                                    </td>

                                    <td *ngIf="form.nrCol >= 2">
                                        <textarea id="col2{{i}}" name="col2{{i}}" type="text" [(ngModel)]="detail.col2" #col2="ngModel" class="form-control"></textarea>
                                    </td>
                                    <td *ngIf="form.nrCol >= 3">
                                        <textarea id="col3{{i}}" name="col3{{i}}" type="text" [(ngModel)]="detail.col3" #col3="ngModel" class="form-control"></textarea>
                                    </td>
                                    <td *ngIf="form.nrCol >= 4">
                                        <textarea id="col4{{i}}" name="col4{{i}}" type="text" [(ngModel)]="detail.col4" #col4="ngModel" class="form-control"></textarea>
                                    </td>
                                    <td *ngIf="form.nrCol >= 5">
                                        <textarea id="col5{{i}}" name="col5{{i}}" type="text" [(ngModel)]="detail.col5" #col5="ngModel" class="form-control"></textarea>
                                    </td>
                                    <td *ngIf="form.nrCol >= 6">
                                        <textarea id="col6{{i}}" name="col6{{i}}" type="text" [(ngModel)]="detail.col6" #col6="ngModel" class="form-control"></textarea>
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="totalRow{{i}}" name="totalRow{{i}}" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="detail.totalRow" #totalRow="ngModel" />
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="bold{{i}}" name="bold{{i}}" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="detail.bold" #bold="ngModel" />
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="negativeValue{{i}}" name="negativeValue{{i}}" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="detail.negativeValue" #negativeValue="ngModel" />
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="decimalNr{{i}}" name="decimalNr{{i}}" type="text" [(ngModel)]="detail.decimalNr" #decimalNr="ngModel" class="form-control" />
                                    </td>
                                    <td>
                                        <select id="sitFinanRowModCalc{{i}}" name="sitFinanRowModCalc{{i}}" [(ngModel)]="detail.sitFinanRowModCalc" #sitFinanRowModCalc="ngModel" class="form-control">
                                            <option [ngValue]="null"> Selecteaza</option>
                                            <option *ngFor="let item of sitFinanRowModCalcList" [ngValue]="item.id">{{ item.name }} </option>
                                        </select>
                                    </td>

                                    <td>
                                        <button (click)="sitFinanFormulaDelRow(i)" class="btn btn-danger" title="Sterge" ><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" colspan="15">
                                        <button (click)="sitFinanFormulaAddRow()" class="btn btn-info" title="Adauga rand"><i class="fas fa-plus"></i></button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button (click)="sitFinanFormulaSave()" class="btn btn-info btn-circle" title="Salvare structura raport"><i class="fas fa-save"></i></button>

                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="display: flex;justify-content: center">
                        <div class="col-lg-1">
                            &nbsp;
                        </div>
                        <div class="col-lg-5 table-bordered">
                            <b>Pentru elemente din balanta : </b>
                            <br />
                            OSID – sold initial debitor / OSIC – sold initial creditor<br />
                            ORLD – rulaj lunar debitor / ORLC – rulaj lunar creditor<br />
                            OSFD – sold final debitor / OSFC – sold final creditor<br />
                            ORD – rulaj pe an pe debit / ORC – rulaj pe an pe credit<br />
                            <br />
                            Ex: rulaj lunar debitor cont 4016: $ORLD#4016$<br />
                            <br />
                            Pentru elemente care fac referire la alt raport:<br />
                            Cod_raport + coloana + # + codul randului<br />
                            <br />
                            Ex. Coloana 1 din Bilant, randul 187 :  $A1#187$
                            <br />
                            <br />
                            <b>Pentru elemente de forma cont rulaj debitor in relatie cu alt cont:</b>
                            <br />
                            $RUL#DcontDebitor*CcontCreditor$<br />
                            Ex: 4419 rulaj debitor in relatie cu 433 - $RUL#D4419*C433$<br />
                            <br />
                            <br />
                            <b>Pentru valorile aferente titlurilor (depozite, obligatiuni si titluri de stat):</b>
                            <br />
                            $TITLU#TipPlasament#TipTermen#TipValoare$<br />
                            unde:
                            <ul>
                                <li>
                                    TipPlasament: D - depozite bancare; O - obligatiuni; T - tilturi de stat
                                </li>
                                <li>
                                    TipTermen: L - termen lung; M - termen mediu; S - termen scurt
                                </li>
                                <li>
                                    TipValoare: P - valoare principal; D - valoare creanta; A - valoare depreciere
                                </li>
                            </ul>
                            Ex: $TITLU#OBL#S#P$ - principalul obligatiunilor pe termen scurt
                            <br />

                            <br />
                            Sunt permise folosirea operatiilor matematice de inmultire, impartire si a parantezelor<br />
                            Ex. formula rulaje debitor cont 4011 + 4016, totul inmultit cu 10:<br />
                            ($ORLD#4011$+$ORLD#4016$)*10<br />
                            <br />
                            Pentru perioada (ex):<br />
                            30 iunie 2019 -  $PCF$<br />
                            01 ianuarie 2019  - $PCI$<br />
                            <br />
                            30 iunie 2018 -  $PPF$<br />
                            01 ianuarie 2018 -  $PPI$<br />
                            <br />
                            PP-perioada precedenta<br />
                            PC-perioada curenta<br />
                            I-initiala<br />
                            F-finala<br />
                        </div>
                        <div class="col-lg-1">
                            &nbsp;
                        </div>
                        <div class="col-lg-4 table-bordered">
                            Formule speciale:<br />
                            $EfectCursValutar$ - pentru randul ± Efectul modificării cursului de schimb asupra numerarului din Fluxul de trezorerie.
                            <br />
                            <br />
                            $NrSalPer$ - numarul mediu al salariatilor in perioada
                            <br />
                            <br />
                            $NrSalData$ - numarul salariatilor la data
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>