<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Situatii financiare</h3>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="formList" name="formList" *ngIf="form.showList">
                    <div class="row">
                        <div class="panel-heading" style="position:relative">
                            <div class="row">
                                <h4 class="panel-title col-xs-6">
                                    Raportari situatii financiare <button (click)="sitFinanEdit(0)" class="btn btn-info"><i class="fas fa-plus"></i></button>
                                    <a href="{{appBaseUrl}}/assets/pdf/Conta - Situatii financiare - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Data raportarii</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let detail of form.sitFinanList; let i = index;">
                                    <tr class="small-font">
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>
                                            {{ detail.rapDate | date: 'dd.MM.yyyy' }}
                                        </td>
                                        <td>
                                            <button (click)="sitFinanEdit(detail.id)" class="btn btn-info" title="Detalii"><i class="fas fa-edit"></i></button>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/app/conta/sitFinan/sitFinanConfigReport']"
                                               [queryParams]="{sitFinanId: detail.id}" class="btn btn-info" title="Rapoarte"><i class="fas fa-list"></i></a>
                                        </td>
                                        <td>
                                            <button (click)="sitFinanDelete(detail.id)" class="btn btn-danger" title="Sterge"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

                <form id="formEdit" name="formEdit" *ngIf="form.showEdit">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="rapDate" class="col-form-label"> Data Raportarii</label>
                            <mat-form-field>
                                <input matInput
                                       id="rapDate"
                                       name="rapDate"
                                       [matDatepicker]="rapDatePicker"
                                       [(ngModel)]="form.sitFinan.rapDate"
                                       #rapDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="rapDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #rapDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row" *ngIf="form.sitFinan.id == 0">
                        <div class="col-lg-3 custom-control custom-checkbox">
                            <input id="copyReport" name="copyReport" type="checkbox" class="form-control custom-control-input" [(ngModel)]="form.sitFinan.copyReport" #copyReport="ngModel" />
                            <label for="copyReport" class="custom-control-label mt-2"> Copiere din raportare anterioara</label>
                        </div>
                    </div>

                    <div class="row" *ngIf="form.sitFinan.id == 0">
                        <div class="col-lg-2">
                            <label for="prevDateId" class="form-label" *ngIf="form.sitFinan.copyReport">Selectati raportarea</label>
                            <select id="prevDateId" name="prevDateId" [(ngModel)]="form.sitFinan.prevDateId" #prevDateId="ngModel" class="form-control" *ngIf="form.sitFinan.copyReport">
                                <option *ngFor="let res of sitFinanPrec" [ngValue]="res.id">{{res.rapDate}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-1">
                            <button (click)="sitFinanEditBack()" type="submit" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></button>
                        </div>
                        <div class="col-lg-1">
                            <button (click)="sitFinanSave()" type="submit" class="btn btn-info" title="Save"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>