<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4>
                        <a [routerLink]="['/app/conta/sitFinan/sitFinanConfigReport']" 
                           [queryParams]="{sitFinanId: sitFinanId}" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                         
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="configNoteForm" name="configNoteForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="beforeNote" class="col-form-label">Conturi care se iau in considerare in calculul fluxului de trezorerie</label>
                            <table class="table">
                                <thead>
                                    <tr>

                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody *ngFor="let detail of flux; let i = index;">
                                    <tr class="small-font" *ngIf="detail.sitFinanFluxRowType == 0">

                                        <td>
                                            <input id="debit0{{i}}" name="debit0{{i}}" type="text" [(ngModel)]="detail.debit" debit0="ngModel" class="form-control" />
                                        </td>
                                        <td>
                                            <input id="credit0{{i}}" name="credit0{{i}}" type="text" [(ngModel)]="detail.credit" credit0="ngModel" class="form-control" />
                                        </td>
                                        <td>
                                            <button (click)="deleteFlux(detail)" style="text-align: center" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></button>
                                        </td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <button (click)="addFlux0()" style="text-align: center" class="btn btn-info" title="Adauga"><i class="fas fa-plus"></i></button>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <label for="afterNote" class="col-form-label">Exceptii - relatii contabile ce vor fi excluse din calculul fluxului de trezorerie</label>
                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>

                                    </tr>
                                </thead>
                                <tbody *ngFor="let detail of flux; let i = index;">
                                    <tr class="small-font" *ngIf="detail.sitFinanFluxRowType == 1">

                                        <td>
                                            <input id="debit1{{i}}" name="debit1{{i}}" type="text" [(ngModel)]="detail.debit" debit1="ngModel" class="form-control" />
                                        </td>
                                        <td>
                                            <input id="credit1{{i}}" name="credit1{{i}}" type="text" [(ngModel)]="detail.credit" credit1="ngModel" class="form-control" />
                                        </td>
                                        <td>
                                            <button (click)="deleteFlux(detail)" style="text-align: center" class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></button>
                                        </td>
                                    </tr>

                                </tbody>
                                <tfoot>
                                    <button (click)="addFlux1()" style="text-align:center" class="btn btn-info" title="Adauga"><i class="fas fa-plus"></i></button>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <button (click)="sitFinanFluxSave()"  class="btn btn-info" title="Salvare"><i class="fas fa-save"></i></button>
                    </div>
                    <br />
                   
                </form>
            </div>
        </div>
    </section>
</div>