<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row"  [busy]="isLoading">
                <div class="col-lg-4">
                    <div>
                        <h3>
                            <a [routerLink]="['/app/conta/sitFinan/sitFinanCalc']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                            Calcul rapoarte - balanta {{ form.saveDate | date: 'dd.MM.yyyy' }} {{ form.balanceName }}
                        </h3>

                        <table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">Raport</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detail of form.reportList">
                                <tr class="small-font">
                                    <td>
                                        {{ detail.reportName}}
                                    </td>
                                    <td>
                                        <button (click)="calcDetRap(detail.id)" class="btn btn-info" title="Detalii raport"><i class="fas fa-list"></i></button> &nbsp;&nbsp;
                                        <button (click)="showNotaDetail(detail.id)" class="btn btn-info" title="Detalii nota"><i class="fas fa-comment-alt"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div *ngIf="form.showReport">
                        <h5>
                            {{ form.selReportName }}
                            <button  *ngIf="form.selReportNrCol >= 1" class="btn btn-info mr-2" title="Detalii calcul coloana 1" (click)="showDetails(1)"><i class="fas fa-file-excel"></i></button>
                            <button  *ngIf="form.selReportNrCol >= 2"  class="btn btn-info mr-2" title="Detalii calcul coloana 2 " (click)="showDetails(2)"><i class="fas fa-file-excel"></i></button>
                            <button  *ngIf="form.selReportNrCol >= 3"  class="btn btn-info mr-2" title="Detalii calcul coloana 3" (click)="showDetails(3)"><i class="fas fa-file-excel"></i></button>
                            <button  *ngIf="form.selReportNrCol >= 4"  class="btn btn-info mr-2" title="Detalii calcul coloana 4" (click)="showDetails(4)"><i class="fas fa-file-excel"></i></button>
                            <button  *ngIf="form.selReportNrCol >= 5"  class="btn btn-info  mr-2" title="Detalii calcul coloana 5" (click)="showDetails(5)"><i class="fas fa-file-excel"></i></button>
                            <button  *ngIf="form.selReportNrCol >= 6"  class="btn btn-info  mr-2" title="Detalii calcul coloana 6" (click)="showDetails(6)"><i class="fas fa-file-excel"></i></button>
                        </h5>
                        <table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">Denumire rand</th>
                                    <th scope="col">Rand</th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 1">Val1</th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 1"></th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 2">Val2</th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 2"></th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 3">Val3</th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 3"></th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 4">Val4</th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 4"></th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 5">Val5</th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 5"></th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 6">Val6</th>
                                    <th scope="col" *ngIf="form.selReportNrCol >= 6"></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detail of form.reportDetList; let i = index;">
                                <tr class="small-font">
                                    <td style="max-width:250px">{{detail.rowName}}</td>
                                    <td>{{detail.rowNr}}</td>
                                    <td *ngIf="form.selReportNrCol >= 1">
                                        <input id="val1" name="val1" type="text" [(ngModel)]="detail.val1" #val1="ngModel" class="form-control" [disabled]="detail.totalRow" ng-style="" aria-describedby="basic-val1" />
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 1">
                                        <button id="basic-val1" (click)="showValueDetails(detail.rowId, 1)" class="btn btn-info" title="Detalii calcul">...</button>
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 2">
                                        <input id="val2" name="val2" type="text" [(ngModel)]="detail.val2" #val2="ngModel" class="form-control" [disabled]="detail.totalRow" />
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 2">
                                        <button id="basic-val2" (click)="showValueDetails(detail.rowId, 2)" class="btn btn-info" title="Detalii calcul">...</button>
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 3">
                                        <input id="val3" name="val3" type="text" [(ngModel)]="detail.val3" #val3="ngModel" class="form-control" [disabled]="detail.totalRow" />
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 3">
                                        <button id="basic-val3" (click)="showValueDetails(detail.rowId, 3)" class="btn btn-info" title="Detalii calcul">...</button>
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 4">
                                        <input id="val4" name="val4" type="text" [(ngModel)]="detail.val4" #val4="ngModel" class="form-control" [disabled]="detail.totalRow" />
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 4">
                                        <button id="basic-val4" (click)="showValueDetails(detail.rowId, 4)" class="btn btn-info" title="Detalii calcul">...</button>
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 5">
                                        <input id="val5" name="val5" type="text" [(ngModel)]="detail.val5" #val5="ngModel" class="form-control" [disabled]="detail.totalRow" />
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 5">
                                        <button id="basic-val5" (click)="showValueDetails(detail.rowId, 5)" class="btn btn-info" title="Detalii calcul">...</button>
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 6">
                                        <input id="val6" name="val6" type="text" [(ngModel)]="detail.val6" #val6="ngModel" class="form-control" [disabled]="detail.totalRow" />
                                    </td>
                                    <td *ngIf="form.selReportNrCol >= 6">
                                        <button id="basic-val6" (click)="showValueDetails(detail.rowId, 6)" class="btn btn-info" title="Detalii calcul">...</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" colspan="14">
                                        <button (click)="saveValuesRecalc()" class="btn btn-info" title="Salvare structura raport"><i class="fas fa-save"></i></button> &nbsp;&nbsp;&nbsp;
                                        <button (click)="calcRaport(form.balanceId, form.selReportId)" class="btn btn-info" title="Recalcul raport"><i class="fas fa-laptop"></i></button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div *ngIf="form.showValueDetail">
                        <h5>
                            <button (click)="valueDetailsBack()" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></button>
                            Detalii rand {{form.valueDetails.rowName}}, coloana {{form.valueDetails.columnId}}
                        </h5>
                        <div class="form-control">
                            Formula: {{ form.valueDetails.formula }}
                        </div>
                        <div class="form-control">
                            Valoare Formula: {{ form.valueDetails.formulaVal }}
                        </div>
                        <table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">Element</th>
                                    <th scope="col">Valoare</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detail of form.valueDetails.detailValueList">
                                <tr class="small-font">
                                    <td>{{detail.elementDet}}</td>
                                    <td>{{detail.val | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div *ngIf="form.showNota">
                        <h5>
                            Nota raport {{form.selReportName}}
                        </h5>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="beforeNote" class="form-label">Nota inainte de tabel</label>
                                <textarea id="beforeNote" name="beforeNote" type="text" [(ngModel)]="form.detNote.beforeNote" #beforeNote="ngModel" class="form-control" style="height:300px"></textarea>
                            </div>
                            <div class="col-lg-6">
                                <label for="afterNote" class="form-label">Nota dupa tabel</label>
                                <textarea id="afterNote" name="afterNote" type="text" [(ngModel)]="form.detNote.afterNote" #afterNote="ngModel" class="form-control" style="height:300px"></textarea>
                            </div>
                        </div>
                        <div class="row mt-3" style="display: flex; justify-content: center;">
                            <button (click)="saveNota()" class="btn btn-info" title="Salvare nota raport"><i class="fas fa-save"></i></button>
                            &nbsp;&nbsp;&nbsp;
                            <button (click)="recalcNota()" class="btn btn-info" title="Recalcul note"><i class="fas fa-laptop"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>