<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Imprumuturi - Nomenclatoare</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-3">
                        <a [routerLink]="['/app/imprumuturi/imprumuturiTermen']" class="btn btn-primary  mr-1">Termen Imprumuturi</a>
                        <a [routerLink]="['/app/imprumuturi/imprumuturiTipuri']" class="btn btn-primary  mr-1">Tipuri de imprumuturi</a>
                        <a [routerLink]="['/app/imprumuturi/dobandaDeReferinta']" class="btn btn-primary  mr-1">Dobanda de Referinta</a>
                        <a [routerLink]="['/app/imprumuturi/garantieNomenclatoare']" class="btn btn-primary  mr-1">Garantie Nomenclatoare</a>
                        <a href="{{appBaseUrl}}/assets/pdf/Conta - Imprumuturi - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
