<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Sectoare BNR
                </h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position:relative">
                    <div class="row mt-3">
                        <h4 class="panel-title col-xs-6 ">
                            Sectoare BNR - <span> {{ getCountBnrSector() }} </span>
                            <!--&nbsp;
                            <a [routerLink]="['/app/conta/bnrSector/bnrSectorAdd']" class="btn btn-info" title="Adauga"><i class="fas fa-plus"></i></a>-->
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sector</th>
                                <th>Denumire</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bnrSectorList;let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.sector }}</td>
                                <td>{{ item.denumire }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>