<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Adaugare / modificare persoana
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="col-12">

            <div class="body">
                <form #personForm="ngForm" (ngSubmit)="savePerson()" *ngIf="person !== undefined">
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset [disabled]="isDisabled">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="radio"
                                               id="personTypeLP"
                                               name="personType"
                                               value="LP"
                                               class="form-control"
                                               [(ngModel)]="person.personType"
                                               [checked]="!person.isNaturalPerson"
                                               #personType="ngModel" />

                                        <label for="personTypeLP" class="form-label"> Persoana juridica</label>
                                        <input type="radio"
                                               id="personTypeNP"
                                               name="personType"
                                               value="NP"
                                               class="form-control"
                                               [(ngModel)]="person.personType"
                                               [checked]="person.isNaturalPerson"
                                               #personType="ngModel" />

                                        <label for="personTypeNP" class="form-label"> Persoana fizica</label>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" >
                            <div class="form-group">
                                <label class="col-form-label" *ngIf="person.personType == 'LP'"
                                       for="id1">
                                    Cod fiscal
                                    <span *ngIf="id1.invalid && !id1.length">[*]</span>
                                </label>
                                <label class="col-form-label" *ngIf="person.personType == 'NP'"
                                       for="id1">
                                    CNP
                                    <span *ngIf="id1.invalid && !id1.length">[*]</span>
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!id1.invalid || id1.length"></i>
                                        <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="id1.invalid && !id1.length"></i>
                                    </span>
                                    <input type="text"
                                           id="id1"
                                           name="id1"
                                           [(ngModel)]="person.id1"
                                           #id1="ngModel"
                                           class="form-control"
                                           ngModel
                                           required />
                                    <div *ngIf="person.personType == 'LP'">
                                        <a class="btn btn-info" title="Interogare ANAF" (click)="anafFnc()"><i class="fas fa-search"></i></a>
                                    </div>
                                </div>

                            </div>
                            

                        </div>
                        
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label" *ngIf="person.personType == 'LP'"
                                           for="id2">
                                        Numar Registrul Comertului
                                        <span *ngIf="id2.invalid && !id2.length">[*]</span>
                                    </label>
                                    <label class="col-form-label" *ngIf="person.personType == 'NP'"
                                           for="id2">
                                        CI
                                        <span *ngIf="id2.invalid && !id2.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!id2.invalid || id2.length"></i>
                                            <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="id2.invalid && !id2.length"></i>
                                        </span>
                                        <input type="text"
                                               id="id2"
                                               name="id2"
                                               [(ngModel)]="person.id2"
                                               #id2="ngModel"
                                               class="form-control"
                                               required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"
                             *ngIf="!person.isNaturalPerson && person.personType == 'LP'">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="name">
                                        Nume
                                        <span *ngIf="name.invalid && !name.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!name.invalid || name.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="name.invalid && !name.length"></i>
                                        </span>
                                        <input id="name"
                                               name="name"
                                               class="form-control"
                                               [(ngModel)]="person.name"
                                               #name="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"
                             *ngIf="person.isNaturalPerson || person.personType == 'NP'">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="lastName">
                                        Nume
                                        <span *ngIf="lastName.invalid && !lastName.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!lastName.invalid || lastName.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="lastName.invalid && !lastName.length"></i>

                                        </span>
                                        <input id="lastName"
                                               name="lastName"
                                               class="form-control"
                                               [(ngModel)]="person.lastName"
                                               #lastName="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="firstName">
                                        Prenume
                                        <span *ngIf="firstName.invalid && !firstName.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!firstName.invalid || firstName.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="firstName.invalid && !firstName.length"></i>

                                        </span>
                                        <input id="firstName"
                                               name="firstName"
                                               class="form-control"
                                               [(ngModel)]="person.firstName"
                                               #firstName="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressStreet">
                                        Strada
                                        <span *ngIf="addressStreet.invalid && !addressStreet.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressStreet.invalid || addressStreet.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressStreet.invalid && !addressStreet.length"></i>

                                        </span>
                                        <input id="addressStreet"
                                               name="addressStreet"
                                               class="form-control"
                                               [(ngModel)]="person.addressStreet"
                                               #addressStreet="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressNo">
                                        Numar strada
                                        <span *ngIf="addressNo.invalid && !addressNo.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressNo.invalid || addressNo.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressNo.invalid && !addressNo.length"></i>

                                        </span>
                                        <input id="addressNo"
                                               name="addressNo"
                                               class="form-control"
                                               [(ngModel)]="person.addressNo"
                                               #addressNo="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressBlock">
                                        Bloc
                                        <span *ngIf="addressBlock.invalid && !addressBlock.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressBlock.invalid || addressBlock.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressBlock.invalid && !addressBlock.length"></i>

                                        </span>
                                        <input id="addressBlock"
                                               name="addressBlock"
                                               class="form-control"
                                               [(ngModel)]="person.addressBlock"
                                               #addressBlock="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressFloor">
                                        Etaj
                                        <span *ngIf="addressFloor.invalid && !addressFloor.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressFloor.invalid || addressFloor.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressFloor.invalid && !addressFloor.length"></i>

                                        </span>
                                        <input id="addressFloor"
                                               name="addressFloor"
                                               class="form-control"
                                               [(ngModel)]="person.addressFloor"
                                               #addressFloor="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressCountryId">
                                        Tara
                                        <span *ngIf="addressCountryId.invalid && !addressCountryId.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressCountryId.invalid || addressCountryId.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressCountryId.invalid && !addressCountryId.length"></i>
                                        </span>
                                        <select class="form-control"
                                                name="addressCountryId"
                                                [(ngModel)]="person.addressCountryId"
                                                #addressCountryId="ngModel"
                                                ngModel
                                                (change)="onSelectCountry($event)">
                                            <option *ngFor="let value of countries?.getCountry" [ngValue]="value.id">{{value.countryName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressRegionId">
                                        Sector
                                        <span *ngIf="addressRegionId.invalid && !addressRegionId.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressRegionId.invalid || addressRegionId.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressRegionId.invalid && !addressRegionId.length"></i>

                                        </span>
                                        <select class="form-control"
                                                name="addressRegionId"
                                                [(ngModel)]="person.addressRegionId"
                                                #addressRegionId="ngModel"
                                                ngModel>
                                            <option *ngFor="let value of regions?.getRegion" [ngValue]="value.id">{{value.regionName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressLocality">
                                        Localitate
                                        <span *ngIf="addressLocality.invalid && !addressLocality.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressLocality.invalid || addressLocality.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressLocality.invalid && !addressLocality.length"></i>

                                        </span>
                                        <input id="addressLocality"
                                               name="addressLocality"
                                               class="form-control"
                                               [(ngModel)]="person.addressLocality"
                                               #addressLocality="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label"
                                           for="addressZipCode">
                                        Cod postal
                                        <span *ngIf="addressZipCode.invalid && !addressZipCode.length">[*]</span>
                                    </label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fas fa-check-circle"
                                               aria-hidden="true"
                                               *ngIf="!addressZipCode.invalid || addressZipCode.length"></i>
                                            <i class="fas fa-exclamation-circle"
                                               aria-hidden="true"
                                               *ngIf="addressZipCode.invalid && !addressZipCode.length"></i>

                                        </span>
                                        <input id="addressZipCode"
                                               name="addressZipCode"
                                               class="form-control"
                                               [(ngModel)]="person.addressZipCode"
                                               #addressZipCode="ngModel"
                                               type="text"
                                               required />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="person.personType == 'LP'">
                            <div class="col-lg-6">
                                <label class="col-form-label">Platitor TVA</label>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="radio-inline">
                                                <input type="radio"
                                                       id="isVATPayer"
                                                       name="isVATPayer"
                                                       [(ngModel)]="person.isVATPayer"
                                                       #isVATPayer="ngModel"
                                                       [value]="true" />
                                                <span class="radio-label">Da</span>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio"
                                                       id="isNotVATPayer"
                                                       name="isNotVATPayer"
                                                       [value]="false"
                                                       [(ngModel)]="person.isVATPayer"
                                                       #isVATPayer="ngModel" />
                                                <span class="radio-label">Nu</span>
                                            </label>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                            <div class="col-lg-6" *ngIf="person.isVATPayer">
                                <label class="col-form-label"> De la data</label>
                                <mat-form-field style="width: 100%;">
                                    <input matInput
                                           id="data"
                                           name="data"
                                           [matDatepicker]="dataPicker"
                                           [(ngModel)]="person.startDateVATPayment"
                                           #startDateVATPayment="ngModel">
                                    <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dataPicker></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row" *ngIf="person.personType == 'LP'">
                            <div class="col-lg-6">
                                <label class="col-form-label">TVA la incasare </label>
                                <fieldset>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="radio-inline">
                                                <input type="radio"
                                                       id="isVATCollector"
                                                       name="isVATCollector"
                                                       [value]="true"
                                                       [(ngModel)]="person.isVATCollector"
                                                       #isVATCollector="ngModel" />
                                                <span class="radio-label">Da</span>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio"
                                                       id="isNotVATCollector"
                                                       name="isNotVATCollector"
                                                       [value]="false"
                                                       [(ngModel)]="person.isVATCollector"
                                                       #isVATCollector="ngModel" />
                                                <span class="radio-label">Nu</span>
                                            </label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-lg-6" *ngIf="person.isVATCollector">
                                <label class="col-form-label"> De la data</label>
                                <mat-form-field style="width: 100%;">
                                    <input matInput
                                           id="vatCollectedStartDate"
                                           name="vatCollectedStartDate"
                                           [matDatepicker]="dataPickerVATCollected"
                                           [(ngModel)]="person.vatCollectedStartDate"
                                           #vatCollectedStartDate="ngModel" />
                                    <mat-datepicker-toggle matSuffix [for]="dataPickerVATCollected"></mat-datepicker-toggle>
                                    <mat-datepicker #dataPickerVATCollected></mat-datepicker>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <a [routerLink]="['/app/nomenclatoare/person/personList']"
                                   class="btn btn-info">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="col-lg-7 col-lg-offset-4" *ngIf="isGranted('General.Persoane.Modificare')">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fas fa-check-circle"
                                           aria-hidden="true"
                                           *ngIf="!personForm.form.invalid"></i>
                                        <i class="fas fa-exclamation-circle"
                                           aria-hidden="true"
                                           *ngIf="personForm.form.invalid"></i>
                                    </span>
                                    <button class="btn btn-info"
                                            type="submit"
                                            title="Save">
                                        <i class="fas fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
</form>
            </div>
        </div>
    </section>
</div>