<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Persoane</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid" [busy]="isLoading">
            <div class="row">
                <div class="col-lg-1">
                    <label for="id1" class="col-form-label"> CIF/CNP</label>
                </div>
                <div class="col-lg-2">
                    <input id="id1" name="searchId1" class="form-control" [(ngModel)]="personInit.id1" #id1="ngModel" />
                </div>
                <div class="col-lg-1">
                    <label for="fullName" class="col-form-label"> Nume</label>
                </div>
                <div class="col-lg-2">
                    <input id="fullName" name="searchFullName" class="form-control" [(ngModel)]="personInit.fullName" #fullName="ngModel" />
                </div>
                <div class="col-lg-2">
                    <button id="searchPersonBtn" name="searchPersonBtn" title="Cautare persoane" class="btn btn-info" (click)="searchPerson()"><i class="fas fa-search"></i></button>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row">
                <div class="panel-heading">
                    <div class="row">
                        <h4 class="panel-titlecol-xs-6">
                            Persoane - <span>{{getPersonListCount()}}</span> &nbsp;
                            <a [routerLink]="['/app/nomenclatoare/person/personNew']" class="btn btn-info mr-2" title="Adauga" *ngIf="isGranted('General.Persoane.Modificare')"><i class="fas fa-plus"></i></a>
                            <button (click)="actualizarePersonal()" id="personalBtn" name="personalBtn" class="btn btn-info" title="Actualizeaza personal" *ngIf="isGranted('General.Persoane.Modificare')">Actualizeaza personal</button>
                            <a href="{{appBaseUrl}}/assets/pdf/Conta - General - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                        </h4>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-lg-2">
                    <label for="searchName"
                           class="col-form-label">Nume</label>
                    <input id="searchName"
                           name="searchName"
                           type="text"
                           [(ngModel)]="searchName"
                           #searchName="ngModel"
                           class="form-control" />
                </div>
                <div class="col-lg-1 align-self-center">
                    <button class="btn btn-info "
                            (click)="getPersonList()"
                            title="Cauta">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>-->
            <dx-data-grid id="gridContainerPersonList"
                          [dataSource]="personInit.personList"
                          [showBorders]="true"
                          [wordWrapEnabled]="true"
                          [allowColumnResizing]="true"
                           [columnAutoWidth]="true"
                          (onCellPrepared)="onCellPrepared($event)">
                <dxo-editing model="cell"
                             [allowUpdating]="false"
                             [allowAdding]="false"
                             [allowDeleting]="false">
                </dxo-editing>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                <dxo-selection mode="multiple"></dxo-selection>

                <!--<dxi-column dataField="" caption="Nr. crt." dataType="number" alignment="right" [width]="40"></dxi-column>-->
                <dxi-column dataField="id1" caption="Cod fiscal / CNP"></dxi-column>
                <dxi-column dataField="id2" caption="Numar Registrul Comertului / CI" [width]="230"></dxi-column>
                <dxi-column dataField="fullName" caption="Nume"></dxi-column>
                <dxi-column dataField="isEmployee" caption="Salariat" [width]="100"></dxi-column>
                <dxi-column type="buttons">
                    <dxi-button icon="edit" text="Modifica" [onClick]="editPerson"></dxi-button>
                    <dxi-button icon="fas fa-university" text="Conturi bancare" [onClick]="showThirdPartyAcc"></dxi-button>
                    <dxi-button icon="trash" text="Sterge" [onClick]="deletePerson"  *ngIf="isGranted('General.Persoane.Modificare')"></dxi-button>
                </dxi-column>

                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            </dx-data-grid>
            <!--<table class="table">
                <thead>
                    <tr>
                        <th style="max-width: 29px;">Nr. crt.</th>
                        <th scope="col">Cod fiscal / CNP</th>
                        <th scope="col">Numar Registrul Comertului / CI</th>
                        <th scope="col">Nume</th>
                        <th scope="col">Salariat</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let person of personInit.personList; let i = index">
                    <tr>
                        <td scope="row">{{ i + 1 }}</td>
                        <td>{{person.id1}}</td>
                        <td>{{person.id2}}</td>
                        <td>{{person.fullName}}</td>
                        <td><input id="isEmployee" name="isEmployee" type="checkbox"  style="position: relative; left:0px; opacity:100" disabled [(ngModel)]="person.isEmployee" /></td>
                        <td>
                            <a [routerLink]="['/app/nomenclatoare/person/personNew']"
                               [queryParams]="{ personId: person.id}"
                               class="btn btn-info"
                               title="Modifica"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            <a [routerLink]="['/app/nomenclatoare/thirdParty/thirdPartyAcc']"
                               [queryParams]="{ thirdPartyId: person.id }"
                               title="Conturi bancare"
                               class="btn btn-info">
                                <i class="fas fa-university"></i>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger"
                                    title="Sterge"
                                    (click)="delete(person.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>-->
        </div>

    </section>
</div>
