<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Adaugare data dare in folosinta pentru mijloc fix</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body"  [busy]="isLoading">
                <form id="asset" name="asset" #assetForm="ngForm" (ngSubmit)="saveAsset()">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="useStartDate" class="col-form-label">Data Dare in folosinta</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.useStartDate"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.useStartDate"></i>
                                </span>
                                <mat-form-field style="width: 90%;">
                                    <input matInput [matDatepicker]="useStartDatePicker" id="useStartDate"
                                           name="useStartDate" [(ngModel)]="oper.useStartDate" #useStartDate="ngModel" (ngModelChange)="setDepreciationDate()" />
                                    <mat-datepicker-toggle matSuffix [for]="useStartDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #useStartDatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="depreciationStartDate" class="col-form-label">Data Start Amortizare</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.depreciationStartDate"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.depreciationStartDate"></i>
                                </span>
                                <mat-form-field style="width: 90%;">
                                    <input matInput [matDatepicker]="depreciationStartDatePicker" id="useStartDate"
                                           name="depreciationStartDate" [(ngModel)]="oper.depreciationStartDate" #depreciationStartDate="ngModel"/>
                                    <mat-datepicker-toggle matSuffix [for]="depreciationStartDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #depreciationStartDatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="assetAccountInUseId" class="col-form-label">Cont mijloc fix</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!assetAccountInUseId.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="assetAccountInUseId.invalid"></i>
                                </span>
                                <select id="assetAccountInUseId" name="assetAccountInUseId" [(ngModel)]="oper.assetAccountInUseId" #assetAccountInUseId="ngModel" class="form-control">
                                    <option *ngFor="let res of accounts?.getAccounts" [ngValue]="res.id">{{res.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-1">
                            <a [routerLink]="['/app/conta/imoAsset/imoAssetPV']"
                               class="btn btn-info" 
                               title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-group" style="display: flex; justify-content: flex-end">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="assetForm.form.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="assetForm.form.invalid"></i>
                                </span>
                                <button *ngIf="!oper.finishAdd" class="btn btn-info" title="Salvare">
                                    <i class="fas fa-save"></i>
                                </button>
                                <a [routerLink]="['/app/conta/imoAsset/imoAssetPV']" class="btn btn-info" *ngIf="oper.finishAdd">Lista operatii</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
