<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>ImoAssetOperationView</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form name="operation" id="operation">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Operation Detail</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label class="col-form-label">Tip Operatie </label>
                            <label class="col-form-label"> {{operation.operationType}}</label>
                        </div>
                        <div class="col-lg-3">
                            <label class="form-label">Data Operatie </label>
                            <label class="form-label"> {{operation.documentDateStr}}</label>
                        </div>
                        <div class="col-lg-3">
                            <label class="col-form-label">Tip Document </label>
                            <label class="col-form-label"> {{operation.documentType}}</label>
                        </div>
                        <div class="col-lg-3">
                            <label class="col-form-label">Document </label>
                            <label class="col-form-label"> {{operation.documentNr}} / {{operation.documentDateStr}}</label>
                        </div>
                    </div>
                    <div class="row" *ngIf="operation.showStorage">
                        <div class="col-lg-3">
                            <label class="col-form-label">Magazie Intrare </label>
                            <label class="col-form-label"> {{operation.assetsStoreIn}} / {{operation.documentDateStr}}</label>
                        </div>
                        <div class="col-lg-3">
                            <label class="col-form-label">Magazie Iesire </label>
                            <label class="col-form-label"> {{operation.assetsStoreOut}} / {{operation.documentDateStr}}</label>
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Activ</th>
                                        <th scope="col" *ngIf="operation.showValues">Diferenta Val Inv</th>
                                        <th scope="col" *ngIf="operation.showValues">Diferenta Val Fiscala</th>
                                        <th scope="col" *ngIf="operation.showValues">Diferenta durata </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of operation.details">
                                        <td>{{detail.imoAssetItem}}</td>
                                        <td *ngIf="operation.showValues">{{detail.invValueModif}}</td>
                                        <td *ngIf="operation.showValues">{{detail.fiscalValueModif}}</td>
                                        <td *ngIf="operation.showValues">{{detail.durationModif}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <a [routerLink]="['/app/conta/imoAsset/imoAssetOperation']"  class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>