<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Stergere calcul gestiune </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <a [routerLink]="['/app/conta/imoAsset/imoGestList']" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
                </div>
            </div>
            <br />  

            <form id="deleteGest" name="deleteGest" #deleteGestForm="ngForm" (ngSubmit)="searchGest()">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="dataStart" class="col-form-label">Data Inceput</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                   name="dataStart" [(ngModel)]="gestList.dataStart" #dataStart="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-2">
                        <label for="dataEnd" class="col-form-label">Data Sfarsit</label>
                        <mat-form-field>
                            <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                   name="dataEnd" [(ngModel)]="gestList.dataEnd" #dataEnd="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-1">
                        <button class="btn btn-info"><i class="fas fa-search"></i></button>
                    </div>
                </div>

                <div class="panel-heading" style="position: relative;">
                    <div class="row">
                        <h4 class="panel-title col-xs-6">
                            Date de Calcul
                        </h4>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data operatiei</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let gest of gestList.gestDelDetail;let i = index">
                            <td scope="row">{{i + 1}}</td>
                            <td>{{gest.dateGest | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <button [disabled]="gestList.invalid" (click)="deleteDateGest(gest.dateGest)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </section>
</div>