<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Mijloace fixe - Coduri de clasificare</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position: relative;">
                    <div class="row">
                        <h4 class="panel-title col-xs-6">
                            Coduri de clasificare - <span>{{getImoAssetClassCodeListCount() }}</span> &nbsp;
                                                    <a [routerLink]="['/app/conta/imoAsset/imoNomClassCodeEdit']" class="btn btn-info"><i class="fas fa-plus"></i></a>
                            &nbsp;
                            <a [routerLink]="['/app/conta/imoAsset/imoNomenclatoare']" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
                        </h4>
                    </div>
                </div>
                <table class="table small-font">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Denumire</th>
                            <th scope="col">ContActiv</th>
                            <th scope="col">Cont Amortizare</th>
                            <th scope="col">Cont Cheltuiala</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Durata Minima</th>
                            <th scope="col">Durata Maxima</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let classCode of classCodeList?.getImoAssetClassCode; let i = index;">
                            <td scope="row">{{ i + 1 }}</td>
                            <td>{{classCode.code}} - {{classCode.name}}</td>
                            <td>{{classCode.assetAccount}}</td>
                            <td>{{classCode.depreciationAccount}}</td>
                            <td>{{classCode.expenseAccount}}</td>
                            <td>{{classCode.classCodeParrent}}</td>
                            <td>{{classCode.durationMin}}</td>
                            <td>{{classCode.durationMax}}</td>
                            <td>

                                <a [routerLink]="['/app/conta/imoAsset/imoNomClassCodeEdit']"
                                   [queryParams]="{classCodeId: classCode.id}"
                                   class="btn btn-info"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <button (click)="deleteClassCode(classCode.id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>