<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Mijloace fixe - Nomenclatoare</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-3">
                        <a [routerLink]="['/app/conta/imoAsset/imoNomStorage']" class="btn btn-primary  mr-1" *ngIf="isGranted('Administrare.MF.Nomenclatoare.Acces')">Gestiuni</a>
                        <a [routerLink]="['/app/conta/imoAsset/imoNomClassCode']" class="btn btn-primary  mr-1" *ngIf="isGranted('Administrare.MF.Nomenclatoare.Acces')">Coduri De Clasificare</a>
                        <a [routerLink]="['/app/conta/imoAsset/imoAssetOperDocType']" class="btn btn-primary" *ngIf="isGranted('Administrare.MF.Nomenclatoare.Acces')">Documente</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
