<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Mijloace fixe - Setup</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="setup" name="setup" #setupForm="ngForm" (ngSubmit)="saveSetup()" *ngIf="setup !== undefined">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="reserveDepreciation" class="col-form-label">Amortizare Rezerve</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!setup.reserveDepreciation.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="setup.reserveDepreciation.valid"></i>
                                </span>

                                <br />

                                <div class="custom-control custom-checkbox " style="display: block;">
                                    <input id="reserveDepreciation" name="reserveDepreciation" type="checkbox" class="custom-control-input" [(ngModel)]="setup.reserveDepreciation" #reserveDepreciation="ngModel" />
                                    <label for="reserveDepreciation" class="custom-control-label mt-2"> Calculez amortizare pentru  rezerve</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-3 mt-2">
                            <div class="input-group" style = "display: flex; justify-content: flex-end">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="setupForm.form.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!setupForm.form.valid"></i>
                                </span>
                                <button [disabled]="!setupForm.form.valid" type="submit" class="btn btn-info" title="Save"><i class="fas fa-save"></i></button>   
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
