<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Rapoarte</h3>
                    <a href="{{appBaseUrl}}/assets/pdf/Conta - Mijloace fixe - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="selectedReport" class="col-form-label">Selectati Raport</label>
                        
                    </div>
                    <div class="col-lg-4">
                        <select [(ngModel)]="selectedReport" class="form-control">
                            <option value="0" selected="selected">Registru de mijloace fixe la data</option>
                            <option value="1" selected="selected">Fisa mijlocului fix</option>
                            <!--<option value="2" selected="selected">Lista inventariere mijloace fixe</option>-->
                            <option value="3" selected="selected">Situatia mijloacelor fixe la data</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="dataStart" class="col-form-label"> Data</label>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field  *ngIf="selectedReport != '2'">
                            <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                   name="dataStart" [(ngModel)]="repDate" required />
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                        <select id="dataStart" name="dataStart" class="form-control" [(ngModel)]="imoAssetReportParams.invOperId"  *ngIf="selectedReport == '2'">
                            <option *ngFor="let item of imoAssetList" [ngValue]="item.id">{{item.invObjectDate}}</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="selectedReport != '1'">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="storageId" class="col-form-label"> Gestiune</label>
                        </div>
                        <div class="col-lg-2">
                            <select id="storageId" name="storageId" [(ngModel)]="storageId" class="form-control">
                                <option value="null">Toate gestiunile</option>
                                <option *ngFor="let storage of storageList.getImoAssetStorage" [ngValue]="storage.id">{{ storage.storageName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedReport == '1'">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="inventoryNr" class="col-form-label"> Numar inventar</label>
                        </div>
                        <div class="col-lg-2">
                            <input id="inventoryNr" type="text" name="inventoryNr" [(ngModel)]="inventoryNr" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <button (click)="showReport()" class="btn btn-info">Raport</button>
                </div>
            </div>
        </div>
    </section>
</div>