<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            

            <div class="row">
                <div class="col-12">
                    <h2></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-3">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-3">
                        <h2>
                            Imprumuturi <span>({{ getImprumuturiCount() }})</span>&nbsp;
                            <button [routerLink]="['/app/imprumuturi/imprumuturiEdit']" class="btn btn-info" title="Adauga"><i class="fas fa-plus">  </i></button>
                            <a href="{{appBaseUrl}}/assets/pdf/Conta - Imprumuturi - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>


                        </h2>


                    </div>

                    <div class="col-lg-3 col-lg-offset-3 alignContent">
                        <h3>

                            Actualizare Robor&nbsp;&nbsp;

                            <button (click)="updateRobor()"
                                    class="btn btn-info"
                                    title="Update">
                                <i class="fas fa-sync"></i>
                            </button>&nbsp;
                        </h3>
                    </div>
                </div>
                <div class="row">
                    
                    </div>
                    <div class="row">
                        <div class="col-lg-2 alignContent">
                            <label for="dataStart" class="col-form-label">
                                Data inceput
                            </label>
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="startDate"
                                       name="startDate"
                                       [matDatepicker]="startdatePicker"
                                       [formControl]="myControlStartDate"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="startdatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startdatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2 alignContent">
                            <label for="dataStart" class="col-form-label">
                                Data sfarsit
                            </label>
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="endDate"
                                       name="endDate"
                                       [matDatepicker]="enddatePicker"
                                       [formControl]="myControlEndDate"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="enddatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #enddatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 alignContent">
                            <label for="dataStart" class="col-form-label">
                                Numar Document
                            </label>
                            <mat-form-field class="example-full-width" appearance="fill">

                                <input type="text"
                                       placeholder="completeaza"
                                       aria-label="Numar Document"
                                       matInput
                                       [formControl]="myControl2"
                                       [matAutocomplete]="docnr">

                                <mat-autocomplete autoActiveFirstOption #docnr="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptionsDocumentNr | async" [value]="option.documentNr" [ngValue]="option.id">
                                        {{option.documentNr}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 alignContent">
                            <label for="tipImprumut" class="col-form-label">
                                Tip Imprumut
                            </label>
                            <mat-form-field class="example-full-width" appearance="fill">

                                <input type="text"
                                       placeholder="completeaza"
                                       aria-label="Tip Imprumut"
                                       matInput
                                       [formControl]="myControl"
                                       [matAutocomplete]="tipimprumut">


                                <mat-autocomplete autoActiveFirstOption #tipimprumut="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptionsTipuri | async" [value]="option.description" [ngValue]="option.id">
                                        {{option.description}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td scope="col"><b>#</b></td>
                                        <td scope="col"><b>Tip Document</b></td>
                                        <td scope="col"><b>Tip Creditare</b></td>
                                        <td scope="col"><b>Numar Document</b></td>
                                        <td scope="col"><b>Data document</b></td>
                                        <td scope="col"><b>Tip imprumut</b></td>
                                        <!--<td scope="col"><b>Cont imprumut</b></td>
                                        <td scope="col"><b>Cont plata</b></td>-->
                                        <!--<td scope="col"><b>Data Angajament</b></td>
                                        <td scope="col"><b>Data inceput/Data sfarsit</b></td>
                                        <td scope="col"><b>Durata</b></td>
                                        <td scope="col"><b>Termen imprumut</b></td>-->
                                        <td scope="col"><b>Suma</b></td>
                                        <td scope="col"><b>Tip Dobanda</b></td>
                                        <td><b>Rate/Operatiuni</b></td>
                                        <td><b>Comisioane</b></td>
                                        <td><b>Operatii Comision/Dobanda</b></td>
                                        <td><b>Istoric</b></td>
                                        <td><b>Garantii</b></td>
                                        <td><b>Editare</b></td>
                                        <td><b>Delete</b></td>

                                    </tr>
                                </thead>
                                <tbody *ngFor="let element of displayedOptions; let i = index">
                                    <tr>
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>{{ element.documentType }}</td>
                                        <td>{{ element.tipCreditare }}</td>
                                        <td>{{ element.documentNr }}</td>
                                        <td>{{ element.documentDate | date: 'dd/MM/yyyy' }}</td>
                                        <td>{{ element.imprumuturiTipuri}}</td>
                                        <!--<td>{{ element.loanAccount}}</td>
                                        <td>{{ element.paymentAccount}}</td>-->
                                        <!--
                                          <td>{{ element.loanDate | date: 'dd/MM/yyyy' }}</td>
                                        <td><div *ngIf="element.tipCreditare == 'Credit'">{{ element.startDate | date: 'dd/MM/yyyy'}} - {{element.endDate | date: 'dd/MM/yyyy'}}</div></td>
                                        <td><div *ngIf="element.tipCreditare == 'Credit'">{{ element.durata}} {{ element.imprumuturiTipDurata}}</div></td>

                                        <td>{{ element.imprumuturiTermen}}</td>-->
                                        <td>{{ element.suma}}</td>
                                        <td>{{ element.tipDobanda}}</td>
                                        <td>
                                            <button [routerLink]="['/app/rate/imprumuturiRateList']"
                                                    [queryParams]="{ imprumutId: element.id }"
                                                    class="btn btn-info"
                                                    title="Rate"
                                                    *ngIf="element.tipCreditare == 'Credit'">

                                                <i class="far fa-sticky-note"></i>
                                            </button>
                                        </td>
                                        <td>
                                            
                                            <button [routerLink]="['/app/imprumuturi/imprumuturiComisioaneV2List']"
                                                    [queryParams]="{ imprumutId: element.id }"
                                                    class="btn btn-info"
                                                    title="Comisioane">

                                                <i class="fas fa-coins"></i>
                                            </button>
                                        </td>
                                        
                                        <td>
                                            <button [routerLink]="['/app/imprumuturi/OperatieComisionDobanda']"
                                                    [queryParams]="{ imprumutId: element.id }"
                                                    class="btn btn-info"
                                                    title="OperatieComisionDobanda">

                                                <i class="fas fa-file"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button [routerLink]="['/app/imprumuturi/imprumuturiState']"
                                                    [queryParams]="{ imprumutId: element.id }"
                                                    class="btn btn-info"
                                                    title="Istoric">

                                                <i class="fas fa-history"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button [routerLink]="['/app/imprumuturi/imprumuturiGarantiiList']"
                                                    [queryParams]="{ imprumutId: element.id }"
                                                    class="btn btn-info"
                                                    title="Garantii">

                                                <i class="fas fa-file-alt"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button [routerLink]="['/app/imprumuturi/imprumuturiEdit']"
                                                    [queryParams]="{ imprumutId: element.id }"
                                                    class="btn btn-info"
                                                    title="Modifica">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>


                                            <button (click)="delete(element.id)"
                                                    class="btn btn-danger"
                                                    title="Sterge">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                        </tbody>

                        </table>
                    </div>
                    </div>
                </div>
        </div>
    </section>
</div>