<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Adaugare / Modificare schimb valutar</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="exchangeForm" #exchangeForm="ngForm" (ngSubmit)="save()" [busy]="isLoading">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="operationDate" class="col-form-label"> Data tranzactie</label>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field style="width: 95%;">
                                <input matInput
                                       id="operationDate"
                                       name="operationDate"
                                       [matDatepicker]="operationDatePicker"
                                       [(ngModel)]="exchange.operationDate">
                                <mat-datepicker-toggle matSuffix [for]="operationDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #operationDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2">
                            <label for="exchangeDate" class="col-form-label"> Data valuta</label>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field style="width: 95%;">
                                <input matInput
                                       id="exchangeDate"
                                       name="exchangeDate"
                                       [matDatepicker]="exchangeDatePicker"
                                       [(ngModel)]="exchange.exchangeDate">
                                <mat-datepicker-toggle matSuffix [for]="exchangeDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #exchangeDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="exchangeOperType" class="col-form-label"> Tip operatie</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="exchangeOperType" name="exchangeOperType" [(ngModel)]="exchange.exchangeOperType" #exchangeOperType="ngModel" class="form-control" (change)="changeOperTypeCurrencyCode()">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let exchangeOperType of exchangeOperTypeList" [ngValue]="exchangeOperType.id">{{ exchangeOperType.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="currencyId" class="col-form-label"> Valuta</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="currencyId" name="currencyId" [(ngModel)]="exchange.currencyId" #currencyId="ngModel" class="form-control" (change)="changeCurrencyCode()">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{ currency.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label for="bankLeiId" class="col-form-label"> Banca lei</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="bankLei" name="bankLeiId" [(ngModel)]="exchange.bankLeiId" #bankLeiId="ngModel" class="form-control" (change)="getBankAccountsLei()">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of bankLeiList" [ngValue]="item.id">{{ item.bankName }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="bankValutaId" class="col-form-label"> Banca valuta</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="bankValutaId" name="bankValutaId" [(ngModel)]="exchange.bankValutaId" #bankValutaId="ngModel" class="form-control" (change)="getBankAccountsValuta()">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of bankValutaList" [ngValue]="item.id">{{ item.bankName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label for="bankAccountLeiId" class="col-form-label"> Iban lei</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="bankAccountLeiId" name="bankAccountLeiId" [(ngModel)]="exchange.bankAccountLeiId" #bankAccountLeiId="ngModel" class="form-control" >
                                <option [ngValue]="null"> Selecteaza</option>
                                <option *ngFor="let bankAccount of bankAccountsLeiList" [ngValue]="bankAccount.id">{{ bankAccount.iban }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="bankAccountValutaId" class="col-form-label"> Iban valuta</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="bankAccountValutaId" name="bankAccountValutaId" [(ngModel)]="exchange.bankAccountValutaId" #bankAccountValutaId="ngModel" class="form-control">
                                <option [ngValue]="null"> Selecteaza</option>
                                <option *ngFor="let bankAccount of bankAccountsValutaList" [ngValue]="bankAccount.id">{{ bankAccount.iban }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label for="value" class="col-form-label"> Suma tranzactie</label>
                        </div>
                        <div class="col-lg-2">
                            <input id="value" name="value" [(ngModel)]="exchange.value" #value="ngModel" class="form-control" (ngModelChange)="exchangeValue()"/>
                        </div>
                        <div class="col-lg-2">
                           <label for="currencyCode" class="form-control">{{exchange.currencyCode}}</label>
                        </div>
                        <div class="col-lg-2">
                            <label for="exchangeRate" class="col-form-label"> Curs de schimb</label>
                        </div>
                        <div class="col-lg-4">
                            <input id="exchangeRate" name="exchangeRate" [(ngModel)]="exchange.exchangeRate" #exchangeRate="ngModel" class="form-control" (ngModelChange)="exchangeValue()" />
                                
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="exchangedValue" class="col-form-label"> Suma incasata</label>
                        </div>
                        <div class="col-lg-2">
                            <input id="exchangedValue" name="exchangedValue" [(ngModel)]="exchange.exchangedValue" #exchangedValue="ngModel" class="form-control" readonly />
                        </div>
                        <div class="col-lg-2">
                            <label for="localCurrencyCode" class="form-control">{{exchange.localCurrencyCode}}</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label for="operationType" class="col-form-label"> Operatiune</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="operationType" name="operationType" [(ngModel)]="exchange.operationType" #operationType="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let exchangeType of exchangeTypeList" [ngValue]="exchangeType.id">{{ exchangeType.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="activityTypeId"> Tip activitate</label>
                        </div>
                        <div class="col-lg-4">
                            <select id="activityTypeId" name="activityTypeId" [(ngModel)]="exchange.activityTypeId" #activityTypeId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of activityTypeList" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <a class="btn btn-info" [routerLink]="['/app/economic/exchange/exchangeList']" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                        </div>
                        <div class="col-lg-4" style = "display: flex; justify-content: flex-end">
                            <button class="btn btn-info" title="Salveaza" type="submit"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>