<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Anexe BNR</h3>
                    <a href="{{appBaseUrl}}/assets/pdf/Conta - Raportare BNR - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-0">
                    <label for="anexaParent" class="col-form-label">Anexa:</label>
                </div>
                <div class="col-lg-2">
                    <select name="anexaId" id="anexaId" [(ngModel)]="anexaId" (ngModelChange)="onChangeAnexaParent($event)" class="form-control">
                        <option *ngFor="let item of anexaList"
                                [ngValue]="item.id">
                            {{item.denumire}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <dx-data-grid id="gridContainer"
                              [dataSource]="anexaDetails"
                              [showBorders]="true"
                              [allowColumnResizing]="true"
                              [wordWrapEnabled]="true"
                              (onCellPrepared)="onCellPrepared($event)"
                              (onEditorPreparing)="editRowFormula($event)">
                    <dxo-paging [enabled]="false"></dxo-paging>
                    <dxo-editing mode="cell"
                                 [allowUpdating]="true"
                                 [allowAdding]="false"
                                 [allowDeleting]="false">
                    </dxo-editing>
                    <dxo-group-panel [visible]="true"></dxo-group-panel>
                    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                    <dxo-selection mode="multiple"></dxo-selection>

                    <dxi-column dataField="nrCrt" caption="Nr. crt." [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="denumireRand" caption="Denumire rand" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="codRand" caption="Cod rand" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="eDinConta" caption="E Din Conta" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="formulaConta" caption="Formula conta"></dxi-column>
                    <dxi-column dataField="formulaCresteri" caption="Formula cresteri"></dxi-column>
                    <dxi-column dataField="formulaReduceri" caption="Formula reduceri"></dxi-column>
                    <dxi-column dataField="formulaTotal" caption="Formula total" [allowEditing]="true"></dxi-column>
                    <dxi-column dataField="tipInstrument" caption="Tip instrument" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="tipTitlu" caption="Tip titlu" [allowEditing]="false"></dxi-column>
                    <dxi-column dataField="sectorizare" caption="Sectorizare" [allowEditing]="false"></dxi-column>

                    <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                </dx-data-grid>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 col-lg-offset-5 alignContent">
                    <button class="btn btn-info" style="float: right" title="Salveaza" (click)="save()"><i class="fas fa-save"></i></button>
                </div>
            </div>

            <div style="display: flex;justify-content: center">
                <div class="col-lg-6 col-lg-offset-3 table-bordered">
                    Pentru elemente din balanta : <br />
                    OSID – sold initial debitor / OSIC – sold initial creditor<br />
                    ORLD – rulaj lunar debitor / ORLC – rulaj lunar creditor<br />
                    OSFD – sold final debitor / OSFC – sold final creditor<br />
                    ORD – rulaj pe an pe debit / ORC – rulaj pe an pe credit<br />
                    <br />
                    Ex: rulaj lunar debitor cont 4016: $ORLD#4016$<br />
                    <br />
                    Sunt permise folosirea operatiilor matematice de inmultire, impartire si a parantezelor<br />
                    Ex. formula rulaje debitor cont 4011 + 4016, totul inmultit cu 10:<br />
                    ($ORLD#4011$+$ORLD#4016$)*10<br />
                    <br />
                    In cazul in care anumite valori sunt luate in considerare daca sunt pozitive atunci expresia se incadreaza intre &
                    Ex. &$ORC#746$-$ORD#646$& aceasta expresie este luata in calcul doar daca diferenta rulajelor creditoare ale contului 746 si rulajelor debitoare ale contului 646 este pozitiva.

                </div>
            </div>
        </div>
    </section>
</div>