<form class="form-horizontal"
      autocomplete="off"
      #bnrConturiDetailsForm="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'  Detalii calcul'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <div class="row mt-3">
                <table class="table table-responsive mr-2 ml-2">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Cont</th>
                            <th>Denumire</th>
                            <th>Sector</th>
                            <th>Sold Debit</th>
                            <th>Sold Credit</th>
                            <th>Valoare</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bnrConturiList;let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.account }}</td>
                            <td>{{ item.denumire }}</td>
                            <td>
                                <select id="sectorId_{{i}}" name="sectorId_{{i}}" [(ngModel)]="item.sectorId" #sectorId="ngModel" class="form-control">
                                    <option [ngValue]="null">Selecteaza</option>
                                    <option *ngFor="let sector of sectorList" [ngValue]="sector.id">{{ sector.denumire }}</option>
                                </select>
                            </td>
                            <td class="alignSum">{{ item.soldDb | number: '1.2' }}</td>
                            <td class="alignSum">{{ item.soldCr | number: '1.2' }}</td>
                            <td class="alignSum">{{ item.value | number: '1.2' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <abp-modal-footer [saveDisabled]="!bnrConturiDetailsForm.form.valid && isGranted('Conta.BNR.Conturi.Acces')"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>

