<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Calcul BNR Conturi</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid" [busy]="isLoading">
            <div class="row">
                <div class="col-lg-1">
                    <label for="balanceIdToCompute" class="col-form-label">Balante:</label>
                </div>
                <div class="col-lg-2">
                    <select name="balanceIdToCompute" id="balanceIdToCompute" [(ngModel)]="balanceIdToCompute" class="form-control">
                        <option [ngValue]="0">Selecteaza</option>
                        <option *ngFor="let item of balanceList"
                                [ngValue]="item.id">
                            {{item.balanceDesc}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-1">
                    <button id="computeSector" name="computeSector" class="btn  btn-info" title="Calculeaza" (click)="compute()" *ngIf="isGranted('Conta.BNR.Conturi.Acces')"><i class="fa fa-laptop"></i></button>
                    <a href="{{appBaseUrl}}/assets/pdf/Conta - Raportare BNR - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                </div>
            </div>
            <hr />
            <div class="panel-heading" style="position: relative;">
                <div class="row">
                    <h4 class="panel-title col-xs-6">
                      Calcule efectuate
                    </h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data calcul</th>
                                <th>Tip balanta</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of sectorBalanceList;let i = index" [ngClass]="{'highlight': item.balanceId == selectedBalanceRow}">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.balanceDate| date: 'dd/MM/yyyy' }}</td>
                                <td>{{ item.balanceDesc }}</td>
                                <td>
                                    <button class="btn btn-info" title="Detalii" (click)="showRowsList(item.balanceId)"><i class="fas fa-list"></i></button>
                                    <button class="btn btn-info ml-2" [disabled]="item.allowCompute === false" id="computeButton_{{i}}" name="computeButton_{{i}}" title="Calculeaza raportare" (click)="computeRaportare(item.balanceId)"><i class="fas fa-laptop"></i></button>
                                    <button class="btn btn-danger ml-2" title="Sterge" (click)="delete(item.balanceId)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-4" *ngIf="showRows">
                    <div class="row col-lg-4">
                        <label for="anexaId" class="col-form-label">Anexa</label>
                        <select id="anexaId" name="anexaId " [(ngModel)]="anexaId"  class="form-control" (ngModelChange)="onChangeShowDetails(anexaId)">
                            <option *ngFor="let item of anexaList" [ngValue]="item.id">{{ item.denumire }}</option>
                        </select>
                    </div>
                    <table class="table table-responsive mt-1">
                        <thead>
                            <tr>
                                <th>Rand</th>
                                <th>Denumire</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let det of sectorDetails" [ngClass]=" det.isSectored ?  ( det.anexaDetailId === selectedRow ? 'highlight' :  'none') : 'unsectored' ">
                                <td>{{ det.nrCrt }}</td>
                                <td>{{ det.denumire}}</td>
                                <td>
                                    <button class="btn btn-info" title="Detaliu rand" (click)="showRowDetails(det.anexaDetailId, det.balanceId)"><i class="fas fa-list"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4" style="padding-top:80px" *ngIf="showRowDetail" >               
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sector</th>
                                <th>Denumire</th>
                                <th>Valoare</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let sectorDet of sectorList;let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ sectorDet.sectorCod }}</td>
                                <td>{{ sectorDet.denumire}}</td>
                                <td class="alignSum">{{sectorDet.value| number:'1.2' }}</td>
                                <td>
                                    <a class="btn btn-info" title="Detalii sector" (click)="showDetailDialog(sectorDet.rowId, sectorDet.sectorId)"><i class="fas fa-list"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>