<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Raportare BNR</h3>
                <a href="{{appBaseUrl}}/assets/pdf/Conta - Raportare BNR - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position:relative">
                    <div class="row mt-3">
                        <h4 class="panel-title col-xs-6 ">
                            Raportari - <span> {{ getCountRaportareBNR() }} </span>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data balanta</th>
                                    <th>Tip balanta</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of raportareBNR;let i = index" [ngClass]="{'highlight': item.savedBalanceId == selectedRaportareRow}">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.savedDate | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ item.balanceName }}</td>
                                    <td>
                                        <a class="btn btn-info" (click)="showRaportareRand(item.savedBalanceId)" title="Detalii rand"><i class="fas fa-list"></i></a>
                                        <button class="btn btn-info ml-3" title="Recalcul" (click)="computeRaportare(item.savedBalanceId)"><i class="fas fa-save"></i></button>
                                        <button class="btn btn-danger ml-3" title="Sterge" (click)="delete(item.savedBalanceId)"><i class="fas fa-trash"></i></button>
                                        <button id="downloadReport" (click)="showReport(item.savedBalanceId)" class="btn btn-info ml-3" title="Genereza raport"><i class="fas fa-download"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4" *ngIf="showRow">
                        <div class="row">
                            <div class="col-lg-1">
                                <label for="anexaId" class="col-form-label">Anexa</label>
                            </div>
                            <div class="col-lg-3">
                                <select id="anexaId" name="anexaId " [(ngModel)]="anexaId" class="form-control" (ngModelChange)="onChangeShowDetails(anexaId)">
                                    <option *ngFor="let item of anexaList" [ngValue]="item.id">{{ item.denumire }}</option>
                                </select>
                            </div>
                            <button id="detailExcel" (click)="showRaportareBNRDetailDialog()" class="btn btn-info" title="Detalii excel"><i class="fas fa-file-excel"></i></button>
                        </div>
                        <table class="table table-responsive mt-2">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Denumire rand</th>
                                    <th>Sector</th>
                                    <th>Valoare</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of raportareRows;let i = index" [ngClass]="{'highlight': item.id == selectedRow}">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.anexaDetailName }}</td>
                                    <td>{{ item.sectorName }}</td>
                                    <td class="alignSum">{{ item.valoare | number: '1.2' }}</td>
                                    <td>
                                        <a class="btn btn-info" (click)="showRaportareRowDetails(item.id)" title="Detalii rand"><i class="fas fa-list"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-4" style="padding-top:45px" *ngIf="showRowDetail">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Descriere</th>
                                    <th>Valoare</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of raportareRowDetails;let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ item.descriere }}</td>
                                    <td class="alignSum">{{ item.valoare | number: '1.2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>