<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Adaugare / modificare Garantie Imprumut</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form #imprumuturiTermenForm="ngForm" (ngSubmit)="saveGarantie()">


                    <div class="row">

                        <div class="col-lg-2 alignContent">
                            <label for="DataPicke" class="col-form-label"> Data </label>
                        </div>

                        <div class="col-lg-2 alignContent">

                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="DataPicker"
                                       name="DataPicker"
                                       [matDatepicker]="DataPicker"
                                       [(ngModel)]="dateDobanziReferinta.data"
                                       #dataDocument="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="DataPicker"></mat-datepicker-toggle>
                                <mat-datepicker #DataPicker></mat-datepicker>
                            </mat-form-field>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 alignContent">
                            <label for="valoare" class="col-form-label"> Valoare </label>
                        </div>
                        <div class="col-lg-3 alignContent">
                            <input id="valoare" name="valoare" class="form-control" [(ngModel)]="dateDobanziReferinta.valoare" #name="ngModel" />
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-5">
                            <a [routerLink]="['/app/imprumuturi/dateDobandaDeReferinta']"
                               [queryParams]="{ dobanziReferintaId: dateDobanziReferinta.dobanziReferintaId}"
                               class="btn btn-info"
                               title="Inapoi">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-info"
                                        title="Save"
                                        [disabled]="imprumuturiTermenForm.form.invalid">
                                    <i class="fas fa-save"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>