<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-3">
                    <h2>
                        Dobanzi: <span>({{ getDobanziReferintaCount() }})</span>&nbsp;
                        <a [routerLink]="['/app/imprumuturi/imprumuturiNomenclatoare']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left">  </i></a>
                        &nbsp;

                        <a [routerLink]="['/app/imprumuturi/dobandaDeReferintaEdit']" class="btn btn-info" title="Adauga"><i class="fas fa-plus">  </i></a>
                        <a href="{{appBaseUrl}}/assets/pdf/Conta - Imprumuturi - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                    </h2>

                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div>

                    </div>

                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td scope="col">#</td>
                                    <td scope="col">Dobanda</td>
                                    <td scope="col">Descriere</td>
                                    <td scope="col">Perioada De Calcul</td>
                                    <td>Date</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let dob of dobanziReferintaList; let i = index">
                                <tr>
                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>{{ dob.dobanda }}</td>
                                    <td>{{ dob.descriere }}</td>
                                    <td>{{ dob.perioadaCalcul }}</td>
                                    <td>
                                        <button [routerLink]="['/app/imprumuturi/dateDobandaDeReferinta']"
                                                [queryParams]="{ dobanziReferintaId: dob.id }"
                                                class="btn btn-info"
                                                title="Modifica">

                                            <i class="fas fa-file-alt"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button [routerLink]="['/app/imprumuturi/dobandaDeReferintaEdit']"
                                                [queryParams]="{ dobanziReferintaId: dob.id }"
                                                class="btn btn-info"
                                                title="Modifica">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>

                                    <td>
                                        <button (click)="delete(dob.id)"
                                                class="btn btn-danger"
                                                title="Sterge">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>