<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Adaugare / modificare Dobanda de Referinta</h2>
                </div>
            </div>
        </div>
    </section>


    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form #imprumuturiTipuriForm="ngForm" (ngSubmit)="saveDobanda()">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="dobanda" class="col-form-label"> Dobanda </label>
                        </div>
                        <div class="col-lg-3">
                            <input id="dobanda" name="dobanda" class="form-control" [(ngModel)]="dobanziReferinta.dobanda" #name="ngModel" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="descriere" class="col-form-label"> Descriere </label>
                        </div>
                        <div class="col-lg-3">
                            <input id="descriere" name="descriere" class="form-control" [(ngModel)]="dobanziReferinta.descriere" #name="ngModel" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="perioadaCalcul" class="col-form-label"> Perioada Calcul </label>
                        </div>
                        <div class="col-lg-3">
                            <input id="perioadaCalcul" name="perioadaCalcul" class="form-control" [(ngModel)]="dobanziReferinta.perioadaCalcul" #name="ngModel" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <a [routerLink]="['/app/imprumuturi/dobandaDeReferinta']"
                               class="btn btn-info"
                               title="Inapoi">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-info"
                                        title="Save"
                                        [disabled]="imprumuturiTipuriForm.form.invalid">
                                    <i class="fas fa-save"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>