<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Adaugare / modificare Termen Imprumut</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form #imprumuturiTermenForm="ngForm" (ngSubmit)="saveTermen()">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="description" class="col-form-label"> Descriere </label>
                        </div>
                        <div class="col-lg-3">
                            <input id="description" name="description" class="form-control" [(ngModel)]="imprumuturiTermen.description" #name="ngModel" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="minValue" class="col-form-label"> De la: (ani)</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="minValue" name="minValue" class="form-control" [(ngModel)]="imprumuturiTermen.minValue" #name="ngModel" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="maxValue" class="col-form-label"> Pana la: (ani)</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="maxValue" name="maxValue" class="form-control" [(ngModel)]="imprumuturiTermen.maxValue" #name="ngModel" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <a [routerLink]="['/app/imprumuturi/imprumuturiTermen']"
                               class="btn btn-info"
                               title="Inapoi">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-info"
                                        title="Save"
                                        [disabled]="imprumuturiTermenForm.form.invalid">
                                    <i class="fas fa-save"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>