<form class="form-horizontal"
      autocomplete="off"
      #duplicateBugetPrevForm="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'Duplicare buget prevazut'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="dataBuget">
                Data
            </label>
            <div class="col-md-9">
                <mat-form-field style="width: 100%;">
                    <input matInput
                           id="dataBuget"
                           name="dataBuget"
                           [matDatepicker]="dataBugetPicker"
                           [(ngModel)]="dataBuget" />
                    <mat-datepicker-toggle matSuffix [for]="dataBugetPicker"></mat-datepicker-toggle>
                    <mat-datepicker #dataBugetPicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="descriere">
                Descriere
            </label>
            <div class="col-md-9">
                <input id="descriere" name="descriere" [(ngModel)]="descriere" class="form-control" />
            </div>
        </div>
    </div>
    <abp-modal-footer [saveDisabled]="!duplicateBugetPrevForm.form.valid && isGranted('Buget.BVC.Prevazut.Modificare')"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>

