<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <a class="btn btn-info" title="Inapoi" [routerLink]="['/app/economic/paymentOrders/paymentOrders']"><i class="fas fa-arrow-left"></i></a>
                        Export ordine de plata
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-1">
                        <label for="banca" class="col-form-label"> Banca</label>
                    </div>
                    <div class="col-lg-4">
                        <select id="banca" name="banca" [(ngModel)]="bankForBenefId" class="form-control" (change)="searchOP()">
                            <option *ngFor="let item of bankForBenef.getBank" [ngValue]="item.id">{{item.bankName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3" *ngIf="opList.length > 0">
                    <div class=" col-12">
                        <h4>Ordine de plata - {{getOPCount()}}</h4>
                    </div>
                    <div>
                        <table  class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nr ordine</th>
                                    <th>Data emitere</th>
                                    <th>Beneficiar</th>
                                    <th>Cont beneficiar</th>
                                    <th>Valoare</th>
                                    <th>Moneda</th>
                                    <th>Reprezinta</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of opList; let i = index">
                                    <td>
                                        <input id="selectedOP_i" name="selectedOP_i" type="checkbox" [(ngModel)]="item.selected" #selected="ngModel" />

                                    </td>
                                    <td>{{ item.orderNr }}</td>
                                    <td>{{ item.orderDate | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{ item.beneficiary }}</td>
                                    <td>{{ item.benefBankAccount }}</td>
                                    <td>{{ item.value | number: '1.2' }}</td>
                                    <td>{{ item.currency }}</td>
                                    <td>{{ item.paymentDetails }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row"  *ngIf="opList.length > 0">
                    <div class="col-lg-6">
                        <button id="exportBT" name="exportBT" class="btn btn-info" title="Exporta OP" (click)="exportToCSV()">Exporta</button>
                    </div>
                    </div>
                </div>
        </div>
    </section>
</div>
