<form class="form-horizontal"
      autocomplete="off"
      #rowDetailForm="ngForm">
    <abp-modal-header [title]="'Detalii rand'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <table class="table table-responsive mr-2 ml-2" style="width: 100% !important">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descriere</th>
                    <th scope="col">Valoare</th>
                    <th scope="col">Moneda</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bugetRealizatRowDetList;let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.descriere }}</td>
                    <td class="alignSum">{{ item.valoare | number:'1.2' }}</td>
                    <td>{{ item.currencyName }}</td>
            </tbody>
        </table>
    </div>

    <!--<abp-modal-footer [save]="true"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>-->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    </div>
</form>

