<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Categorii elemente factura  ({{ getCount() }})</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <button class="btn btn-info"
                            title="Adaugare"
                            [routerLink]="['/app/conta/nomenclatoare/categoryElements/categoryDetailElementsNew']">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                <table class="table table-responsive mt-3">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Categorie element</th>
                            <th scope="col">Tip categorie</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let element of elementDetailsCategoryList; let i = index">
                        <tr>
                            <td scope="row">{{ i + 1}}</td>
                            <td>{{element.categoryElementDetName}}</td>
                            <td>{{ element.categoryType }}</td>
                            <td>
                                <button [routerLink]="['/app/conta/nomenclatoare/categoryElements/categoryDetailElementsNew']"
                                        [queryParams]="{id: element.id}"
                                        class="btn btn-info"
                                        title="Modifica">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        title="Sterge" (click)="delete(element.id)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
