<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-3">
                    <h2>
                        Operatii Comision Imprumut: &nbsp;
                        
                        <a [routerLink]="['/app/imprumuturi/imprumuturiList']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left">  </i></a>
                    </h2>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div>
                       
                    </div>
                
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">

                        <table class="table">

                            <thead>
                                <tr>
                                    <td scope="col"><b>#</b></td>
                                    <td scope="col"><b>Tip Operatie</b></td>
                                    <td scope="col"><b>Data Start</b></td>
                                    <td scope="col"><b>Data Sfarsit</b></td>
                                    
                                    <td></td>
                                </tr>
                            </thead>



                            <tbody>
                                <tr *ngFor="let element of operatieList.operatieComision; let i = index ; last as isLast">

                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>
                                        <select id="tipOperatieDobandaComision" name="tipOperatieDobandaComision" [(ngModel)]="element.tipOperatieDobandaComision" class="form-control" [disabled]="true">
                                            <option value="0"> Comision </option>
                                            <option value="1"> Dobanda </option>
                                        </select>
                                    </td>


                                    <td>{{element.dataStart | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{element.dataEnd | date: 'dd/MM/yyyy'}}</td>
                                    <td><button *ngIf="isLast" class="btn btn-danger" (click)="operationDelete(element.id)"
                                                title="Adauga">
                                            <i class="fas fa-trash"></i>
                                        </button></td>
                                </tr>
                                <tr *ngFor="let element of operatieList.operatieDobanda; let i = index ; last as isLast">

                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>
                                        <select id="tipOperatieDobandaComision" name="tipOperatieDobandaComision" [(ngModel)]="element.tipOperatieDobandaComision" class="form-control" [disabled]="true">
                                            <option value="0"> Comision </option>
                                            <option value="1"> Dobanda </option>
                                        </select>
                                    </td>


                                    <td>{{element.dataStart | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{element.dataEnd | date: 'dd/MM/yyyy'}}</td>
                                    <td><button *ngIf="isLast" class="btn btn-danger" (click)="operationDelete(element.id)"
                                                title="Adauga">
                                            <i class="fas fa-trash"></i>
                                        </button></td>
                                </tr>
                                <tr>
                                    <td scope="row"></td>
                                    <td>
                                        <select id="tipOperatieDobandaComision" name="tipOperatieDobandaComision" [(ngModel)]="newOperatie.tipOperatieDobandaComision" class="form-control">
                                            <option value="0"> Comision </option>
                                            <option value="1"> Dobanda </option>
                                            <option value="2"> Dobanda + Comision </option>
                                        </select>
                                    </td>


                                    <td>
                                        <mat-form-field style="width: 150px;">
                                            <input matInput
                                                   name="operationDateEnd"
                                                   [matDatepicker]="OperationDateEndPicker"
                                                   [(ngModel)]="newOperatie.dataEnd"
                                                   #operationDate="ngModel"
                                                   required />
                                            <mat-datepicker-toggle matSuffix [for]="OperationDateEndPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #OperationDateEndPicker></mat-datepicker>
                                        </mat-form-field>
                                    </td>

                                    <td>
                                        <button class="btn btn-info" (click)="saveOperatieComisionDobanda()"
                                                title="Adauga">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>


                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>