<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Pregatire contare</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body" [busy]="isLoading">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="dataStart" class="col-form-label">Data inceput</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                   name="dataStart" [(ngModel)]="operGenerate.startDate" />
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <label for="dataEnd" class="col-form-label">Data sfarsit</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                   name="dataEnd" [(ngModel)]="operGenerate.endDate" />
                            <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <button class="btn btn-info"
                                (click)="searchOper()">
                            Pregatire contare
                        </button>
                    </div>
                </div>

                <hr />
                <div class="panel-heading mt-3" style="position: relative;">
                    <div class="row">
                        <h4 class=" panel-title col-xs-7 mx-3">
                            Pregatire contare - {{countOperList()}}
                        </h4>
                        <div class="col-lg-9" style="display: flex; justify-content: flex-end">
                            <button class="btn btn-info"
                                    (click)="selectAll()">
                                SelecteazaTot
                            </button>
                            <button class="btn btn-info mx-4"
                                    (click)="selectNone()">
                                DeselecteazaTot
                            </button>

                        </div>
                    </div>
                </div>

                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Categorie operatie</th>
                            <th scope="col">Tip operatie</th>
                            <th scope="col">Data operatie</th>
                            <th scope="col">Selectat</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let operation of operGenerate.operatiiPropuse; let i = index">
                        <tr>
                            <td scope="row">{{ i + 1}}</td>
                            <td>{{ operation.categorieOperatie }}</td>

                            <td>{{ operation.tipOperatie }}</td>
                            <td>{{ operation.dataOperatie | date: 'dd/MM/yyyy' }}</td>
                            <td>
                                <input id="selected{{i}}"
                                       name="selected{{i}}"
                                       type="checkbox"
                                       style="position: relative; left:0px; opacity:100"
                                       [(ngModel)]="operation.selected" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">

                    <div class="col-lg-3">
                        <a [routerLink]="['/app/conta/balance/operGenerate/operGenerateList']"
                           class="btn btn-info"
                           title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                    </div>

                    <div class="col-lg-6">
                        <button class="btn btn-info"
                                (click)="saveOper()"
                                [disabled]="operGenerate.operatiiPropuse === undefined">
                            Conteaza operatiile
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
