<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Lista cupiuri (<span>{{getCupiuriCount()}}</span>)</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="dataStart" class="col-form-label"> Data Inceput</label>
                        <mat-form-field style="width: 100%;">
                            <input matInput
                                   id="dataStart"
                                   name="dataStart"
                                   [matDatepicker]="dataStartPicker"
                                   [(ngModel)]="dataStart">
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-1">
                        <button class="btn btn-info" title="Cauta" (click)="getCupiuriList()">
                            <i class="fas fa-search"></i>
                        </button>
                        <a href="{{appBaseUrl}}/assets/pdf/Conta - Casierie - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                    </div>
                    <div class="col-lg-1">
                        <a [routerLink]="['/app/economic/cupiuri/cupiuriAdd']" *ngIf="isGranted('Casierie.Numerar.Cupiuri.Modificare')" class="btn btn-info" title="Adauga"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
                <div>
                    <div class="panel-heading" style="position: relative;">
                        <hr />
                        <table class="table table-responsive small-font">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Data operatiune</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cupiuriList; let i = index">
                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>{{ item.operationDate | date: 'dd/MM/yyyy'}} </td>
                                    <td>
                                        <a id="cupiuriEditBtn" 
                                           name="cupiuriEditBtn" 
                                           class="btn btn-info" 
                                           *ngIf="isGranted('Casierie.Numerar.Cupiuri.Modificare')"
                                           [routerLink]="['/app/economic/cupiuri/cupiuriAdd']"
                                           [queryParams]="{ cupiuriId: item.id }"
                                           title="Editare"><i class="fas fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <button id="cupiuriDeleteBtn"
                                                name="cupiuriDeleteBtn"
                                                class="btn btn-danger"
                                                *ngIf="isGranted('Casierie.Numerar.Cupiuri.Modificare')"
                                                (click)="delete(item.id)"
                                                title="Sterge">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>