<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-3">
                    <h2>
                        Istoric imprumut: &nbsp;
                        
                        <a [routerLink]="['/app/imprumuturi/imprumuturiList']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left">  </i></a>
                    </h2>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div>
                       
                    </div>
                
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">

                        <table class="table">

                            <thead>
                                <tr>
                                    <td scope="col"><b>#</b></td>
                                    <td scope="col"><b>ImprumuturiStare</b></td>
                                    <td scope="col"><b>OperationDate</b></td>
                                    <td scope="col"><b>Comentariu</b></td>
                                    <td></td>
                                </tr>
                            </thead>



                            <tbody>
                                <tr *ngFor="let element of imprumuturiStateList; let i = index">

                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>
                                        {{element.imprumuturiStareString}}
                                    </td>

                                    <td>
                                        {{element.operationDate | date: 'dd/MM/yyyy'}}
                                    </td>

                                    <td>{{element.comentariu}}</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td scope="row"></td>
                                    <td>
                                        <select class="form-control"
                                                name="imprumuturiStare"
                                                [(ngModel)]="newImprumutState.imprumuturiStare"
                                                #tipTragere="ngModel"
                                                style="width: 150px;">
                                            <option *ngFor="let value of imprumutStareList" [ngValue]="value.id">{{value.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <mat-form-field style="width: 150px;">
                                            <input matInput
                                                   name="operationDate"
                                                   [matDatepicker]="OperationDatePicker"
                                                   [(ngModel)]="newImprumutState.operationDate"
                                                   #operationDate="ngModel"
                                                   required />
                                            <mat-datepicker-toggle matSuffix [for]="OperationDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #OperationDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </td>

                                    <td><input name="comentariu" class="form-control-sm" [(ngModel)]="newImprumutState.comentariu" #comentariu="ngModel" /></td>

                                    <td>
                                        <button class="btn btn-info" (click)="saveNewImprumutState()"
                                                title="Adauga">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>


                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>