<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12" *ngIf="form.showProcessedForm">
                    <h3>Contari automate facturi</h3>
                </div>
                <div class="col-12" *ngIf="form.showNotProcessedForm">
                    <h3>Inregistrare in Contabilitate</h3>
                </div>
                <div class="col-12" *ngIf="form.showDeleteForm">
                    <h3>Stergere contari automate</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body" *ngIf="form.showProcessedForm">
                <div class="row">
                    <div class="col-lg-2" *ngIf="form !== undefined">
                        <label for="dataStart" class="col-form-label">Data inceput</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                   name="dataStart" [(ngModel)]="form.dataStart" #dataStart="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <label for="dataEnd" class="col-form-label">Data sfarsit</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                   name="dataEnd" [(ngModel)]="form.dataEnd" #dataEnd="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                        <button (click)="processedList()" [disabled]="!form" class="btn btn-info"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="col-lg-2">
                        <button (click)="startContare()" class="btn btn-info">Contare facturi</button>
                    </div>
                    <div class="col-lg-2">
                        <button (click)="startDelete()" class="btn btn-danger" [disabled]="!form">Sterge contari</button>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Calitate tert</th>
                                <th scope="col">Tert</th>
                                <th scope="col">Serie/Nr/Data factura</th>
                                <th scope="col">Valoare totala</th>
                                <th scope="col">TVA</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Descriere</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let factura of form.invoices; let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{factura.thirdPartyQualityStr}}</td>
                                <td>{{factura.thirdParty}}</td>
                                <td>{{factura.invoiceSeries}} / {{factura.invoiceNumber}} /  {{factura.invoiceDate | date: 'dd/MM/yyyy'}} </td>
                                <td>{{factura.value | number}}</td>
                                <td>{{factura.vat | number}}</td>
                                <td>{{factura.currencyName}}</td>
                                <td>{{factura.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="body" *ngIf="form.showNotProcessedForm">
                <div class="row">
                    <div class="col-lg-2" *ngIf="form !== undefined">
                        <label for="dataStart" class="col-form-label">Data inceput</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                   name="dataStart" [(ngModel)]="form.dataStart" #dataStart="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <label for="dataEnd" class="col-form-label">Data sfarsit</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                   name="dataEnd" [(ngModel)]="form.dataEnd" #dataEnd="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                        <button (click)="backToList()" [disabled]="!form" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                    </div>
                    <div class="col-lg-1">
                        <button (click)="notProcessedList()" class="btn btn-info"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="col-lg-1 col-lg-offset-1">
                        <button (click)="saveToConta()" class="btn btn-info" title="Contare facturi"><i class="fas fa-save"></i></button>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Selectat</th>
                                <th scope="col">Data operatiei</th>
                                <th scope="col">Calitate tert</th>
                                <th scope="col">Tert</th>
                                <th scope="col">Serie/Nr/Data factura</th>
                                <th scope="col">Valoare totala</th>
                                <th scope="col">TVA</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Descriere</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let factura of form.notProcessedInvoices; let i = index">
                                <td scope="row">{{ i + 1 }}</td>
                                <td>
                                    <input id="selected" name="selected" type="checkbox" style="position: relative; left: 0px; opacity: 100" [(ngModel)]="factura.selected" />
                                </td>
                                <td>
                                    <mat-form-field style="width: 100%">
                                        <input matInput [matDatepicker]="operationDatePicker" id="operationDate"
                                               name="operationDate" [(ngModel)]="factura.operationDate" #operationDate="ngModel" />
                                        <mat-datepicker-toggle matSuffix [for]="operationDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #operationDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>{{factura.thirdPartyQualityStr}}</td>
                                <td>{{factura.thirdParty}}</td>
                                <td>{{factura.invoiceSeries}} / {{factura.invoiceNumber}} / {{factura.invoiceDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{factura.value | number}}</td>
                                <td>{{factura.vat | number}}</td>
                                <td>{{factura.currencyName}}</td>
                                <td>{{factura.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="body" *ngIf="form.showDeleteForm">
                <div class="row">
                    <div class="col-lg-2" *ngIf="form !== undefined">
                        <label for="dataStart" class="col-form-label">Data inceput</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                   name="dataStart" [(ngModel)]="form.dataStart" #dataStart="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <label for="dataEnd" class="col-form-label">Data sfarsit</label>
                        <mat-form-field style="width: 100%">
                            <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                   name="dataEnd" [(ngModel)]="form.dataEnd" #dataEnd="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                        <button (click)="backToList()" [disabled]="!form" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                    </div>
                    <div class="col-lg-1">
                        <button (click)="deleteList()" class="btn btn-info" [disabled]="!form"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="col-lg-1 col-lg-offset-1">
                        <button (click)="deleteOperations()" class="btn btn-danger" [disabled]="!form" title="Sterge contari"><i class="fas fa-trash">   </i></button>
                    </div>
                </div>
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Calitate tert</th>
                                <th scope="col">Tert</th>
                                <th scope="col">Serie/Nr/Data factura</th>
                                <th scope="col">Valoare totala</th>
                                <th scope="col">TVA</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Descriere</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let factura of form.deletedInvoices;let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{factura.thirdPartyQualityStr}}</td>
                                <td>{{factura.thirdParty}}</td>
                                <td>{{factura.invoiceSeries}} / {{factura.invoiceNumber}} /  {{factura.invoiceDate | date: 'dd/MM/yyyy'}} </td>
                                <td>{{factura.value | number}}</td>
                                <td>{{factura.vat | number}}</td>
                                <td>{{factura.currencyName}}</td>
                                <td>{{factura.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>