<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Configurare monografii contari automate</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="autoOperConfig" name="autoOperConfig" #autoOperConfigForm="ngForm" [busy]="isLoading">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="autoOperType" class="col-form-label"> Tip operatie</label>
                            <select id="autoOperType" name="autoOperType" [(ngModel)]="operation.autoOperType" class="form-control" (change)="autoOperTypeChange(operation.autoOperType)">
                                <option *ngFor="let res of autoOperType" [ngValue]="res.id">{{res.name}}</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <label for="operType" class="col-form-label"> Operatiune</label>
                            <select id="operType" name="operType" [(ngModel)]="operation.operationType" #operationType="ngModel" class="form-control" (change)="searchConfig()">
                                <option *ngFor="let res of operType" [ngValue]="res.id">{{res.name}}</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <label for="searchDate" class="col-form-label"> Data valabilitate</label>
                            <mat-form-field style="width: 100%">
                                <input matInput [matDatepicker]="searchDatePicker" id="searchDate"
                                       name="searchDate" [(ngModel)]="operation.searchDate" #searchDate="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="searchDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #searchDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2">
                            <br />
                            <input id="noDateSearch" name="noDateSearch" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="operation.noDateSearch" #noDateSearch="ngModel" />
                            <label for="noDateSearch" class="form-label" style="margin-left: 3px;"> Toate datele</label>
                        </div>

                        <div class="col-lg-1">
                            <button class="btn btn-info" (click)="searchConfig()"> <i class="fas fa-search"></i></button>
                        </div>
                    </div>

                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h4>
                                Monografii - &nbsp; <button (click)="addDetailRow()" class="btn btn-info"><i class="fas fa-plus"></i></button>
                            </h4>
                        </div>

                    </div>
                    <div class="row">
                        <div>
                            <label for="documentTypeId" class="col-form-label"> Tip document</label>
                            <select id="documentTypeId" name="documentTypeId" [(ngModel)]="operation.documentTypeId" #documentTypeId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of documentTypeList" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                        <div style="margin-left:20px">
                            <button class="btn btn-info" style="margin-top:35px" title="Save" (click)="save()"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="operation.details?.length">
                        <label for="individualOperation" class="form-label"> Operatie individuala</label>

                        <input id="individualOperation" name="individualOperation" type="checkbox" [(ngModel)]="operation.details[0].individualOperation" (change)="changeIndivOperation()" style="margin: 0 3px;" />
                        <label for="individualOperation" class="form-label"> Operatie individuala</label>
                    </div>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Element</th>
                                <th scope="col">Semn</th>
                                <th scope="col">Debit</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Data Inceput</th>
                                <th scope="col">Data Sfarsit</th>
                                <th scope="col">Ordine introducere</th>
                                <th scope="col" *ngIf="operation.showUnreceiveInvoice">Factura nesosita</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let detail of operation.details; let i = index">
                            <tr *ngIf="!detail.deleted">
                                <td scope="row">{{ i + 1 }}</td>
                                <td>
                                    <select id="elementId_{{i}}" name="elementId_{{i}}" [(ngModel)]="detail.elementId" #elementId="ngModel" class="form-control">
                                        <option *ngFor="let res of element" [ngValue]="res.id">{{res.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <select id="valueSign_{{i}}" name="valueSign_{{i}}" [(ngModel)]="detail.valueSign" #valueSign="ngModel" class="form-control">
                                        <option *ngFor="let res of valuesSign" [ngValue]="res.id">{{res.name}}</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="debitAccount_{{i}}" name="debitAccount_{{i}}" type="text" [(ngModel)]="detail.debitAccount" #debitAccount="ngModel" class="form-control" />
                                </td>
                                <td>
                                    <input id="creditAccount_{{i}}" name="creditAccount_{{i}}" type="text" [(ngModel)]="detail.creditAccount" #creditAccount="ngModel" class="form-control" />
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="startDatePicker" id="startDate_{{i}}"
                                               name="startDate_{{i}}" [(ngModel)]="detail.startDate" #startDate="ngModel" />
                                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="dataEndPicker" id="dataEnd_{{i}}"
                                               name="dataEnd_{{i}}" [(ngModel)]="detail.dataEnd" #dataEnd="ngModel" />
                                        <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                        <mat-datepicker #dataEndPicker></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <input id="entryOrder_{{i}}" name="entryOrder_{{i}}" type="text" [(ngModel)]="detail.entryOrder" class="form-control" />
                                </td>
                                <td *ngIf="operation.showUnreceiveInvoice">
                                    <input id="unreceiveInvoice_{{i}}"
                                           name="unreceiveInvoice_{{i}}"
                                           type="checkbox"
                                           style="position: relative; left:0px; opacity:100" [(ngModel)]="detail.unreceiveInvoice" #unreceiveInvoice="ngModel" />
                                </td>
                            </tr>

                            <tr *ngIf="!detail.deleted">
                                <td></td>
                                <td>
                                    <button (click)="deleteRow(i)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                                </td>
                                <td>
                                    <label for="searchDate" class="form-label"> Detalii</label>
                                </td>
                                <td colspan="5">
                                    <input id="details_{{i}}" name="details_{{i}}" type="text" [(ngModel)]="detail.details" class="form-control" />
                                </td>
                                <td *ngIf="operation.showUnreceiveInvoice"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-lg-7 col-lg-offset-5" align="center">
                            <button (click)="saveConfig()" class="btn btn-info"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>

                <accordion class="mt-2">
                    <accordion-group heading="Detalii" [isOpen]="true">
                        <div class="panel-body">
                            <div class="row">
                                <!-- Mijloace fixe -->
                                <div class="col-lg-4" *ngIf="operation.autoOperType === 0">
                                    <b>Mijloace fixe:</b>
                                    <br />
                                    Se completeaza conturile specifice mijloacelor fixe folosind notatiile:
                                    <ul>
                                        <li>MF = Cont mijloc fix</li>
                                        <li>CA = Cont amortizare</li>
                                        <li>CC = Cont cheltuiala cu amortizarea</li>
                                        <li>CN = Cont nou </li>
                                        <li>CV = Cont vechi </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4" *ngIf="operation.autoOperType === 1">
                                    <b>Obiecte de inventar:</b>
                                    <br />
                                    Se completeaza conturile specifice obiectelor de inventar folosind notatiile:
                                    <ul>
                                        <li>OI = Cont obiect de inventar</li>
                                        <li>CA = Cont cheltuiala</li>
                                        <li>CE = Cont extrabilantier</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4" *ngIf="operation.autoOperType === 2 || operation.autoOperType === 3">
                                    <b>Cheltuieli/venituri in avans</b>
                                    <br />
                                    Se completeaza conturile specifice cheltuielilor/veniturilor in avans folosind notatiile:
                                    <ul>
                                        <li>C = Cont cheltuiala / venit in avans</li>
                                        <li>CA = Cont cheltuiala/venit amortizare</li>
                                        <li>CT = Cont cheltuiala TVA</li>
                                        <li>CAT = Cont cheltuiala/venit amortizare TVA</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4" *ngIf="operation.autoOperType === 5 || operation.autoOperType === 6 || operation.autoOperType === 7 || operation.autoOperType === 8 || operation.autoOperType === 9 || operation.autoOperType === 10 || operation.autoOperType === 11 || operation.autoOperType === 12">
                                    <b>Titluri de plasament</b>
                                    <br />
                                    Se completeaza conturile specifice folosind notatiile:
                                    <ul>
                                        <li>CB = Cont bancar</li>
                                    </ul>
                                </div>
                                <div class="col-lg-4" *ngIf="operation.autoOperType === 13">
                                    <b>Contributii:</b>
                                    <br />
                                    Se completeaza conturile specifice folosind notatiile:
                                    <ul>
                                        <li>DCA = Debitori diversi – contributii anuale</li>
                                        <li>DCS = Debitori diversi – contributii speciale</li>
                                        <li>FCA = Fond constituit din contribuţiile anuale</li>
                                        <li>FCS = Fond constituit din contribuţiile speciale</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </section>
</div>
