<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4>
                        <a [routerLink]="['/app/reporting']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>

                        Lista exceptii registru inventar
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="formList" name="formList">
                    <div class="row">
                        <div class="panel-heading" style="position: relative">
                            <div class="row">
                                <h4 class="panel-title col-xs-6">
                                    Lista exceptii
                                </h4>
                            </div>
                        </div>
                        <table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">Cont</th>
                                    <th scope="col">Formula</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let regInventar of exceptRegInventarList.getRegInventar; let i = index">
                                <tr class="small-font">
                                    <td>
                                        <mat-form-field style="width: 100%;">
                                            <input type="text" matInput id="accountId{{i}}"
                                                   name="accountId{{i}}"
                                                   [(ngModel)]="regInventar.accountId"
                                                   (input)="getAccountListComputing($event)"
                                                   required [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getAccountName.bind(this)">
                                                <mat-select *ngFor="let item of accounts">
                                                    <mat-option (click)="selectedInput(item.name, item.id, i)" [ngValue]="item.id">
                                                        {{ item.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <input id="formula{{i}}" type="text" name="formula{{i}}" [(ngModel)]="regInventar.formula" #formula="ngModel" class="form-control" />
                                    </td>

                                    <td>
                                        <button (click)="exceptRegInventarDelRow(i)" class="btn btn-danger" title="Sterge"><i class="fas fa-trash"></i></button>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" colspan="15">
                                        <button (click)="exceptRegInventarAddRow()" class="btn btn-info" title="Adauga rand"><i class="fas fa-plus"></i></button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button (click)="exceptRegInventarSave()" class="btn btn-info btn-circle" title="Salvare structura exceptii"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>

                <form id="exceptEliminareForm" name="exceptEliminareForm">
                    <div class="row">
                        <div class="panel-heading" style="position: relative">
                            <div class="row">
                                <h4 class="panel-title col-xs-6">
                                    Lista exceptii de la eliminare
                                </h4>
                            </div>
                        </div>
                        <table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">Cont</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of exceptEliminareRegInventarList.getRegInventar; let i = index">
                                <tr class="small-font">
                                    <td>
                                        <mat-form-field style="width: 85%;">
                                            <input type="text" matInput id="accountId_{{i}}"
                                                   name="accountId_{{i}}"
                                                   [(ngModel)]="item.accountId"
                                                   (input)="getAccountExceptElimListComputing($event)"
                                                   required [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getExceptElimAccountName.bind(this)">
                                                <mat-select *ngFor="let account of accountsExceptEliminare">
                                                    <mat-option (click)="selectedExceptElimInput(account.name, account.id, i)" [ngValue]="account.id">
                                                        {{ account.name }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <button (click)="exceptElimRegInventarDelRow(i)" class="btn btn-danger" title="Sterge"><i class="fas fa-trash"></i></button>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" colspan="15">
                                        <button (click)="exceptElimRegInventarAddRow()" class="btn btn-info" title="Adauga rand"><i class="fas fa-plus"></i></button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button (click)="exceptElimRegInventarSave()" class="btn btn-info btn-circle" title="Salvare structura exceptii de la eliminare"><i class="fas fa-save"></i></button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>