<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                    <a class="btn btn-info" [routerLink]="['/app/buget/paap/paapList']" ><i class="fas fa-arrow-left"></i></a> &nbsp;
                    Alocare Cheltuieli
                </h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position: relative;">
                    <div class="row">
                        <h4 class="panel-title col-xs-6 alignContent">
                            Detalii PAAP
                        </h4>
                    </div>
                    <div class="row">
                        <table class="table small-font table-responsive">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Departament</th>
                                    <th scope="col">Obiect tranzactie</th>
                                    <th scope="col">Descriere</th>
                                    <th scope="col">Cod CPV</th>
                                    <th scope="col">Valoare estimata</th>
                                    <th scope="col">Data inceput</th>
                                    <th scope="col">Data sfarsit</th>
                                    <th scope="col">Persoana responsabila</th>
                                    <th scope="col">Stare</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ paap.departamentName }}</td>
                                    <td>{{ paap.obiectTranzactie }}</td>
                                    <td>{{ paap.descriere }}</td>
                                    <td>{{ paap.codCPV }}</td>
                                    <td class="alignSum">{{ paap.value| number: '1.2' }}</td>
                                    <td class="alignDateInTable">{{ paap.dataStart| date: 'dd/MM/yyyy' }}</td>
                                    <td class="alignDateInTable">{{ paap.dataEnd | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ paap.persoanaResponsabila }}</td>
                                    <td>{{paap.statePAAP}}</td>
                                </tr>
                                <tr>
                                    <td colspan="14">
                                        <table class="table small-font ">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Categorie cheltuiala</th>
                                                    <th scope="col">Cheltuiala</th>
                                                    <th scope="col">Modalitate de derulare</th>
                                                    <th scope="col">Sursa de finantare</th>
                                                    <th scope="col">Frecventa transe</th>
                                                    <th scope="col">Data primei transe</th>
                                                    <th scope="col">Nr transe</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ paap.invoiceElementsDetailsCategoryName }}</td>
                                                    <td>{{ paap.invoiceElementsDetailsName }}</td>
                                                    <td>{{ paap.modDerulare }}</td>
                                                    <td>{{ paap.sursaFinantare }}</td>
                                                    <td>{{ paap.contractsPaymentInstalmentFreq }}</td>
                                                    <td class="alignDateInTable">{{ paap.firstInstalmentDate| date: 'dd/MM/yyyy' }}</td>
                                                    <td>{{ paap.nrTranse }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" *ngIf="transeList.length !== 0">
                        <h4 class="panel-title col-xs-6 alignContent">
                            Transe plata
                            <button class="btn btn-info" *ngIf="!showTranse"  title="Vizualizeaza transe" (click)="viewTranse()"><i class="fas fa-angle-down"></i></button> &nbsp;
                            <button class="btn btn-info" *ngIf="showTranse"  title="Vizualizeaza transe" (click)="hideTranse()"><i class="fas fa-angle-up"></i></button> &nbsp;
                        </h4>
                    </div>
                    <div class="row" *ngIf="showTranse">
                       <table class="table table-responsive">
                           <thead>
                               <tr>
                                   <th>#</th>
                                   <th>Data transa</th>
                                   <th>Valoare lei</th>
                                   <th>Valoare fara TVA</th>
                               </tr>
                           </thead>
                           <tbody>
                               <tr *ngFor="let transa of transeList; let i = index">
                                   <td>{{ i + 1 }}</td>
                                   <td>{{ transa.dataTransa | date: 'dd/MM/yyyy' }}</td>
                                   <td class="alignSum">{{ transa.valoareLei | number: '1.2' }}</td>
                                   <td class="alignSum">{{ transa.valoareLeiFaraTVA | number: '1.2'}}</td>
                               </tr>
                           </tbody>
                       </table>
                    </div>
                    <div class="row">
                        <h4 class="panel-title col-xs-6 alignContent">
                            Referate
                            <button class="btn btn-info" title="Adauga referat" (click)="addReferat()" *ngIf="isGranted('Buget.PAAP.Modificare')"><i class="fa fa-plus"></i></button> &nbsp;
                        </h4>
                    </div>
                    <div class="row">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Data</th>
                                    <th>Denumire</th>
                                    <th>Suma</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of referatList; let i = index">
                                <tr>
                                    <td>{{ i + 1 }}</td>
                                    <td>{{item.operationDate | date:'dd/MM/yyyy'}}</td>
                                    <td>{{ item.name }}</td>
                                    <td class="alignSum">{{ item.suma| number: '1.2' }}</td>
                                    <td>
                                        <button class="btn btn-info mr-2" title="Editare" (click)="editareReferat(item.id)"><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger" title="Sterge" (click)="deleteReferat(item.id)"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            
                    </div>
                    <div class="row">
                        <h4 class="panel-title col-xs-6 alignContent">
                            Facturi alocate
                        </h4>
                    </div>
                    <div class="row">
                        <table class="table small-font table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Furnizor</th>
                                    <th scope="col">Serie Nr / data factura</th>
                                    <th scope="col">Valoare totala</th>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Valoare detaliu factura</th>
                                    <th scope="col">Valoare detaliu factura RON</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let allocatedInvoice of paapInvoices.invoiceDetailsAllocatedForPAAP; let i = index;">
                                    <td> {{ allocatedInvoice.thirdPartyAccount }}</td>
                                    <td> {{ allocatedInvoice.invoiceSeries }} {{ allocatedInvoice.invoiceNumber }} / {{ allocatedInvoice.invoiceDate | date: 'dd/MM/yyyy' }}</td>
                                    <td class="alignSum"> {{ allocatedInvoice.value | number: '1.2' }} </td>
                                    <td> {{ allocatedInvoice.currencyName }}</td>
                                    <td class="alignSum"> {{ allocatedInvoice.detailValue  | number: '1.2' }} </td>
                                    <td class="alignSum"> {{ allocatedInvoice.detailValueLocalCurr  | number: '1.2' }}</td>
                                    <td>
                                        <button id="deleteInvoice" name="deleteInvoice" (click)="deleteAllocatedInvoice(allocatedInvoice.id)" class="btn btn-danger" [disabled]="paap.statePAAP === 'Finalizat'"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <h4 class="panel-title col-xs-6">
                            Facturi disponibile
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th scope="col">Furnizor</th>
                                        <th scope="col">Serie Nr / Data factura</th>
                                        <th scope="col">Valoare totala</th>
                                        <th scope="col">Moneda</th>
                                        <th scope="col">Valoare detaliu factura</th>
                                        <th scope="col">Valoare detaliu factura RON</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let availableInvoice of paapInvoices.invoiceDetailsAvailableForPAAP; let i = index;">
                                        <td>
                                            <input id="selectedInvoice_i" name="selectedInvoice_i" type="checkbox" [(ngModel)]="availableInvoice.selected" #selected="ngModel" (change)="getSumaSelectata()" />
                                        </td>
                                        <td> {{ availableInvoice.thirdPartyAccount }}</td>
                                        <td> {{ availableInvoice.invoiceSeries }} {{ availableInvoice.invoiceNumber }} / {{ availableInvoice.invoiceDate | date: 'dd/MM/yyyy' }}</td>
                                        <td class="alignSum"> {{ availableInvoice.value | number: '1.2' }} </td>
                                        <td> {{ availableInvoice.currencyName }}</td>
                                        <td class="alignSum"> {{ availableInvoice.detailValue  | number: '1.2'}} </td>
                                        <td class="alignSum"> {{ availableInvoice.detailValueLocalCurr  | number: '1.2'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 alignContent">
                            <div class="col-lg-4">
                                <label for="paapSum" class="col-label"> Suma PAAP</label>
                            </div>
                            <div class="col-lg-10">
                                <input id="paapSum" name="paapSum" class="form-control" value="{{paap.value | number: '1.2'}}" readonly />
                            </div>
                            <div class="col-lg-4">
                                <label for="paapUsedSum" class="col-label"> Suma utilizata</label>
                            </div>
                            <div class="col-lg-10">
                                <input id="paapUsedSum" name="paapUsedSum" class="form-control" value="{{paapUsedSum  | number: '1.2'}}" readonly />
                            </div>
                            <div class="col-lg-4">
                                <label for="paapSelectedSum" class="col-label"> Suma selectata</label>
                            </div>
                            <div class="col-lg-10">
                                <input id="paapSelectedSum" name="paapSelectedSum" class="form-control" value="{{paapSelectedSum  | number: '1.2'}}" readonly />
                            </div>
                            <div class="col-lg-4">
                                <label for="paapRest" class="col-label"> Rest</label>
                            </div>
                            <div class="col-lg-10">
                                <input id="paapRest" name="paapRest" class="form-control" value="{{paapRest | number: '1.2'}}" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button (click)="approveInvoices()" class="btn btn-info" *ngIf="isGranted('Buget.PAAP.AlocareFacturi')">Alocare cheltuieli</button>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-info" (click)="finalizeaza()" *ngIf="paap.statePAAP !== 'Finalizat'">Finalizeaza</button>
                            <button class="btn btn-danger" (click)="anuleazaFinalizarea()" *ngIf="paap.statePAAP === 'Finalizat'">Anuleaza finalizarea</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
