<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <a [routerLink]="['/app/buget/paap/paapList']" title="Inapoi" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
                        Aprobare PAAP
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="paapValidator" name="paapValidator" [busy]="isLoading">
                    <div class="row">
                        <div class="col-lg-1 alignContent">
                            <label for="Data" class="col-form-label"> AN: </label>
                        </div>

                        <div class="col-sm-2 alignContent">
                            <select id="cautareAn"
                                    name="cautareAn"
                                    [(ngModel)]="cautareAn"
                                    #cautareaAn="ngModel"
                                    class="form-control"
                                    required>
                                <option *ngFor="let item of cautareAni" [value]="item">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2 alignContent">
                            <!--<a class="btn btn-primary  mr-1" (click)="getPaapListByYear(cautareAn)">Afiseaza</a>-->
                            <button class="btn btn-info" title="Cauta" (click)="getPaapListByYear(cautareAn)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="col-lg-6 align-self-end mx-4 alignContent text-right" >
                            <button class="btn btn-info mx-4 " title="Aproba" (click)="approvePaap()">Aproba PAAP</button> 
                            <button class="btn btn-danger mx-4" (click)="cancelAllApprovedPaap()">Anulare aprobare</button>
                        </div>
                    </div>
                   

                    <div class="table-container">
                        <table mat-table [dataSource]="dataSource">
                            <!-- Categorie Column -->
                            <ng-container matColumnDef="Categorie">
                                <th mat-header-cell *matHeaderCellDef >Categorie</th>
                                <td mat-cell *matCellDef="let transaction" >{{transaction.categorie}}</td>
                                <td mat-footer-cell *matFooterCellDef>Total</td>
                            </ng-container>

                            <!-- Ianuarie Column -->
                            <ng-container matColumnDef="Ianuarie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Ianuarie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[0] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(0) | number: '1.2' }}</td>
                            </ng-container>

                            <ng-container matColumnDef="Februarie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Februarie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                    {{transaction[1] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(1) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Martie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Martie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                    {{transaction[2] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(2) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Aprilie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Aprilie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[3] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(3) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Mai">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Mai</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[4] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(4) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Iunie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Iunie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[5] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(5) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Iulie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Iulie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[6] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(6) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="August">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">August</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[7] | number: '1.2'}}  
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(7) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Septembrie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Septembrie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[8] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(8) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Octombrie" >
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Octombrie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[9] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(9) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Noiembrie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Noiembrie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[10] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(10) | number: '1.2'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="Decembrie">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Decembrie</th>
                                <td mat-cell *matCellDef="let transaction" class="alignSum">
                                     {{transaction[11] | number: '1.2'}} 
                                </td>
                                <td mat-footer-cell *matFooterCellDef>{{ calculateTotal(11) | number: '1.2'}}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="text-align: center;"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                        </table>
                    </div>
                    &nbsp;
                    <div class="row mt-3">
                        <div>
                            <h4>PAAP grupat pe compartimente</h4>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Nr. Crt.</th>
                                    <th scope="col">Obiect tranzactie</th>
                                    <th scope="col">Descriere</th>
                                    <th scope="col">Cod CPV</th>
                                    <th scope="col">Valoare estimata</th>
                                    <th scope="col">Sursa de finantare</th>
                                    <th scope="col">Data inceput</th>
                                    <th scope="col">Data sfarsit</th>
                                    <th scope="col">Modalitate de derulare</th>
                                    <th scope="col">Persoana responsabila</th>
                                    <th scope="col">Stare</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of paapByDepartament; let i = index;">
                                <tr style="background-color: rgb(255, 218, 185)">
                                    <td colspan="11" style="text-align: left;"> {{ item.departamentName }}</td>
                                </tr>
                                <tr *ngFor="let papp of paapByDepartament[i].paapListDetails; let j = index">
                                    <td scope="row">{{ j + 1 }}</td>
                                    <td style="text-align: left">{{ papp.obiectTranzactie }}</td>
                                    <td style="text-align: left">{{ papp.descriere }}</td>
                                    <td style="text-align: right">{{ papp.codCPV }}</td>
                                    <td class="alignSum">{{ papp.valoareTotalaLei| number: '1.2' }}</td>
                                    <td style="text-align: left">{{ papp.sursaFinantare }}</td>
                                    <td class="alignDateInTable">{{ papp.dataStart| date: 'dd/MM/yyyy' }}</td>
                                    <td class="alignDateInTable">{{ papp.dataEnd | date: 'dd/MM/yyyy' }}</td>
                                    <td style="text-align: left">{{ papp.modDerulare }}</td>
                                    <td style="text-align: left">{{ papp.persoanaResponsabila }}</td>
                                    <td style="text-align: left">{{papp.statePAAP}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>