<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Planificare achizitii</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid" [busy]="isLoading">
            <div class="body">
                <div class="panel-heading" style="position: relative;">
                    <div class="row">
                        <h4 class="panel-title col-xs-6 alignContent">
                            Achizitii - <span>{{ paapListCount() }}</span> &nbsp;
                            <a class="btn btn-info mr-2" [routerLink]="['/app/buget/paap/paapAdd']" title="Adaugare" *ngIf="isGranted('Buget.PAAP.Modificare')"><i class="fas fa-plus"></i></a>
                            <button class="btn btn-info" type="button" title="Ecran General PAAP" (click)="hideCoteTVA()">
                                PAAP
                            </button>
                            &nbsp;
                            <a class="btn btn-info mr-2" [routerLink]="['/app/buget/paap/paapValidator']" title="Aproba PAAP" *ngIf="isGranted('Buget.PAAP.Aprobare')">Aproba PAAP</a>
                            <button class="btn btn-info" type="button" title="Modificare Cote TVA" (click)="showCoteTVA()" *ngIf="isGranted('Buget.PAAP.Modificare')">
                                Modificare Cote TVA
                            </button>
                            <a class="btn btn-info ml-2"
                               [routerLink]="['/app/buget/paap/redistribuire/redistribuirePaapList']"
                               [queryParams]="{an: cautareAn}"
                               title="Redistribuire" *ngIf="isGranted('Buget.PAAP.Aprobare')">Redistribuire</a>
                        </h4>
                    </div>
                    <div class="row">
                        <div class=" alignContent">
                            <label for="Data" class="col-form-label"> AN: </label>
                        </div>
                        <div class="col-lg-0 alignContent">
                            <select id="cautareAn"
                                    name="cautareAn"
                                    [(ngModel)]="cautareAn"
                                    (ngModelChange)="anChange()"
                                    class="form-control">
                                <option *ngFor="let item of cautareAni" [value]="item">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="alignContent">
                            <label for="departament" class="col-form-label"> Departament</label>
                        </div>
                        <div class="col-lg-2 alignContent">
                            <select id="departamentList"
                                    name="departamentList"
                                    [(ngModel)]="departament"
                                    (ngModelChange)="departamentChange()"
                                    class="form-control"
                                    [disabled]="!isGranted('Buget.PAAP.Super')"
                                    required>
                                <option [value]="null">Toate Departamentele</option>
                                <option *ngFor="let item of departamentList" [value]="item">
                                    {{item}}
                                </option>
                            </select>
                        </div>
                        <div class="alignContent">
                            <label for="categorie" class="col-form-label"> Categorie</label>
                        </div>
                        <div class="col-lg-2 alignContent">
                            <select id="categorieList"
                                    name="categorieList"
                                    [(ngModel)]="categorie"
                                    (ngModelChange)="categorieChange()"
                                    class="form-control"
                                    required>
                                <option [value]="''">Toate Categoriile</option>
                                <option *ngFor="let item of categorieList" [value]="item">
                                    {{item}}
                                </option>
                            </select>
                        </div>

                        <div class="alignContent">
                            <label for="dataEnd" class="col-form-label"> Interval data sfarsit</label>
                        </div>
                        <div class="col-lg-2 alignContent">
                            <input type="text"
                                   placeholder="Start date - End date"
                                   class="form-control"
                                   [(ngModel)]="rangeDate"
                                   bsDaterangepicker
                                   [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD/MM/YYYY' }">
                        </div>
                        <div class="alignContent" *ngIf="!showTVA">
                            <div class="custom-control custom-checkbox">
                                <input id="achizitieFaraTransa"
                                       name="achizitieFaraTransa"
                                       type="checkbox"
                                       class="custom-control-input"
                                       [(ngModel)]="achizitieFaraTranse" />
                                <label for="achizitieFaraTransa" class="custom-control-label mt-2"> Exista achizitii fara transe</label>
                            </div>
                        </div>
                        <div class="alignContent" *ngIf="!showTVA">
                            <div class="custom-control custom-checkbox">
                                <input id="nefinalizat30zile"
                                       name="nefinalizat30zile"
                                       type="checkbox"
                                       class="custom-control-input"
                                       [(ngModel)]="nefinalizat30zile" />
                                <label for="nefinalizat30zile" class="custom-control-label mt-2"> Nefinalizat 30 de zile</label>
                            </div>
                        </div>
                        <div class="alignContent" *ngIf="!showTVA">
                            <div class="custom-control custom-checkbox">
                                <input id="nefinalizatDepasit"
                                       name="nefinalizatDepasit"
                                       type="checkbox"
                                       class="custom-control-input"
                                       [(ngModel)]="nefinalizatDepasit" />
                                <label for="nefinalizatDepasit" class="custom-control-label mt-2"> Nefinalizat depasit</label>
                            </div>
                        </div>
                        <div class="col-lg-1 alignContent">
                            <button class="btn btn-info" title="Cauta" (click)="getPaapListByYearFnc(cautareAn)">
                                <i class="fas fa-search"></i>
                            </button>
                            <!--<a class="btn btn-primary  mr-1" (click)="getPaapListByYearFnc(cautareAn)">Afiseaza</a>-->
                        </div>
                    </div>
                </div>
                <table class="table small-font table-responsive" *ngIf="!showTVA">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col">Departament</th>
                            <th scope="col">Obiect tranzactie</th>
                            <th scope="col">Descriere</th>
                            <th scope="col">Valoare estimata fara TVA</th>
                            <th scope="col">Valoare totala</th>
                            <th scope="col">Valoare realizata</th>
                            <th scope="col">Data inceput</th>
                            <th scope="col">Data sfarsit</th>
                            <th scope="col">Persoana responsabila</th>
                            <th scope="col">Stare</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of paapListByYearFiltered; let i = index;">
                        <tr>
                            <td>
                                <button *ngIf="!item.showCategory" (click)="showCategory(i)" class="btn btn-info" title="Afiseaza detalii categorie"><i class="fas fa-angle-down"></i></button>
                            </td>

                            <td>{{ item.departamentName }}</td>
                            <td>{{ item.obiectTranzactie }}</td>
                            <td>{{ item.descriere }}</td>
                            <td class="alignSum">{{ item.value| number: '1.2' }}</td>
                            <td class="alignSum" [ngStyle]="{'backgroundColor': (item.isValueEqualToSumTranse === false && item.hasTranse === true) ? 'red': 'none'}">{{ item.valoareTotalaLei | number: '1.2' }}</td>
                            <td class="alignSum">{{ item.valoareRealizata| number: '1.2' }}</td>
                            <td class="alignDateInTable">{{ item.dataStart| date: 'dd/MM/yyyy' }}</td>
                            <td class="alignDateInTable">{{ item.dataEnd | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ item.persoanaResponsabila }}</td>
                            <td>{{item.statePAAP}}</td>
                            <td>
                                <button *ngIf="item.statePAAP === 'Inregistrat'" class="btn btn-info mr-2" id="editPAAP" name="editPAAP" [routerLink]="['/app/buget/paap/paapAdd']" [queryParams]="{paapId: item.id}" title="Editeaza"><i class="fas fa-edit"></i></button>
                                <button *ngIf="item.statePAAP === 'Inregistrat' && isGranted('Buget.PAAP.Modificare')" class="btn btn-danger mr-2" id="deletePAAP" name="deletePAAP" (click)="delete(item.id)" title="Sterge"><i class="fas fa-trash"></i></button>

                                <button *ngIf="(item.statePAAP === 'Aprobat' || item.statePAAP === 'Finalizat' || item.statePAAP === 'Amanat' || item.statePAAP === 'Referat') && isGranted('Buget.PAAP.AlocareFacturi')"
                                        class="btn btn-info mr-2"
                                        id="alocareCheltuieli"
                                        name="alocareCheltuieli"
                                        [routerLink]="['/app/buget/paap/paapAlocareCheltuieli']"
                                        [queryParams]="{paapId: item.id}"
                                        title="Alocare cheltuieli">
                                    <i class="fas fa-file-invoice-dollar" title="Alocare cheltuieli"></i>
                                </button>

                                <button class="btn btn-info mr-2" id="historyPAAP" name="historyPAAP" [routerLink]="['/app/buget/paap/paapHistoryList']" [queryParams]="{paapId: item.id}" title="Istoric"><i class="fas fa-history"></i></button>
                                <button *ngIf="(item.statePAAP === 'Aprobat' || item.statePAAP === 'Amanat' || item.statePAAP === 'Referat') && isGranted('Buget.PAAP.Modificare')" class="btn btn-info mr-2" id="amanarePAAP" name="amanarePAAP" (click)="amanarePAAP(item.id)" title="Amanare"><i class="fa fa-calendar"></i></button>
                                <button *ngIf="(item.statePAAP === 'Aprobat' || item.statePAAP === 'Amanat')" class="btn btn-info mr-2" id="realocarePAAP" name="realocarePAAP" (click)="realocarePAAP(item.id)" title="Realocare"><i class=" fas fa-chart-pie"></i></button>
                                <button *ngIf="(item.statePAAP === 'Aprobat' || item.statePAAP === 'Amanat' || item.statePAAP === 'Referat') && isGranted('Buget.PAAP.Aprobare')" class="btn btn-danger" id="cancelPAAP" name="cancelPAAP" (click)="cancelPAAP(item.id)" title="Anuleaza achizitia"><i class="fas fa-window-close"></i></button>
                            </td>
                        </tr>
                        <tr *ngIf="item.showCategory">
                            <td>
                                <button *ngIf="item.showCategory" (click)="hideCategory(i)" class="btn btn-info" title="Ascunde detalii categorie"><i class="fas fa-angle-up"></i></button>
                            </td>
                            <td colspan="14">
                                <table class="table small-font">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Categorie cheltuiala</th>
                                            <th scope="col">Cheltuiala</th>
                                            <th scope="col">Cod CPV</th>
                                            <th scope="col">Modalitate de derulare</th>
                                            <th scope="col">Sursa de finantare</th>
                                            <th scope="col">Frecventa transe</th>
                                            <th scope="col">Data primei transe</th>
                                            <th scope="col">Nr transe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ item.invoiceElementsDetailsCategoryName }}</td>
                                            <td>{{ item.invoiceElementsDetailsName }}</td>
                                            <td>{{ item.codCPV }}</td>
                                            <td>{{ item.modDerulare }}</td>
                                            <td>{{ item.sursaFinantare }}</td>
                                            <td>{{ item.contractsPaymentInstalmentFreq }}</td>
                                            <td class="alignDateInTable">{{ item.firstInstalmentDate| date: 'dd/MM/yyyy' }}</td>
                                            <td>{{ item.nrTranse }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" *ngIf="showTVA">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Departament</th>
                                <th scope="col">Obiect tranzactie</th>
                                <th scope="col">Descriere</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Valoare totala valuta</th>
                                <th scope="col">Valoare totala (lei)</th>
                                <th scope="col">Cota TVA</th>
                                <th scope="col">Valoare estimata fara TVA</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of paapListByYearFiltered; let i = index;">
                            <tr>
                                <td>{{ item.departamentName }}</td>
                                <td>{{ item.obiectTranzactie }}</td>
                                <td>{{ item.descriere }}</td>
                                <td>{{ item.currencyName }}</td>
                                <td class="alignSum">{{ item.valoareTotalaValuta | number: '1.2' }}</td>
                                <td class="alignSum">{{ item.valoareTotalaLei | number: '1.2' }}</td>
                                <td>
                                    <select id="cotaTVA_Id" name="cotaTVA_Id" [(ngModel)]="item.cotaTVA_Id" #cotaTVA_Id="ngModel" class="form-control" (change)="calculateValuesForSelectedTVA(item.id, i)">
                                        <option [ngValue]="null">Selecteaza</option>
                                        <option *ngFor="let cota of getCoteById(item.id)" [ngValue]="cota.id">{{cota.vat}}</option>
                                    </select>
                                </td>
                                <td class="alignSum">{{ item.value | number: '1.2' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-lg-6" style="display: flex; justify-content: flex-end">
                        <button id="saveCoteTVA" class="btn btn-info" (click)="saveCoteTVA()">Salveaza modificarile</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>