/*.mat-row {
    height: auto;
    text-align: center;
}*/

/*.mat-cell {
    padding: 8px 8px 8px 0;
    text-align: center;
}*/


.mat-column-Categorie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    font-size: smaller;
}
.mat-column-Ianuarie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Februarie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Martie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Aprilie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Mai {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Iunie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Iulie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-August {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Septembrie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Octombrie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Noiembrie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    hyphens: auto;
}
.mat-column-Decembrie {
    border-right: 1px solid grey;
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 6.5% !important;
    width: 6.5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.table-container {
    /*width: 100%;*/
    height: 400px;
    overflow: auto;
}
/*table {
    text-align: center;
}*/

tr.mat-footer-row {
    font-weight: bold;
}

tr.mat-footer-row td:not(:first-child) {
    
    text-align: right;
}



/*.mat-table-sticky {
    
    text-align: center;
}*/