<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        <a [routerLink]="['/app/conta/operations/operationsList']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                        Istoric Operatii Contabile

                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="tragereList" name="tragereList" #tragereListForm="ngForm"
                      >
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="dataStart" class="col-form-label">
                                Data inceput
                            </label>
                            <mat-form-field>
                                <input matInput
                                       [matDatepicker]="dataStartPicker"
                                       id="dataStart"
                                       name="dataStart"
                                       [(ngModel)]="dataStart" />
                                <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="dataEnd"
                                   class="col-form-label">
                                Data sfarsit
                            </label>
                            <mat-form-field>
                                <input matInput
                                       [matDatepicker]="dataEndPicker"
                                       id="dataEnd"
                                       name="dataEnd"
                                       [(ngModel)]="dataEnd" />
                                <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndPicker></mat-datepicker>

                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="Debit"
                                   class="col-form-label">
                                Debit
                            </label>
                            <input id="Debit" name="Debit" type="text" [(ngModel)]="debit" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="Credit"
                                   class="col-form-label">
                                Credit
                            </label>
                            <input id="Credit" name="Credit" type="text" [(ngModel)]="credit" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="Explicatie"
                                   class="col-form-label">
                                Explicatie
                            </label>
                            <input id="Explicatie" name="Explicatie" type="text" [(ngModel)]="explicatie" class="form-control" />
                        </div>
                        <div class="col-lg-1 align-self-center">
                            <button class="btn btn-info "
                                    [disabled]="tragereListForm.form.invalid"
                                    (click)="refreshTranzactii()"
                                    title="Cauta">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                    </div>
                    <hr />
                    <div class="row">


                        <!--<table class="table table-responsive" [busy]="isLoading">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Debit</th>
                                    <th scope="col">Credit</th>
                                    <th scope="col">Suma</th>
                                    <th scope="col">Fel Document</th>
                                    <th scope="col">Numar Document</th>
                                    <th scope="col">Data Document</th>
                                    <th scope="col">Explicatie</th>
                                    <th scope="col">Tip</th>
                                    <th scope="col">Nota</th>


                                </tr>
                            </thead>
                            <tbody *ngFor="let operation of tranzactiiList; let i = index">
                                <tr>
                                    <td scope="row">{{ i + 1}}</td>

                                    <td>{{ operation.data  | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ operation.debit }}</td>
                                    <td>{{ operation.credit }}</td>
                                    <td class="alignSum">{{ operation.suma   | number: '1.2-2'  }}</td>
                                    <td>{{ operation.fel_doc }}</td>
                                    <td>{{ operation.nr_doc }}</td>
                                    <td>{{ operation.data_doc  | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ operation.explicatie  }}</td>
                                    <td>{{ operation.tip  }}</td>
                                    <td>{{ operation.nota}}</td>

                                </tr>
                            </tbody>
                        </table>-->

                        <dx-data-grid id="gridContainertranzactiiList"
                                      [dataSource]="tranzactiiList"
                                      [showBorders]="true"
                                      [allowColumnResizing]="true"
                                      [wordWrapEnabled]="true"
                                      [busy]="isLoading"
                                      (onCellPrepared)="onCellPrepared($event)">
                            <dxo-editing model="cell"
                                         [allowUpdating]="false"
                                         [allowAdding]="false"
                                         [allowDeleting]="false">
                            </dxo-editing>
                            <dxo-group-panel [visible]="true"></dxo-group-panel>
                            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                            <dxo-selection mode="multiple"></dxo-selection>
                            <dxo-scrolling mode="infinite"></dxo-scrolling>

                            <dxi-column dataField="data" caption="Data" dataType="date" [format]="'dd/MM/yyyy'" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="debit" caption="Debit" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="credit" caption="Credit" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="suma" caption="Suma" [format]="',##0.00#'" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="fel_doc" caption="Fel Document" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="nr_doc" caption="Numar Document" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="data_doc" caption="Data Document" dataType="date" [format]="'dd/MM/yyyy'" [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="explicatie" caption="Explicatie"  [allowEditing]="false" ></dxi-column>
                            <dxi-column dataField="tip" caption="Tip"  [allowEditing]="false"></dxi-column>
                            <dxi-column dataField="nota" caption="Nota"  [allowEditing]="false"></dxi-column>
                            

                            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                        </dx-data-grid>


                    </div>
                </form>
            </div>
        </div>
    </section>
</div>