<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!--<h1>{{ "HomePage" | localize }}</h1>
                    <button type="button"
                            class="btn btn-sm bg-secondary"
                            (click)="filedocsearch()">
                        <i class="fas fa-pencil-alt"></i>
                        {{ "Filedocsearch" | localize }}
                    </button>
                    Selected id: {{selectedId}}-->
                </div>
                <!--<div class="row" *ngIf="invoicesWithoutPaapCount != 0">
                    <h1>Sunt <b>{{invoicesWithoutPaapCount}}</b> facturi inregistrate pentru anul in curs fara achizitii asociate</h1> &nbsp;
                    <a class="btn btn-info mr-2" [routerLink]="['/app/buget/paap/alocareFacturi']" title="Asociaza Facturi" *ngIf="isGranted('Buget.PAAP.Modificare')">Asociaza Facturi</a>
                </div>
                <div class="row" *ngIf="invoicesWithoutPaapCount == 0">
                    <p><b>Nu sunt facturi inregistrate pentru anul in curs fara achizitii asociate</b></p>
                </div>-->
            </div>
        </div>
    </section>
</div>
