  
    <abp-modal-header [title]="'Istoric Stare Contract'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="row mt-6">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stare</th>
                        <th scope="col">Data</th>
                        <th scope="col">Comentarii</th>
                    </tr>
                </thead>
                <tbody *ngFor="let element of contractList; let i = index">
                    <tr>
                        <td scope="row">{{ i+1 }}</td>
                        <td>{{ element.contract_State }}</td>
                        <td class="alignDateInTable">{{ element.operationDate | date: 'dd/MM/yyyy' }}</td>
                        <td>{{ element.comentarii }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
