<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Plan de Conturi
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    <label for="searchAccount" class="form-label"> Cauta</label>
                    <input id="searchAccount"
                           name="searchAccount"
                           type="text"
                           [(ngModel)]="accountList.searchAccount"
                           class="form-control" />
                </div>
                <div class="col-lg-2">
                    <label for="accountStatus" class="form-label"> Cont activ</label>
                    <div class="custom-control custom-checkbox">
                        <input id="accountStatus"
                               name="accountStatus"
                               type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="accountList.accountStatus" />
                        <label for="accountStatus" class="custom-control-label mt-2"> Cont activ</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <button (click)="search()"
                            class="btn btn-info">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="panel-heading" [busy]="isLoading">
                <div class="row">
                    <h4 class="panel-title col-xs-6">
                        Conturi - <span>{{ accountListCount() }}</span> &nbsp;
                        <button type="button"
                                [routerLink]="['/app/conta/nomenclatoare/accounts/accountEdit']"
                                *ngIf="isGranted('Administrare.Contracte.Beneficiari.Acces')"
                                class="btn btn-info ">
                            <i class="fas fa-plus"></i>
                        </button>
                        <a [routerLink]="['/app/conta/nomenclatoare/accounts/accountRelationList']"
                           class="btn btn-info mx-2">
                            Relatii conturi
                        </a>
                    </h4>
                </div>
            </div>
            <dx-data-grid id="gridContainerAccountList"
                          [dataSource]="accountList.accounts"
                          [showBorders]="true"
                          [allowColumnResizing]="true"
                          [wordWrapEnabled]="true"
                          (onCellPrepared)="onCellPrepared($event)">
                <dxo-editing model="cell"
                             [allowUpdating]="false"
                             [allowAdding]="false"
                             [allowDeleting]="false">
                </dxo-editing>
                <dxo-group-panel [visible]="true"></dxo-group-panel>
                <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                <dxo-selection mode="multiple"></dxo-selection>
                <dxo-scrolling mode="infinite"></dxo-scrolling>

                <dxi-column dataField="symbol" caption="Simbol"></dxi-column>
                <dxi-column dataField="syntheticAccount" caption="Sintetic"></dxi-column>
                <dxi-column dataField="accountName" caption="Denumire cont"></dxi-column>
                <dxi-column dataField="accountType" caption="Tip cont"></dxi-column>
                <dxi-column dataField="accountStatus" caption="Cont activ"></dxi-column>
                <dxi-column dataField="activityType" caption="Tip activitate"></dxi-column>
                <dxi-column dataField="currency" caption="Moneda" [width]="80"></dxi-column>
                <dxi-column dataField="thirdParty" caption="Tert"></dxi-column>
                <dxi-column dataField="accountFuncTypeName" caption="Functie cont"></dxi-column>
                <dxi-column dataField="denumireSector" caption="Sector BNR"></dxi-column>
                <dxi-column dataField="nivelRand" caption="Nivel rand" width="50"></dxi-column>
                <dxi-column type="buttons">
                    <dxi-button icon="edit" text="Editeaza" [onClick]="editAccount" [visible]="isVisible"></dxi-button>
                    <dxi-button icon="fa fa-history" text="Istoric cont" [onClick]="showHistory"></dxi-button>
                    <dxi-button icon="trash" contextmenu="Sterge" [onClick]="deleteAccount" [visible]="isVisible"></dxi-button>
                </dxi-column>

                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            </dx-data-grid>
            <!--<table class="table">
                <thead>
                    <tr class="small-font">
                        <th scope="col">#</th>
                        <th scope="col">Simbol</th>
                        <th scope="col">Sintetic</th>
                        <th scope="col">Denumire cont</th>
                        <th scope="col">Tip cont</th>
                        <th scope="col">Cont activ</th>
                        <th scope="col">Tip activitate</th>
                        <th scope="col">Moneda</th>
                        <th scope="col">Tert</th>
                        <th scope="col">Functie cont</th>
                        <th scope="col">Sector BNR</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let account of accountList.accounts; let i = index">
                        <td scope="row">{{ i + 1 }}</td>
                        <td>{{ account.symbol }}</td>
                        <td>{{ account.syntheticAccount }}</td>
                        <td>{{ account.accountName }}</td>
                        <td>{{ account.accountType }}</td>
                        <td>
                            <input id="accountStatus{{i}}"
                                   name="accountStatus{{i}}"
                                   type="checkbox" [(ngModel)]="account.accountStatus"
                                   #accountStatus="ngModel"
                                   style="position: relative; left:0px; opacity:100"
                                   disabled />
                        </td>
                        <td>{{ account.activityType }}</td>
                        <td>{{ account.currency }}</td>
                        <td>{{ account.thirdParty }}</td>
                        <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                            {{ account.accountFuncTypeName }}
                        </td>

                        <td>{{account.denumireSector}}</td>
                        <td>
                            <button type="button"
                                    [routerLink]="['/app/conta/nomenclatoare/accounts/accountEdit']"
                                    [queryParams]="{ accountSearch: accountList.searchAccount, account: account.id }"
                                    class="btn btn-info btn-circle">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-circle"
                                    (click)="deleteAccount(account.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>-->
        </div>
    </section>
</div>