<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Adaugare / modificare cont
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <form autocomplete="off" #addEditAccountForm="ngForm" (ngSubmit)="saveAccount()" [busy]="isLoading">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="symbol" class="col-form-label"> Simbol</label>
                            <div class="input-group">                                
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!symbol.invalid && symbol.touched"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="symbol.invalid || !symbol.touched"></i>
                                </span>
                                <input id="symbol"
                                       name="symbol"
                                       type="text"
                                       class="form-control"
                                       [(ngModel)]="account.symbol"
                                       #symbol="ngModel"
                                       #symbolEl />
                                <abp-validation-summary [control]="symbol"
                                                        [controlEl]="symbolEl"></abp-validation-summary>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="syntheticAccount" class="col-form-label">
                                Sintetic
                                <span *ngIf="syntheticAccount.invalid && !syntheticAccount.length">*</span>
                            </label>
                            <span class="input-group-addon">
                                <i class="fas fa-check-circle" aria-hidden="true"></i>
                            </span>
                            <div class="input-group">

                                <input id="syntheticAccount"
                                       name="syntheticAccount"
                                       type="text"
                                       [(ngModel)]="account.syntheticAccount"
                                       class="form-control"
                                       #syntheticAccount="ngModel"
                                       #syntheticAccountEl
                                       required />
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="accountName" class="col-form-label">
                                Denumire cont
                                <span *ngIf="accountName.invalid && !accountName.length">*</span>
                            </label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!accountName.invalid || accountName.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="accountName.invalid && !accountName.length"></i>
                                </span>
                                <input id="accountName"
                                       name="accountName"
                                       type="text"
                                       class="form-control"
                                       [(ngModel)]="account.accountName"
                                       #accountName="ngModel"
                                       #accountNameEl
                                       required />
                            </div>
                            <abp-validation-summary [control]="accountName"
                                                    [controlEl]="accountNameEl"></abp-validation-summary>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label" for="currencyId"> Moneda</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!currencyId.invalid || currencyId.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="currencyId.invalid && !currencyId.length"></i>
                                </span>

                                <select class="form-control"
                                        name="currencyId"
                                        [(ngModel)]="account.currencyId"
                                        #currencyId="ngModel">
                                    <option *ngFor="let value of currency" [ngValue]="value.id">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label" for="thirdPartyId"> Tert</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!thirdPartyId.invalid || thirdPartyId.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="thirdPartyId.invalid && !thirdPartyId.length"></i>
                                </span>
                                <select class="form-control"
                                        [(ngModel)]="account.thirdPartyId"
                                        name="thirdPartyId"
                                        #thirdPartyId="ngModel">
                                    <option value="null">Select</option>
                                    <option *ngFor="let value of thirdParties" [ngValue]="value.id">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label" for="accountType"> Tip cont</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!accountType.invalid || accountType.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="accountType.invalid && !accountType.length"></i>
                                </span>
                                <select class="form-control"
                                        [(ngModel)]="account.accountType"
                                        name="accountType"
                                        #accountType="ngModel">
                                    <option *ngFor="let value of accountTypes"
                                            [ngValue]="value.id">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label" for="accountFuncType"> Functie cont</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!accountFuncType.invalid || accountFuncType.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="accountFuncType.invalid && !accountFuncType.length"></i>
                                </span>
                                <select class="form-control" [(ngModel)]="account.accountFuncType"
                                        name="accountFuncType"
                                        #accountFuncType="ngModel">
                                    <option *ngFor="let value of accountFuncTypes"
                                            [ngValue]="value.id">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label" for="taxStatus"> Tip cont (fiscal)</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!taxStatus.invalid || taxStatus.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="taxStatus.invalid && !taxStatus.length"></i>
                                </span>
                                <select [(ngModel)]="account.taxStatus"
                                        name="taxStatus"
                                        class="form-control"
                                        #taxStatus="ngModel">
                                    <option *ngFor="let value of taxStatusList"
                                            [ngValue]="value.id">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="externalCode" class="col-form-label"> Cod extern</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                </span>

                                <input id="externalCode"
                                       name="externalCode"
                                       type="text"
                                       class="form-control"
                                       [(ngModel)]="account.externalCode"
                                       #externalCode="ngModel"
                                       #externalCodeEl />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label for="externalCode" class="col-form-label">
                                Este folosit pentru identificarea emitentului, emisiunii, SSIF-ului, etc. folosind un cod ce provine din sistemele informatice externe. De ex. pentru SSIF, ar trebui sa completati CIF-ul.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="nivelRand" class="col-form-label"> Nivel rand</label>
                            <div class="input-group">
                                <input id="nivelRand"
                                       name="nivelRand"
                                       type="text"
                                       class="form-control"
                                       [(ngModel)]="account.nivelRand"
                                       #nivelRand="ngModel"
                                       #nivelRandEl />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="dataValabilitate" class="col-form-label"> Data valabilitate</label>
                            <div class="input-group">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="dataValabilitatePicker" id="dataValabilitate"
                                           name="dataValabilitate" [(ngModel)]="account.dataValabilitate" #dataValabilitate="ngModel" />
                                    <mat-datepicker-toggle matSuffix [for]="dataValabilitatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #dataValabilitatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="computingAccount" class="col-form-label"> Cont de calcul</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!computingAccount.invalid || computingAccount.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="computingAccount.invalid && !computingAccount.length"></i>
                                </span>
                                <div class="custom-control custom-checkbox">
                                    <input id="computingAccount"
                                           name="computingAccount"
                                           type="checkbox"
                                           class="custom-control-input"
                                           [(ngModel)]="account.computingAccount"
                                           #computingAccount="ngModel"
                                           #computingAccountEl />
                                    <label for="computingAccount" class="custom-control-label mt-2"> Cont de calcul</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="input-group">
                                <label class="form-label" for="externalCode">
                                    Analitic sau sintetic fara analitice.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label" for="activityTypeId"> Tip activitate</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!activityTypeId.invalid || activityTypeId.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="activityTypeId.invalid && !activityTypeId.length"></i>
                                </span>
                                <select class="form-control" [(ngModel)]="account.activityTypeId"
                                        name="activityTypeId"
                                        #activityTypeId="ngModel">
                                    <option [ngValue]="null">NA</option>
                                    <option *ngFor="let value of activityTypes"
                                            [ngValue]="value.id">
                                        {{value.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label class="col-form-label" for="sectorBnrId"> Sector BNR</label>
                            <div class="input-group">
                                <select id="sectorBnrId" name="sectorBnrId" class="form-control" [(ngModel)]="account.sectorBnrId" #sectorBnrId="ngModel">
                                    <option [ngValue]="null">Selecteaza</option>
                                    <option *ngFor="let item of sectorBnrList" [ngValue]="item.id">{{ item.denumire }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="accountStatus" class="col-form-label"> Cont activ</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!accountStatus.invalid || accountStatus.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="accountStatus.invalid && !accountStatus.length"></i>
                                </span>
                                <div class="custom-control custom-checkbox">
                                    <input id="accountStatus"
                                           name="accountStatus"
                                           type="checkbox"
                                           class="custom-control-input"
                                           [(ngModel)]="account.accountStatus"
                                           #accountStatus="ngModel" />

                                    <label for="accountStatus" class="custom-control-label mt-2"> Cont activ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="account.accountFuncType == 7">
                    <div class="col-lg-6" *ngIf="bankAccounts !== undefined">
                        <div class="form-group">
                            <label class="col-form-label" for="bankAccountId"> Cont bancar</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true"></i>
                                </span>
                                <select class="form-control"
                                        name="bankAccountId"
                                        [(ngModel)]="account.bankAccountId">
                                    <option [ngValue]="null">Selecteaza</option>
                                    <option *ngFor="let value of bankAccounts"
                                            [ngValue]="value.id">
                                        {{value.account}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-3">
                        <a [routerLink]="['/app/conta/nomenclatoare/accounts/accountList']"
                           [queryParams]="{accountSearch: accountSearch}"
                           class="btn btn-info">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="col-lg-5 col-lg-offset-4">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!addEditAccountForm.form.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="addEditAccountForm.form.invalid"></i>
                                </span>
                                <button type="submit"
                                        class="btn btn-info"
                                        title="Save">
                                        <!--[disabled]="addEditAccountForm.form.invalid">-->
                                    <i class="fas fa-save"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-lg-offset-3" *ngIf="account.id != 0">
                        <a [routerLink]="['/app/conta/nomenclatoare/accounts/accountDeductibility']"
                           [queryParams]="{accountSearch: accountSearch, accountId: account.id}"
                           class="btn btn-info"> Deductibilitate</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>