<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 class="header">
                        AccountRelationEdit
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="col-12">
            <accordion [isAnimated]="true">
                <accordion-group heading="AccountRelationEditHelpMessage"
                                 [isOpen]="true">
                    <h5>AccountRelationEditHelpMessageLong</h5>
                </accordion-group>
            </accordion>
        </div>
        <div class="container-fluid">
            <form #editRelationForm="ngForm"
                  (ngSubmit)="save()"
                  *ngIf="accountRelation !== undefined">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="debitRoot"
                                   class="col-form-label">
                                {{ "DebitRoot" | localize }}
                                <span *ngIf="debitRoot.invalid">*</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!debitRoot.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="debitRoot.invalid"></i>
                                </span>
                                <input id="debitRoot"
                                       name="debitRoot"
                                       type="text"
                                       [(ngModel)]="accountRelation.debitRoot"
                                       class="form-control"
                                       #debitRoot="ngModel"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="creditRoot"
                                   class="form-label">
                                Credit Root
                                <span *ngIf="creditRoot.invalid">*</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!creditRoot.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="creditRoot.invalid"></i>
                                </span>
                                <input id="creditRoot"
                                       name="creditRoot"
                                       type="text"
                                       [(ngModel)]="accountRelation.creditRoot"
                                       class="form-control"
                                       #creditRoot="ngModel"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a [routerLink]="['/app/conta/nomenclatoare/accounts/accountRelationList']" class="btn btn-info btn-circle"><i class="fas fa-arrow-left"></i></a>
                    </div>
                    <div class="col-lg-5 col-lg-offset-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!editRelationForm.form.invalid"></i>
                                <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="editRelationForm.form.invalid"></i>
                            </span>
                            <button type="submit"
                                    class="btn btn-info btn-circle"
                                    [disabled]="editRelationForm.form.invalid"
                                    title="Save">
                                <i class="fas fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>
