<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                    <!--<a [routerLink]="['/app/buget/prevazut/bugetPrevList']" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>-->
                Parametrii Buget</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <a [routerLink]="['/app/buget/prevazut/bugetPrevAutoValueList']" title="Configurare operatii automate" class="btn btn-info ml-2" *ngIf="isGranted('Buget.BVC.Prevazut.ConfigValori')">Configurare</a>
                <a [routerLink]="['/app/buget/prevazut/bugetPrevContribList']" title="Contributii" class="btn btn-info ml-2" *ngIf="isGranted('Buget.BVC.Prevazut.ContribAlteIncasari')">Contributii si Alte Incasari</a>
                <a [routerLink]="['/app/buget/cheltuieli/bugetCheltuieliList']" title="Cheltuieli" class="btn btn-info ml-2" *ngIf="isGranted('Buget.BVC.Parametrii.Cheltuieli')">Cheltuieli</a>
                <a [routerLink]="['/app/buget/prevazut/dobandaReferinta/dobandaReferintaList']" title="Dobanda de referinta" class="btn btn-info ml-2" *ngIf="isGranted('Buget.BVC.Prevazut.DobanziReferinta')">Dobanda de referinta</a>
            </div>
        </div>
    </section>
</div>