<form class="form-horizontal"
      autocomplete="off"
      #cancelPAAPForm="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'Anulare achizitie'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="operationDate">
                Data anulare
            </label>
            <div class="col-md-9">
                <mat-form-field style="width: 100%;">
                    <input matInput
                           id="operationDate"
                           name="operationDate"
                           [matDatepicker]="operationDatePicker"
                           [(ngModel)]="paapState.operationDate"
                           #operationDate="ngModel" />
                    <mat-datepicker-toggle matSuffix [for]="operationDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #operationDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="comentarii">
                Comentariu
            </label>
            <div class="col-md-9">
               <input id="comentarii" name="comentarii" [(ngModel)]="paapState.comentarii" #comentarii="ngModel" class="form-control" />
            </div>
        </div>
    </div>
    <abp-modal-footer [saveDisabled]="!cancelPAAPForm.form.valid"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>

