<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Balante calculate</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="balanceList" name="balanceList" *ngIf="balanceInit.showForm == 1" #balanceListForm="ngForm">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="searchStartDate" class="form-label">
                                Data inceput
                            </label>
                            <mat-form-field>
                                <input matInput
                                       id="searchStartDate"
                                       name="searchStartDate"
                                       [matDatepicker]="searchStartDatePicker"
                                       [(ngModel)]="balanceInit.searchStartDate"
                                       #searchStartDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="searchStartDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #searchStartDatePicker></mat-datepicker>
                            </mat-form-field>

                            <!--<input id="searchStartDate" name="searchStartDate" type="datetime-local" [(ngModel)]="balanceInit.searchStartDate" value="{{ balanceInit.searchStartDate }}" class="form-control" #searchStartDate="ngModel" />-->
                        </div>
                        <div class="col-lg-2">
                            <label for="searchEndDate" class="form-label">
                                Data sfarsit
                            </label>
                            <mat-form-field>
                                <input matInput
                                       name="searchEndDate"
                                       [matDatepicker]="searchEndDatePicker"
                                       [(ngModel)]="balanceInit.searchEndDate"
                                       #searchEndDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="searchEndDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #searchEndDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 align-self-center">
                            <button [disabled]="balanceListForm.form.invalid" (click)="balanceList()" class="btn btn-info"><i class="fas fa-search"></i></button>
                            <a href="{{appBaseUrl}}/assets/pdf/Conta - Balanta - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                        </div>
                    </div>

                    <div class="row mt-3" *ngIf="isGranted('Conta.Balanta.Balante.Modificare')">
                        <div class="col-lg-2">
                            <button *ngIf="!balanceInit.showComputeForm" (click)="showComputeFormFnc()" class="btn btn-info"><i class="fas fa-chevron-down"></i> Calcul balanta</button>
                            <button *ngIf="balanceInit.showComputeForm" (click)="hideComputeFormFnc()" class="btn btn-info"><i class="fas fa-chevron-up"></i> Calcul balanta</button>
                        </div>
                    </div>

                    <div class="row" *ngIf="balanceInit.showComputeForm">
                        <div class="col-lg-2">
                            <label for="calcDate" class="col-form-label">
                                Data calcul
                            </label>
                            <mat-form-field>
                                <input matInput
                                       id="calDate"
                                       name="calcDate"
                                       [matDatepicker]="datePicker"
                                       [(ngModel)]="balanceInit.calcDate"
                                       #calcDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                                <mat-datepicker #datePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--<div class="col-lg-4">
                            <label for="closingMonthOper" class="col-form-label">Inchidere conturi venituri si cheltuieli</label>
                            <div class="custom-control custom-checkbox">
                                <input id="closingMonthOper" name="centralStorage" type="checkbox" class="custom-control-input" [(ngModel)]="balanceInit.closingMonthOper" #closingMonthOper="ngModel" />
                                <label for="closingMonthOper" class="custom-control-label mt-2">Inchidere conturi venituri si cheltuieli</label>
                            </div>

                        </div>-->
                        <div class="col-lg-1 align-self-center">
                            <button [disabled]="balanceListForm.form.invalid" (click)="balanceSummaryList()" class="btn btn-info">Start</button>
                        </div>
                    </div>

                    <div class="panel-heading mt-3 mb-3 ml-3" style="position: relative;">
                        <div class="row">
                            <h4 class="panel-title col-xs-6">
                                Balante calculate - <span>{{getBalanceListCount()}}</span> &nbsp;
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Data balantei</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let balance of balanceInit.balanceList; let i = index;">
                                    <tr>
                                        <td scope="row">{{ i + 1}}</td>
                                        <td>{{ balance.balanceDate }}</td>
                                        <td>
                                            <!--<button (click)="balanceDetailsInit(balance.id, 'S')" class="btn btn-info" title="Synthetic"><i class="fas fa-th-list"></i></button>
                                            &nbsp;&nbsp;-->
                                            <button (click)="balanceDetailsInit(balance.id, 'A')" class="btn btn-info" title="Detalii balanta"><i class="fas fa-list"></i></button>
                                            &nbsp;&nbsp;
                                            <button (click)="balanceValidList(balance.id)" class="btn btn-success" title="Validare balanta" *ngIf="balance.okValid"><i class="fas fa-check-square"></i></button>
                                            <button (click)="balanceValidList(balance.id)" class="btn btn-danger" title="Validare balanta" *ngIf="!balance.okValid"><i class="fas fa-ban"></i></button>
                                            &nbsp;&nbsp;
                                            <button (click)="deleteBalance(balance.id)" class="btn btn-danger" *ngIf="balance.okDelete && isGranted('Conta.Balanta.Balante.Modificare')" title="Delete"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>

                <form id="balanceDetail" name="balanceDetail" *ngIf="balanceInit.showForm == 2" #balanceDetailForm="ngForm">
                    <div class="row">
                        <div class="col-lg-2 align-self-end">
                            <button [disabled]="balanceDetailForm.form.invalid" (click)="hideBalanceDetails()" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                        </div>
                        <div class="col-lg-2">
                            <label for="searchAccount" class="form-label"> Cauta conturi</label>
                            <input id="searchAccount" name="searchAccount" type="text" [(ngModel)]="balanceInit.viewBalanceDetail.searchAccount" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="currencyId" class="form-label"> Moneda</label>
                            <select id="currencyId" name="currencyId" [(ngModel)]="balanceInit.viewBalanceDetail.currencyId" #currencyId="ngModel" class="form-control">
                                <option [ngValue]="0" selected>RON si Echivalent RON</option>
                                <option *ngFor="let item of currencies" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-1 align-self-end">
                            <button [disabled]="balanceDetailForm.form.invalid" (click)="balanceDetails()" class="btn btn-info"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <hr />

                    <div class="panel-heading" style="position: relative;">
                        <div class="row">

                            <!-- Title -->
                            <h4 class="panel-title col-xs-6">
                                Detalii balanta - {{balanceInit.viewBalanceDetail.balanceDate}}  <!--- {{balanceInit.viewBalanceDetail.balanceTypeStr}}--> &nbsp;
                            </h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <dx-data-grid id="gridContainer"
                                          [dataSource]="balanceInit.viewBalanceDetail.balanceDetail"
                                          [columnAutoWidth]="true"
                                          [showBorders]="true"
                                          [allowColumnReordering]="true"
                                          [wordWrapEnabled]="true"
                                          (onCellPrepared)="onCellPrepared($event)">

                                <dxo-group-panel [visible]="true"></dxo-group-panel>
                                <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                                <dxo-selection mode="multiple"></dxo-selection>

                                <dxi-column>
                                    <dxi-column caption="Simbol" dataField="symbol"></dxi-column>
                                </dxi-column>
                                <dxi-column>
                                    <dxi-column caption="Denumire cont" dataField="name" width="250px"></dxi-column>
                                </dxi-column>
                                <dxi-column caption="Sold initial" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueI">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueI">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxi-column caption="Rulaj luna" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueM">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueM">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxi-column caption="Rulaj cumulat" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueY">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueY">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxi-column caption="Sold final" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueF">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueF">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            </dx-data-grid>
                        </div>
                        <!--<div class="col-md-12">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr class="small-font">
                                        <th scope="col" rowspan="2">#</th>
                                        <th scope="col" rowspan="2">Simbol</th>
                                        <th scope="col" rowspan="2" width="250px">Denumire cont</th>
                                        <th scope="col" colspan="2" class="text-center">Sold initial</th>
                                        <th scope="col" colspan="2" class="text-center">Rulaj in luna</th>
                                        <th scope="col" colspan="2" class="text-center">Rulaj cumulat</th>
                                        <th scope="col" colspan="2" class="text-center">Sold final</th>
                                    </tr>
                                    <tr class="small-font">
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let details of balanceInit.viewBalanceDetail.balanceDetail; let i = index;">
                                    <tr [ngStyle]=" details.totalSum && { 'font-weight': 'bold' }" class="small-font">
                                        <td scope="row">{{ i+1 }}</td>
                                        <td>{{ details.symbol }}</td>
                                        <td>{{ details.name }}</td>
                                        <td>{{ details.dbValueI | number: '1.2-2' }}</td>
                                        <td>{{ details.crValueI | number: '1.2-2' }}</td>
                                        <td>{{ details.dbValueM | number: '1.2-2' }}</td>
                                        <td>{{ details.crValueM | number: '1.2-2' }}</td>
                                        <td>{{ details.dbValueY | number: '1.2-2' }}</td>
                                        <td>{{ details.crValueY | number: '1.2-2' }}</td>
                                        <td>{{ details.dbValueF | number: '1.2-2' }}</td>
                                        <td>{{ details.crValueF | number: '1.2-2' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>-->
                    </div>
                </form>

                <form id="balanceSummary" name="balanceSummary" *ngIf="balanceInit.showForm ==3">
                    <div class="row">
                        <div class="col-lg-2" style="vertical-align:central">
                            <button (click)="hideSummary()" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                        </div>
                        <div class="col-lg-2" style="vertical-align:central">
                            <button *ngIf="showCalcButton" (click)="computeBalance()" class="btn btn-info"> Calculeaza balanta</button>
                        </div>
                    </div>
                    <hr />
                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h4 class="panel-title col-xs-6">
                                Sumar operatii
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Modul</th>
                                        <th scope="col">Operatiune</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let sumr of balanceSummary; let i = index">
                                    <tr>
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>{{sumr.module}}</td>
                                        <td>{{sumr.summary}}</td>
                                        <td>
                                            <div class="btn btn-success" *ngIf="sumr.ok"><i class="fas fa-check"></i></div>
                                            <div class="btn btn-danger" *ngIf="!sumr.ok"><i class="fas fa-ban fa-flip-horizontal"></i></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
                <form id="balanceValidation" name="balanceValidation" *ngIf="balanceInit.showForm == 4">
                    <div class="row">
                        <div class="col-lg-2" style="vertical-align:central">
                            <button (click)="hideValidation()" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                        </div>
                    </div>
                    <hr />
                    <div class="panel-heading" style="position:relative">
                        <div class="row">
                            <h4 class="panel-title col-xs-6">
                                Validare valori calculate in balanta
                            </h4>
                        </div>
                    </div>

                    <div class="row"> 
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Modul</th>
                                        <th scope="col">Element</th>
                                        <th scope="col">Valoare balanta</th>
                                        <th scope="col">Valoare gestiune</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let vld of balanceValid; let i = index">
                                    <tr>
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>{{vld.module}}</td>
                                        <td>{{vld.element}}</td>
                                        <td>{{vld.balanceValue}}</td>
                                        <td>{{vld.gestValue}}</td>
                                        <td>
                                            <div class="btn btn-success" *ngIf="vld.ok"><i class="fas fa-check"></i></div>
                                            <div class="btn btn-danger" *ngIf="!vld.ok"><i class="fas fa-ban fa-flip-horizontal"></i></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>