<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Balante salvate</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="balanceList" name="balanceList" *ngIf="!balanceInit.showBalanceDetails" [busy]="isLoading">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="searchStartDate" class="col-form-label">Data start</label>
                            <mat-form-field>
                                <input matInput
                                       id="searchStartDate"
                                       name="searchStartDate"
                                       [matDatepicker]="searchStartDatePicker"
                                       [(ngModel)]="balanceInit.searchStartDate"
                                       #searchStartDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="searchStartDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #searchStartDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="searchEndDate" class="col-form-label">Data sfarsit </label>
                            <mat-form-field>
                                <input matInput
                                       id="searchEndDate"
                                       name="searchEndDate"
                                       [matDatepicker]="searchEndDatePicker"
                                       [(ngModel)]="balanceInit.searchEndDate"
                                       #searchEndDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="searchEndDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #searchEndDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="isDaily" class="col-form-label">Balanta zilnica</label>
                            <div class="custom-control custom-checkbox">
                                <input id="isDaily"
                                       name="isDaily"
                                       type="checkbox"
                                       class="custom-control-input"
                                       [(ngModel)]="balanceInit.isDaily" />
                                <label for="isDaily" class="custom-control-label mt-2"> Este balanta zilnica</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button (click)="balanceList()" class="btn btn-info"><i class="fas fa-search"></i></button>
                            <a href="{{appBaseUrl}}/assets/pdf/Conta - Balanta - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                        </div>
                    </div>
                    <div class="row" *ngIf="isGranted('Conta.Balanta.BalanteSalvate.Modificare')">
                        <div class="col-lg-2">
                            <button *ngIf="!balanceInit.showSaveForm" (click)="showSaveFormFnc()" class="btn btn-info"><i class="fas fa-angle-up"></i> Salveaza balanta</button>
                            <button *ngIf="balanceInit.showSaveForm" (click)="hideSaveFormFnc()" class="btn btn-info"><i class="fas fa-angle-down"></i> Salveaza balanta</button>
                        </div>
                    </div>

                    <div class="row inner_form" *ngIf="balanceInit.showSaveForm">
                        <div class="col-lg-2">
                            <label for="saveForm_isDaily" class="col-form-label">Balanta zilnica</label>
                            <div class="custom-control custom-checkbox">
                                <input id="saveForm_isDaily"
                                       name="saveForm_isDaily"
                                       type="checkbox"
                                       class="custom-control-input"
                                       [(ngModel)]="balanceInit.savedBalanceForm.isDaily" 
                                       (change)="setDailyBalanceDate()"/>
                                <label for="saveForm_isDaily" class="custom-control-label mt-2"> Este balanta zilnica</label>
                            </div>
                        </div>
                        <div *ngIf="balanceInit.showSaveForm && balanceInit.savedBalanceForm.isDaily" class="col-lg-2">
                            <label for="dailyBalanceDate" class="col-form-label">Data balanta zilnica</label>
                            <mat-form-field>
                                <input matInput
                                       id="dailyBalanceDate"
                                       name="dailyBalanceDate"
                                       [matDatepicker]="dailyBalanceDatePicker"
                                       [(ngModel)]="balanceInit.savedBalanceForm.dailyBalanceDate"
                                       #dailyBalanceDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="dailyBalanceDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dailyBalanceDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2" *ngIf="balanceInit.savedBalanceForm.isDaily === false">
                            <label for="calcBalanceId" class="col-form-label"> Selecteaza balanta</label>
                            <select id="calcBalanceId" name="calcBalanceId" [(ngModel)]="balanceInit.savedBalanceForm.calcBalanceId" #calcBalanceId="ngModel" class="form-control">
                                <option *ngFor="let res of balanceDD" [ngValue]="res.id">{{res.balanceDate}}</option>
                            </select>
                        </div>

                        <div class="col-lg-2">
                            <label for="balanceName" class="col-form-label"> Nume balanta</label>
                            <input id="balanceName" name="balanceName" [(ngModel)]="balanceInit.savedBalanceForm.balanceName" class="form-control" />
                        </div>

                        <div class="col-lg-1">
                            <button [disabled]="balanceInit.savedBalanceForm.isDaily === false && balanceInit.savedBalanceForm.calcBalanceId == 0 || balanceInit.savedBalanceForm.balanceName == null" (click)="saveBalance()" class="btn btn-info"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h4 class="panel-title col-xs-6">
                                Balante salvate - <span>{{ getBalanceListCount() }}</span> &nbsp;
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Data balantei</th>
                                        <th scope="col">Nume balanta</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let balance of balanceInit.balanceList; let i = index">
                                    <tr>
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>{{ balance.balanceDate }}</td>
                                        <td>{{ balance.balanceName }}</td>
                                        <td>
                                            <button (click)="balanceDetailsInit(balance.id)" class="btn btn-info" title="Detalii balanta"><i class="fas fa-list"></i></button>
                                        </td>
                                        <td>
                                            <button (click)="deleteSavedBalance(balance.id)" class="btn btn-danger" *ngIf="balance.okDelete && isGranted('Conta.Balanta.BalanteSalvate.Modificare')" title="Sterge balanta salvata"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </form>

                <form id="balanceDetail" name="balanceDetail" *ngIf="balanceInit.showBalanceDetails">
                    <div class="row">
                        <div class="col-lg-2 align-self-end">
                            <button [disabled]="balanceInit.invalid" (click)="hideBalanceDetails()" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                        </div>
                        <div class="col-lg-2">
                            <label for="searchAccount" class="col-form-label">Cauta cont</label>
                            <input id="searchAccount" name="searchAccount" type="text" [(ngModel)]="balanceInit.viewBalanceDetail.searchAccount" class="form-control" />
                        </div>

                        <div class="col-lg-2">
                            <label for="nivelRand" class="col-form-label">Nivel rand</label>
                            <input id="nivelRand" name="nivelRand" class="form-control" [(ngModel)]="nivelMax" />
                        </div>
                        <div class="col-lg-2">
                            <label for="currency" class="col-form-label"> Moneda</label>
                            <select id="currency" name="currency" class="form-control"  [(ngModel)]="currencyId" >
                                <option value="0">RON si Echivalent RON</option>
                                <option *ngFor="let currency of currencyList" [ngValue]="currency.id">{{currency.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-1 align-self-end">
                            <button [disabled]="balanceInit.invalid" (click)="balanceDetails()" class="btn btn-info"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <hr />

                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h3 class="panel-title col-xs-6">
                                Detalii balanta - {{ balanceInit.viewBalanceDetail.balanceDate }} - {{ balanceInit.viewBalanceDetail.balanceName }}
                                &nbsp;
                            </h3>
                            <button id="downloadReport" name="downloadReport" title="Genereaza raport" (click)="showReport()" class="btn btn-info"><i class="fas fa-download"></i></button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <dx-data-grid id="gridContainer"
                                          [dataSource]="balanceInit.viewBalanceDetail.balanceDetail"
                                          [columnAutoWidth]="true"
                                          [showBorders]="true"
                                          [allowColumnReordering]="true"
                                          [wordWrapEnabled]="true"
                                          (onCellPrepared)="onCellPrepared($event)">

                                <dxo-group-panel [visible]="true"></dxo-group-panel>
                                <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                                <dxo-selection mode="multiple"></dxo-selection>
                                <dxo-scrolling mode="infinite"></dxo-scrolling>

                                <dxi-column>
                                    <dxi-column caption="Simbol" dataField="symbol"></dxi-column>
                                </dxi-column>
                                <dxi-column>
                                    <dxi-column caption="Denumire" dataField="name" width="250"></dxi-column>
                                </dxi-column>
                                <dxi-column caption="Sold initial" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueI">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueI">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxi-column caption="Rulaje curente" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueM">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueM">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxi-column caption="Total rulaje" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueY">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueY">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxi-column caption="Sold final" alignment="center">
                                    <dxi-column caption="Debit" dataField="dbValueF">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                    <dxi-column caption="Credit" dataField="crValueF">
                                        <dxo-format type="fixedPoint" [precision]="2"></dxo-format>
                                    </dxi-column>
                                </dxi-column>
                                <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                            </dx-data-grid>
                            <!--<table class="table">
                                <thead class="thead-light">
                                    <tr class="small-font">
                                        <th scope="col" rowspan="2">#</th>
                                        <th scope="col" rowspan="2">Simbol</th>
                                        <th scope="col" rowspan="2" width="250px">Denumire</th>
                                        <th scope="col" colspan="2" class="text-center">Sold initial</th>
                                        <th scope="col" colspan="2" class="text-center">Rulaje curente</th>
                                        <th scope="col" colspan="2" class="text-center">Total rulaje</th>
                                        <th scope="col" colspan="2" class="text-center">Sold final</th>
                                    </tr>
                                    <tr class="small-font">
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let details of balanceInit.viewBalanceDetail.balanceDetail; let i = index;">
                                    <tr [ngStyle]="details.totalSum && {'font-weight':' bold'}" class="small-font">
                                        <td scope="row">{{i + 1}}</td>
                                        <td>{{details.symbol}}</td>
                                        <td>{{details.name}}</td>
                                        <td>{{details.dbValueI | number: '1.2-2' }}</td>
                                        <td>{{details.crValueI | number: '1.2-2' }}</td>
                                        <td>{{details.dbValueM | number: '1.2-2' }}</td>
                                        <td>{{details.crValueM | number: '1.2-2' }}</td>
                                        <td>{{details.dbValueY | number: '1.2-2' }}</td>
                                        <td>{{details.crValueY | number: '1.2-2' }}</td>
                                        <td>{{details.dbValueF | number: '1.2-2' }}</td>
                                        <td>{{details.crValueF | number: '1.2-2' }}</td>

                                    </tr>
                                </tbody>
                            </table>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>