<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Imprumut Selectat</h2>
                </div>
                <div class="col-lg-5">
                    <a [routerLink]="['/app/imprumuturi/imprumuturiList']"
                       class="btn btn-info"
                       title="Inapoi">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>
            </section>
            <section class="content px-3">
                <div class="container-fluid">
                    <div class="body">
                        <div class="row mt-3">
                            <div class="col-lg-6">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td scope="col"><b>#</b></td>
                                            <td scope="col"><b>Tip Document</b></td>
                                            <td scope="col"><b>Numar Document</b></td>
                                            <td scope="col"><b>Data document</b></td>
                                            <td scope="col"><b>Tip imprumut</b></td>
                                            <td scope="col"><b>Cont imprumut</b></td>
                                            <td scope="col"><b>Cont plata</b></td>
                                            <td scope="col"><b>Data imprumut</b></td>
                                            <td scope="col"><div *ngIf="imprumut.tipCreditare == 'Credit'"><b>Data inceput/Data sfarsit</b></div></td>
                                            <td scope="col"><div *ngIf="imprumut.tipCreditare == 'Credit'"><b>Durata</b></div></td>
                                            <td scope="col"><div *ngIf="imprumut.tipCreditare == 'Credit'"><b>Tip imprumut durata</b> </div></td>
                                            <td scope="col"><div *ngIf="imprumut.tipCreditare == 'Credit'"><b>Termen imprumut</b> </div></td>
                                            <td scope="col"><b>Suma</b></td>

                                            <td scope="col" *ngIf="imprumut.tipDobanda == 'Fixa'"><b>Procent Dobanda</b></td>

                                            <td scope="col" *ngIf="imprumut.tipDobanda == 'Variabila'"><b>Marja Fixa</b></td>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> </td>
                                            <td>{{ imprumut.documentType }}</td>
                                            <td>{{ imprumut.documentNr }}</td>
                                            <td>{{ imprumut.documentDate | date: 'dd/MM/yyyy' }}</td>
                                            <td>{{ imprumut.imprumuturiTipuri}}</td>
                                            <td>{{ imprumut.loanAccount}}</td>
                                            <td>{{ imprumut.paymentAccount}}</td>
                                            <td>{{ imprumut.loanDate | date: 'dd/MM/yyyy' }}</td>
                                            <td><div *ngIf="imprumut.tipCreditare == 'Credit'">{{ imprumut.startDate | date: 'dd/MM/yyyy'}} - {{imprumut.endDate | date: 'dd/MM/yyyy'}}</div></td>
                                            <td><div *ngIf="imprumut.tipCreditare == 'Credit'">{{ imprumut.durata}}</div></td>
                                            <td><div *ngIf="imprumut.tipCreditare == 'Credit'">{{ imprumut.imprumuturiTipDurata}}</div></td>
                                            <td><div *ngIf="imprumut.tipCreditare == 'Credit'">{{ imprumut.imprumuturiTermen}}</div></td>
                                            <td>{{ imprumut.suma}}</td>

                                            <td *ngIf="imprumut.tipDobanda == 'Fixa'">{{ imprumut.procentDobanda}}%</td>


                                            <td *ngIf="imprumut.tipDobanda == 'Variabila'">{{ imprumut.marjaFixa}} %</td>


                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    

                    <div class="row">
                        <div class="col-lg-9 col-lg-offset-3">
                            <h2>
                                Garantii <span>({{ getGarantiiCount() }})</span>&nbsp;
                                <a [routerLink]="['/app/imprumuturi/imprumuturiGarantiiEdit']" [queryParams]="{ imprumutId: imprumut.id }" class="btn btn-info" title="Adauga"><i class="fas fa-plus">  </i></a>
                                &nbsp;

                            </h2>

                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td scope="col"><b>#</b></td>
                                        <td scope="col"><b>Partener Garantie</b></td>
                                        <td scope="col"><b>Tip Garantie </b></td>
                                        <td scope="col"><b>Document</b></td>
                                        <td scope="col"><b>Cont Garantie</b></td>
                                        <td scope="col"><b>Suma Garantiei</b></td>
                                        <td scope="col"><b>Mentiuni</b></td>
                                        <td scope="col"><b>Ce Garanteaza</b></td>
                                        <td scope="col"><b>Data inceput Garantie/Data sfarsit Garantie</b></td>


                                        <td><b>Editare</b></td>
                                        <td><b>Operatii</b></td>
                                        <td><b>Delete</b></td>

                                    </tr>
                                </thead>
                                <tbody *ngFor="let element of garantii; let i = index">
                                    <tr>
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>{{ element.legalPerson }}</td>
                                        <td>{{ element.garantieTip }}</td>
                                        <td>{{ element.documentNr}}</td>
                                        <td>{{ element.garantieAccount}}</td>
                                        <td>{{ element.sold}} {{ element.currency}}</td>
                                        <td>{{ element.mentiuni }}</td>
                                        <td>{{ element.garantieCeGaranteaza }}</td>
                                        <td>{{ element.startDateGarantie | date: 'dd/MM/yyyy'}} - {{element.endDateGarantie | date: 'dd/MM/yyyy'}}</td>
                                        
                                        <td>
                                            <button [routerLink]="['/app/imprumuturi/imprumuturiGarantiiEdit']"
                                                    [queryParams]="{ garantieId: element.id }"
                                                    class="btn btn-info"
                                                    title="Modifica">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button [routerLink]="['/app/imprumuturi/operatieGarantie']"
                                                    [queryParams]="{ garantieId: element.id , imprumutId: imprumutId}"
                                                    class="btn btn-info"
                                                    title="Operatii">
                                                <i class="fas fa-file"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button (click)="delete(element.id)"
                                                    class="btn btn-danger"
                                                    title="Sterge">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
                        </div>



</section>
        </div>