<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                    <a [routerLink]="['/app/buget/cheltuieli/bugetParametrii']" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
                Contributii buget prevazut</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position:relative">
                    <div class="row mt-3">
                        <h4 class="panel-title col-xs-6 ">
                            Contributii - <span> {{ getCountBugetPrevazutContrib() }} </span>
                            &nbsp;
                            <a [routerLink]="['/app/buget/prevazut/bugetPrevContribAdd']" class="btn btn-info" title="Adauga"><i class="fas fa-plus"></i></a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Data</th>
                                <th>Descriere</th>
                                <th>Tip Incasare</th>
                                <th>Banca</th>
                                <th>Suma</th>
                                <th>Moneda</th>
                                <th>Tip activitate</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of contribList;let i = index">
                                <td>{{ i + 1 }}</td>
                                <td class="alignDateInTable">{{ item.dataIncasare | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.descriere}}</td>
                                <td>{{ item.tipIncasare}}</td>
                                <td>{{ item.bankName }}</td>
                                <td class="alignSum">{{ item.value | number: '1.2' }}</td>
                                <td>{{ item.currencyName }}</td>
                                <td>{{ item.activityTypeName }}</td>
                                <td>
                                    <a class="btn btn-info" title="Editeaza" [routerLink]="['/app/buget/prevazut/bugetPrevContribAdd']" [queryParams]="{contribId: item.id}"><i class="fas fa-edit"></i></a>
                                    <button class="btn btn-danger ml-3" title="Sterge" (click)="delete(item.id)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>