<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                <a class="btn btn-info" [routerLink]="['/app/buget/cheltuieli/bugetParametrii']"><i class="fas fa-arrow-left"></i></a>
                Configurare valori preluate automat </h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading mt-3" style="position: relative;">
                    <div class="row">
                        <h4 class="panel-title col-xs-6">
                            Valori automate - <span>{{ getCountBugetPrevAutoValue() }}</span> &nbsp;
                            <a [routerLink]="['/app/buget/prevazut/bugetPrevAutoValueAdd']" class="btn btn-info"><i class="fas fa-plus"></i></a>
                        </h4>
                    </div>
                </div>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Departament</th>
                            <th>Tip rand</th>
                            <th>Tip venit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of bugetPrevAutoValueList;let i = index;">
                            <td>{{i + 1}}</td>
                            <td>{{ item.departamentName}}</td>
                            <td>{{ item.tipRandName }}</td>
                            <td>{{ item.tipRandVenitName }}</td>
                            <td>
                                <a class="btn btn-info" 
                                   title="Editeaza" 
                                   [routerLink]="['/app/buget/prevazut/bugetPrevAutoValueAdd']" 
                                   [queryParams]="{bugetPrevAutoValueId: item.id}"><i class="fas fa-edit"></i></a>
                                <button class="btn btn-danger ml-3" (click)="delete(item.id)" title="Sterge"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>