<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Comision Selectat</h2>
                </div>
                <div class="col-lg-5">
                    <a [routerLink]="['/app/imprumuturi/imprumuturiComisioaneList']" 
                       [queryParams]="{ imprumutId: comision.imprumutId }"
                       class="btn btn-info"
                       title="Inapoi">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-3">
        <div class="container-fluid">
            <div class="body">
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td scope="col"><b>#</b></td>
                                    <td scope="col"><b>Tip Comision</b></td>
                                    <td scope="col"><b>Description</b></td>
                                    <td scope="col"><b>Comision</b></td>
                                    <td scope="col"><b></b></td>
                                    <td scope="col"><b>Mod Calcul Comision</b></td>
                                    <td scope="col"><b>Tip Suma Comision</b></td>
                                    <td scope="col"><b>Baza De Calcul</b></td>


                                </tr>
                            </thead>
                        <tbody>
                            <tr>
                                <td> </td>
                                <td>{{ comision.tipComision }}</td>
                                <td>{{ comision.description }}</td>
                                <td>{{ comision.valoareComision}}</td>
                                <td>{{ comision.tipValoareComision }}</td>
                                <td>{{ comision.modCalculComision}}</td>
                                <td>{{ comision.tipSumaComision}}</td>
                                <td>{{ comision.bazaDeCalcul  }}</td>


                            </tr>
                </tbody>

                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9 col-lg-offset-3">
                <h2>
                    Date Comision <span>({{ getDateComisionCount() }})</span>&nbsp;
                    <!--<a [routerLink]="['/app/imprumuturi/imprumuturiGarantiiEdit']" [queryParams]="{ imprumutId: imprumut.id }" class="btn btn-info" title="Adauga"><i class="fas fa-plus">  </i></a>-->
                    &nbsp;

                </h2>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <table class="table">

                    <thead>
                        <tr>
                            <td scope="col"><b>#</b></td>
                            <td scope="col"><b>Data</b></td>
                            <td scope="col"><b>Suma Comision</b></td>
                            <td scope="col"><b>Comision</b></td>
                            <td scope="col"><b>Tip Comision</b></td>
                            

                            <td><b>Modificare</b></td>
                            <td><b>Validare</b></td>
                            
                     </tr>
                     </thead>



            <tbody *ngFor="let element of dateComision; let i = index">
                <tr>
                    <td scope="row">{{ i }}</td>
                    <td>
                        <mat-form-field style="width: 100%;">
                            <input matInput
                                   name="dataDateComision"
                                   [matDatepicker]="dataDateComisionPicker"
                                   [(ngModel)]="element.dataPlataComision"
                                   #dataDocument="ngModel"
                                   [disabled]="element.isValid"
                                   required />
                            <mat-datepicker-toggle matSuffix [for]="dataDateComision"></mat-datepicker-toggle>
                            <mat-datepicker #dataDateComisionPicker></mat-datepicker>
                        </mat-form-field>
                    </td>

                    <td><input name="SumaComision" class="form-control-sm" [(ngModel)]="element.sumaComision" #name="ngModel" [disabled]="element.isValid" /></td>


                    <td><input name="ValoareComision" class="form-control-sm" [(ngModel)]="element.valoareComision" #name="ngModel" [disabled]="element.isValid" /></td>

                    <!-- de pus cu un enum din api-->
                    <td *ngIf="element.tipValoareComision == '0'">% Procent</td>
                    <td *ngIf="element.tipValoareComision == '1'">Valoare Fixa</td>
                    
                    



        <td>
            <button (click)="saveDataComision(element)"
                    class="btn btn-info"
                    title="Update">
                <i class="fas fa-save"></i>
            </button>
        </td>
        <td>
            <button (click)="validateDataComision(element)"
                    class="btn btn-info"
                    title="Validate">
                <i class="fas fa-check"></i>
            </button>
        </td>
        
        </tr>
        </tbody>


        </table>
</div>
                        </div>

                        </div>
                    </div>



    </section>
</div>