<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        {{ "Adaugare / modificare emitent" | localize }}
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="col-12">
            <form id="form2" (ngSubmit)="savePersonIssuer()" *ngIf="personIssuerEdit.issuerDetails !== undefined">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="id1">
                                Cod fiscal
                                <span *ngIf="id1.invalid && !id1.length">[*]</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!id1.invalid || id1.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="id1.invalid && !id1.length"></i>
                                </span>
                                <input type="text"
                                       id="id1"
                                       name="id1"
                                       [(ngModel)]="personIssuerEdit.id1"
                                       #id1="ngModel"
                                       class="form-control"
                                       ngModel
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="id2">
                                Numar Registrul Comertului
                                <span *ngIf="id2.invalid && !id2.length">[*]</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!id2.invalid || id2.length"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="id2.invalid && !id2.length"></i>
                                </span>
                                <input type="text"
                                       id="id2"
                                       name="id2"
                                       [(ngModel)]="personIssuerEdit.id2"
                                       #id2="ngModel"
                                       class="form-control"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label">
                                Tip emitent
                            </label>
                            <div class="input-group">
                                <select class="form-control"
                                        name="issuerType"
                                        [(ngModel)]="personIssuerEdit.issuerDetails.issuerType"
                                        #issuerType="ngModel"
                                        ngModel>
                                    <option *ngFor="let value of issuerTypeList" [ngValue]="value.id">{{value.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label" id="bnR_SectorId">Cod statistic</label>
                            <div class="input-group">
                                <select id="bnR_SectorId" name="bnR_SectorId" [(ngModel)]="personIssuerEdit.issuerDetails.bnR_SectorId" #bnR_SectorId="ngModel" class="form-control">
                                    <option *ngFor="let item of sectorBnrList" [ngValue]="item.id">{{ item.denumire }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="personIssuerEdit.issuerDetails.issuerType === 1">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="ibanAbrv">
                                Bic
                                <span *ngIf="ibanAbrv.invalid && !ibanAbrv.length">[*]</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!ibanAbrv.invalid || ibanAbrv.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="ibanAbrv.invalid && !ibanAbrv.length"></i>

                                </span>
                                <input id="ibanAbrv"
                                       name="ibanAbrv"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.issuerDetails.ibanAbrv"
                                       #ibanAbrv="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="bic">
                                Swift
                                <span *ngIf="bic.invalid && !bic.length">[*]</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!bic.invalid || bic.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="bic.invalid && !bic.length"></i>

                                </span>
                                <input id="bic"
                                       name="bic"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.issuerDetails.bic"
                                       #bic="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row"
                     *ngIf="!personIssuerEdit.isNaturalPerson || personIssuerEdit.personType == 'LP'">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="name">
                                Nume
                                <span *ngIf="name.invalid && !name.length">[*]</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!name.invalid || name.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="name.invalid && !name.length"></i>
                                </span>
                                <input id="name"
                                       name="name"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.name"
                                       #name="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressStreet">
                                Strada
                                <span *ngIf="addressStreet.invalid && !addressStreet.length">[*]</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressStreet.invalid || addressStreet.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressStreet.invalid && !addressStreet.length"></i>

                                </span>
                                <input id="addressStreet"
                                       name="addressStreet"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.addressStreet"
                                       #addressStreet="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressNo">
                                Numar adresa
                                <span *ngIf="addressNo.invalid && !addressNo.length">[*]</span>
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressNo.invalid || addressNo.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressNo.invalid && !addressNo.length"></i>

                                </span>
                                <input id="addressNo"
                                       name="addressNo"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.addressNo"
                                       #addressNo="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressBlock">
                                Bloc
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressBlock.invalid || addressBlock.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressBlock.invalid && !addressBlock.length"></i>

                                </span>
                                <input id="addressBlock"
                                       name="addressBlock"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.addressBlock"
                                       #addressBlock="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressFloor">
                                Etaj
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressFloor.invalid || addressFloor.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressFloor.invalid && !addressFloor.length"></i>

                                </span>
                                <input id="addressFloor"
                                       name="addressFloor"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.addressFloor"
                                       #addressFloor="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressCountryId">
                                Tara
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressCountryId.invalid || addressCountryId.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressCountryId.invalid && !addressCountryId.length"></i>
                                </span>
                                <select class="form-control"
                                        name="addressCountryId"
                                        [(ngModel)]="personIssuerEdit.addressCountryId"
                                        #addressCountryId="ngModel"
                                        ngModel
                                        (change)="onSelectCountry($event)">
                                    <option *ngFor="let value of countries" [ngValue]="value.id">{{value.countryName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressRegionId">
                                Judet
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressRegionId.invalid || addressRegionId.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressRegionId.invalid && !addressRegionId.length"></i>

                                </span>
                                <select class="form-control"
                                        name="addressRegionId"
                                        [(ngModel)]="personIssuerEdit.addressRegionId"
                                        #addressRegionId="ngModel"
                                        ngModel>
                                    <option *ngFor="let value of regions" [ngValue]="value.id">{{value.regionName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressLocality">
                                Localitate
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressLocality.invalid || addressLocality.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressLocality.invalid && !addressLocality.length"></i>

                                </span>
                                <input id="addressLocality"
                                       name="addressLocality"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.addressLocality"
                                       #addressLocality="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-form-label"
                                   for="addressZipCode">
                                Cod postal
                            </label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle"
                                       aria-hidden="true"
                                       *ngIf="!addressZipCode.invalid || addressZipCode.length"></i>
                                    <i class="fas fa-exclamation-circle"
                                       aria-hidden="true"
                                       *ngIf="addressZipCode.invalid && !addressZipCode.length"></i>

                                </span>
                                <input id="addressZipCode"
                                       name="addressZipCode"
                                       class="form-control"
                                       [(ngModel)]="personIssuerEdit.addressZipCode"
                                       #addressZipCode="ngModel"
                                       type="text"
                                       required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="personIssuerEdit.personType == 'LP'">
                    <div class="col-lg-6">
                        <label class="col-form-label">Platitor TVA</label>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="radio-inline">
                                        <input type="radio"
                                               id="isVATPayer"
                                               name="isVATPayer"
                                               [(ngModel)]="personIssuerEdit.isVATPayer"
                                               #isVATPayer="ngModel"
                                               [value]="true" />
                                        <span class="radio-label">Da</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"
                                               id="isNotVATPayer"
                                               name="isNotVATPayer"
                                               [value]="false"
                                               [(ngModel)]="personIssuerEdit.isVATPayer"
                                               #isVATPayer="ngModel" />
                                        <span class="radio-label">Nu</span>
                                    </label>
                                </div>
                            </div>

                        </fieldset>

                    </div>
                    <div class="col-lg-6" *ngIf="personIssuerEdit.isVATPayer">
                        <label class="col-form-label"> De la data</label>
                        <mat-form-field style="width: 100%;">
                            <input matInput
                                   id="data"
                                   name="data"
                                   [matDatepicker]="dataPicker"
                                   [(ngModel)]="personIssuerEdit.startDateVATPayment"
                                   #startDateVATPayment="ngModel">
                            <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataPicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                </div>
                <div class="row" *ngIf="personIssuerEdit.personType == 'LP'">
                    <div class="col-lg-6">
                        <label class="col-form-label">TVA la incasare </label>
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="radio-inline">
                                        <input type="radio"
                                               id="isVATCollector"
                                               name="isVATCollector"
                                               [value]="true"
                                               [(ngModel)]="personIssuerEdit.isVATCollector"
                                               #isVATCollector="ngModel" />
                                        <span class="radio-label">Da</span>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"
                                               id="isNotVATCollector"
                                               name="isNotVATCollector"
                                               [value]="false"
                                               [(ngModel)]="personIssuerEdit.isVATCollector"
                                               #isVATCollector="ngModel" />
                                        <span class="radio-label">Nu</span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-lg-6" *ngIf="personIssuerEdit.isVATCollector">
                        <label class="col-form-label"> De la data</label>
                        <mat-form-field style="width: 100%;">
                            <input matInput
                                   id="vatCollectedStartDate"
                                   name="vatCollectedStartDate"
                                   [matDatepicker]="dataPickerVATCollected"
                                   [(ngModel)]="personIssuerEdit.vatCollectedStartDate"
                                   #vatCollectedStartDate="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="dataPickerVATCollected"></mat-datepicker-toggle>
                            <mat-datepicker #dataPickerVATCollected></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button"
                                class="btn btn-info btn-circle"
                                [routerLink]="['/app/emitenti']"
                                title="Inapoi">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <div class="col-lg-6" *ngIf="issuerId === 0">
                        <button type="button"
                                class="btn btn-info btn-circle"
                                (click)="nextForm(personIssuerEdit, 1)"
                                title="Inapoi">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <div class="col-lg-5" *ngIf="isGranted('General.Emitenti.Modificare')">
                        <button type="submit"
                                class="btn btn-info"
                                title="Salveaza">
                            <i class="fas fa-save"></i>
                        </button>
                    </div>

                </div>
            </form>

        </div>
    </section>
</div>