<form class="form-horizontal"
      autocomplete="off"
      #detailBVC="ngForm">
    <abp-modal-header [title]="'Detalii venituri (BVC)'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <table class="table table-responsive mr-2 ml-2" style="width: 100% !important">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data dobanda</th>
                    <th scope="col">Valoare plasament</th>
                    <th scope="col">Dobanda luna</th>
                    <th scope="col">Dobanda cumulata precedent</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of detailsBVC;let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.dataDobanda | date: 'dd/MM/yyyy' }}</td>
                    <td class="alignSum">{{ item.valoarePlasament | number:'1.2' }}</td>
                    <td class="alignSum">{{ item.dobandaLuna | number:'1.2' }}</td>
                    <td class="alignSum">{{ item.dobandaCumulataPrec | number:'1.2' }}</td>
            </tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    </div>
</form>

