<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Adauga / Modifica obiect de inventar</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="invObject1" name="invObject1" *ngIf="oper.showForm1">
                    <div class="row">
                        <div class="col-lg-1">
                            <a [routerLink]="['/app/conta/invObjects/invObjectAdd']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                        </div>
                        <div class="col-lg-11">
                            <h4>Selecteaza Factura</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <label for="operationDate" class="col-form-label"> Data Operatiei</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="operationDate.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!operationDate.valid"></i>
                                </span>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="operationDatePicker" id="operationDate"
                                           name="operationDate" [(ngModel)]="oper.operationDate" #operationDate="ngModel" />
                                    <mat-datepicker-toggle matSuffix [for]="operationDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #operationDatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="invoiceId" class="col-form-label"> Factura</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="invoiceId.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!invoiceId.valid"></i>
                                </span>
                                <select id="invoiceId" name="invoiceId" #invoiceId="ngModel" [(ngModel)]="oper.invoiceId" class="form-control">
                                    <option *ngFor="let res of invoiceList?.getInvoices" [ngValue]="res.id">{{res.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                            <a [routerLink]="['/app/conta/invObjects/invObjectAdd']" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
                        </div>

                        <div class="col-lg-6">
                            <div class="input-group" style="display: flex; justify-content: flex-end">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!oper.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="oper.invalid"></i>
                                </span>
                                <button (click)="showInvoiceDetails()" [disabled]="oper.invalid" type="submit" class="btn btn-info"><i class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="invObject2" name="invObject2" *ngIf="oper.showForm2">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Detalii Factura</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Data Document</th>
                                        <th scope="col">Denumire Activ</th>
                                        <th scope="col">Cantitate</th>
                                        <th scope="col">Valoare Inventar</th>
                                        <th scope="col">Magazie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detail of oper.invoiceDetail;let i = index;">
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>
                                            <mat-form-field>
                                                <input matInput [matDatepicker]="documentDatePicker" id="documentDate_{{i}}"
                                                       name="documentDate_{{i}}" [(ngModel)]="detail.documentDate" #documentDate="ngModel" />
                                                <mat-datepicker-toggle matSuffix [for]="documentDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker #documentDatePicker></mat-datepicker>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <input id="invObjectName_{{i}}" name="invObjectName_{{i}}" type="text" [(ngModel)]="detail.invObjectName" class="form-control" required />
                                        </td>
                                        <td>{{detail.quantity}}</td>
                                        <td>
                                            <input id="invValue_{{i}}" name="invValue_{{i}}" type="text" [(ngModel)]="detail.invValue" class="form-control" required />
                                        </td>
                                        <td>
                                            <select id="storageInId_{{i}}" name="storageInId_{{i}}" [(ngModel)]="detail.storageInId" class="form-control">
                                                <option *ngFor="let res  of storageList?.getInvObjectStorage" [ngValue]="res.id">{{res.storageName}}</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <button [disabled]="oper.invalid" (click)="showForm(1)" class="btn btn-info"><i class="fas fa-arrow-left"></i></button>
                        </div>

                        <div class="col-lg-10">
                            <div class="input-group" style="display: flex; justify-content: flex-end">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!oper.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="oper.invalid"></i>
                                </span>
                                <button (click)="prepareInvObjects()" [disabled]="oper.invalid" type="submit" class="btn btn-info"><i class="fas fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="invObject3" name="invObject3" *ngIf="oper.showForm3">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Detalii Obiecte de Inventar</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <tbody *ngFor="let detail of oper.invObjects; let i = index;">
                                    <tr>
                                        <td class="font-bold" width="10%">Denumire Activ</td>
                                        <td width="15%">{{detail.name}}</td>

                                        <td class="font-bold" width="10%">Cantitate</td>
                                        <td width="15%">{{detail.quantity}}</td>

                                        <td class="font-bold" width="10%">Magazie</td>
                                        <td width="15%">{{detail.storageIn}}</td>

                                        <td class="font-bold" width="10%">ValoareInventar</td>
                                        <td width="15%">{{detail.inventoryValue}}</td>
                                    </tr>

                                    <tr>
                                        <td class="font-bold">Categorie</td>
                                        <td>
                                            <select id="categoryId" name="categoryId" [(ngModel)]="detail.invCategoryId" #invCategoryId="ngModel" class="form-control">
                                               <option [ngValue]="null">Selecteaza</option>
                                                <option *ngFor="let res of categoryList?.getCategoryList" [ngValue]="res.id">{{res.categoryName}}</option>
                                            </select>
                                        </td>
                                        <td class="font-bold">Cont Obiect de Inventar</td>
                                        <td>
                                            <select id="invObjectAccountId" name="invObjectAccountId" [(ngModel)]="detail.invObjectAccountId" invObjectAccountId="ngModel" class="form-control">
                                                <option *ngFor="let res of accounts?.getAccounts" [ngValue]="res.id">{{res.name}}</option>
                                            </select>
                                        </td>

                                        <td class="font-bold">Cont Cheltuiala</td>
                                        <td>
                                            <select id="expenseAccountId" name="expenseAccountId" [(ngModel)]="detail.expenseAccountId" #expenseAccountId="ngModel" class="form-control">
                                                <option *ngFor="let res of accounts?.getAccounts" [ngValue]="res.id">{{res.name}}</option>
                                            </select>
                                        </td>
                                        <td class="font-bold"></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1">
                            <button [disabled]="oper.invalid" (click)="showForm(2)" class="btn btn-info" *ngIf="!oper.finishAdd"><i class="fas fa-arrow-left"></i></button>
                        </div>

                        <div class="col-lg-10">
                            <div class="input-group" style="display: flex; justify-content: flex-end">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!oper.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="oper.invalid"></i>
                                </span>
                                <button (click)="saveInvObjects()" [disabled]="oper.invalid" type="submit" class="btn btn-info" *ngIf="!oper.finishAdd" title="Salveaza"><i class="fas fa-save"></i></button>
                            
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>