<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Obiecte de inventar - Adaugare/Modificare Categorie</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="category" name="category" #categoryForm="ngForm" (ngSubmit)="saveCategory()">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="categoryName" class="col-form-label">Denumire categorie</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="!categoryName.invalid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="categoryName.invalid"></i>
                                </span>
                                <input id="categoryName" name="categoryName" type="text" [(ngModel)]="category.categoryName" #categoryName="ngModel" class="form-control" required />
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-lg-5 col-lg-offset-3">
                            <a [routerLink]="['/app/conta/invObjects/invObjectNomCategory']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left">  </i></a>
                        </div>
                        <div class="col-lg-5 col-lg-offset-4">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="categoryForm.form.valid"></i>
                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!categoryForm.form.valid"></i>
                                </span>
                                <button type="submit" class="btn btn-info" title="Salveaza"><i class="fas fa-save"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
