<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Adaugare obiect de inventar</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <a [routerLink]="['/app/conta/invObjects/invObject']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                    &nbsp;
                    <a [routerLink]="['/app/conta/invObjects/invObjectAddInvoice']" class="btn btn-info" title="Adauga pornind de la factura"><i class="fas fa-plus-square"></i></a>
                    &nbsp;
                    <a [routerLink]="['/app/conta/invObjects/invObjectAddDirect']" class="btn btn-info" title="Adauga fara factura"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
