<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Curs valutar
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content-header">
        <div class="container-fluid">
            <form id="exchangeRateInit" name="exchangeRateInit">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="startDate" class="form-label"> Data inceput</label>
                        <mat-form-field style="width: 100%;">
                            <input matInput [matDatepicker]="startDatePicker" id="startDate"
                                   name="startDate" [(ngModel)]="exchangeRate.startDate" #startDate="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #startDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <label for="endDate" class="form-label"> Data sfarsit</label>
                        <mat-form-field style="width: 100%;">
                            <input matInput [matDatepicker]="endDatePicker" id="endDate"
                                   name="endDate" [(ngModel)]="exchangeRate.endDate" #endDate="ngModel" />
                            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #endDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2">
                        <button (click)="searchExchangeRates()"
                                class="btn btn-info">
                            <i class="fas fa-search"></i>
                        </button>
                        <a href="{{appBaseUrl}}/assets/pdf/Conta - General - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                    </div>
                    <div class="col-lg-2">
                        <a [routerLink]="['/app/conta/nomenclatoare/exchangeRates/exchangeRatesListAdd']" class="btn btn-info" title="Adauga" *ngIf="isGranted('General.CursValutar.Modificare')"><i class="fas fa-plus">  </i></a>
                    </div>
                </div>
</form>
            <hr />
        </div>
    </section>
    <section class="content px-2">
        <dx-data-grid id="gridContainerExchangeRates"
                      [dataSource]="exchangeRate.exchangeList"
                      [showBorders]="true"
                      [allowColumnResizing]="true"
                      [wordWrapEnabled]="true"
                      [remoteOperations]="false"
                      (onCellPrepared)="onCellPrepared($event)">
            <dxo-editing model="cell"
                         [allowUpdating]="false"
                         [allowAdding]="false"
                         [allowDeleting]="false">
            </dxo-editing>
            <dxo-group-panel [visible]="true"></dxo-group-panel>
            <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
            <dxo-selection mode="multiple"></dxo-selection>

            <dxi-column dataField="exchangeDate" caption="Data" dataType="date" [format]="'dd/MM/yyyy'" alignment="center"></dxi-column>
            <dxi-column dataField="currencyCode" caption="Moneda"></dxi-column>
            <dxi-column dataField="value" caption="Valoare"></dxi-column>
            <dxi-column type="buttons" *ngIf="isGranted('General.CursValutar.Modificare')">
                <dxi-button icon="edit" [onClick]="updateItem" > </dxi-button>
                <dxi-button icon="clear" [onClick]="deleteItem" > </dxi-button>
            </dxi-column>
            <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>

        </dx-data-grid>
        <!--<table class="table">
            <thead>
                <tr class="small-font">
                    <th scope="col">Data</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Valoare</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exchange of exchangeRate.exchangeList; let i = index">
                    <td>{{  exchange.exchangeDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ exchange.currencyCode }}</td>
                    <td class="align-right">{{ exchange.value | number: '1.4-4' }}</td>
                </tr>
            </tbody>
        </table>-->
    </section>
</div>