<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                <a title="Inapoi" class="btn btn-info" [routerLink]="['/app/buget/realizat/bugetRealizatList']"><i class="fas fa-arrow-left"></i></a>
                Randuri Balanta buget realizat</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position:relative">
                    <div class="row mt-3">
                        <h4 class="panel-title col-xs-6 ">
                            Randuri - <span> {{ getCountRealizatRanduri() }} </span>
                            &nbsp;
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Denumire rand</th>
                                <th>Valoare</th>
                                <th>Tip activitate</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bugetBalRealizatRandList;let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.denumireRand }}</td>
                                <td class="alignSum">{{ item.valoare | number: '1.2' }}</td>
                                <td>{{ item.activityTypeName }}</td>
                                <td>
                                    <button class="btn btn-info" title="Detalii rand" (click)="showRowDetailDialog(item.id, item.activityTypeId)"><i class="fas fa-list"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>