<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Operatii financiare</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="list" name="list" #listForm="ngForm" *ngIf="form.showList" >
                    <div class="row" [busy]="isLoading">
                        <div class="col-lg-2">
                            <label for="dataStart" class="col-form-label">Data inceput</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dataStartDatePicker" id="dataStart"
                                       name="dataStart" [(ngModel)]="form.dataStart" #dataStart="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="dataStartDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="dataEnd" class="col-form-label">Data inceput</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dataEndDatePicker" id="dataEnd"
                                       name="dataEnd" [(ngModel)]="form.dataEnd" #dataEnd="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="dataEndDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3">
                            <label for="bankAccountId" class="col-form-label"> Cont Bancar</label>
                            <select id="bankAccountId" name="bankAccountId" [(ngModel)]="form.bankAccountId" #bankAccountId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of bankAccountList" [ngValue]="item.id">{{ item.iban }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="quickSearch" class="col-form-label"> Cautare rapida</label>
                            <input id="quickSearch" name="quickSearch" type="text" [(ngModel)]="form.quickSearch" #quickSearch="ngModel" (change)="operSearch()" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="includeGenerate" class="col-form-label"> Includ operatii generate</label>
                            <div class="custom-control custom-checkbox">
                                <input id="includeGenerate"
                                       name="includeGenerate"
                                       type="checkbox"
                                       class="custom-control-input"
                                       [(ngModel)]="form.includeGenerate"
                                       #includeGenerate="ngModel"/>
                                <label for="includeGenerate" class="custom-control-label mt-2"> Includ operatii generate</label>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <button [disabled]="form.invalid"
                                    (click)="operSearch()"
                                    class="btn btn-info mr-2"
                                    type="button">
                                <i class="fas fa-search"> </i>
                            </button>
                            <button [disabled]="form.invalid"
                                    (click)="uploadFileStart()"
                                    *ngIf="isGranted('Conta.OperContab.Extras.Modificare')"
                                    class="btn btn-info"
                                    type="button">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </button>
                            <a href="{{appBaseUrl}}/assets/pdf/Conta - Operatii contabile - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                        </div>
                        <!--<div class="col-lg-1">
             
                        </div>-->
                    </div>
                    
                    <hr />  

                    <div class="row">
                        <div class="panel-heading" style="position: relative;">
                            <div class="row">
                                <h3 class="panel-title col-xs-6 align-self-end">
                                    <button (click)="saveSelection()" class="btn btn-info mx-2" *ngIf="!form.hideModifBtn && isGranted('Conta.OperContab.Extras.Modificare')"> Salveaza modificarile</button>
                                    <button (click)="generateConta()" class="btn btn-info mx-2" *ngIf="form.okGenerate && isGranted('Conta.OperContab.Extras.Modificare')"> Genereaza note</button>
                                    <button (click)="openDictionaryPage()" class="btn btn-info mx-2" *ngIf="isGranted('Conta.OperContab.Extras.Modificare')"> Dictionar</button>
                                    <button (click)="initDeleteForm()" class="btn btn-danger mx-2" *ngIf="isGranted('Conta.OperContab.Extras.Modificare')"> Sterge...</button>
                                </h3>
                            </div>
                        </div>
                        <table class="table small-font table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Cont Bancar</th>
                                    <th scope="col">Tip Document</th>
                                    <th scope="col">Nr Document</th>
                                    <th scope="col">Data Document</th>
                                    <th scope="col">Data Operatiei</th>
                                    <th scope="col" class="align-right">Suma</th>
                                    <th scope="col">OP</th>
                                    <th scope="col">Explicatii extras</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let operation of form.operList; let i = index;">
                                
                                <tr>
                                    <!--<td scope="row">{{ pageSize * (currentPage -1) + i + 1 }}</td>-->
                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>{{ operation.bankAccount }}</td>
                                    <td>
                                        <mat-form-field style="max-width: 250px; min-width: 150px" [disabled]="operation.ncChildGenerated">
                                            <input type="text" matInput id="documentTypeId_{{i}}"
                                                   name="documentTypeId_{{i}}"
                                                   [(ngModel)]="operation.documentTypeId"
                                                   (input)="documentTypeListByStr($event)"
                                                   required
                                                   [matAutocomplete]="auto"
                                                   #documentTypeId="ngModel"
                                                  />
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDocTypeName.bind(this)">
                                                <mat-select *ngFor="let res of documentTypeStr">
                                                    <mat-option (click)="selectedDocumentType(res.id, res.typeName, i)" [ngValue]="res.id">
                                                        {{ res.typeName }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <input id="documentNumber_{{i}}" name="documentNumber_{{i}}" type="text" [(ngModel)]="operation.documentNumber" #documentNumber="ngModel" class="form-control small-font" [disabled]="operation.ncChildGenerated" />
                                    </td>
                                    <td>
                                        <mat-form-field *ngIf="!operation.ncChildGenerated">
                                            <input matInput [matDatepicker]="documentDatePicker" id="documentDate_{{i}}"
                                                   name="documentDate_{{i}}" [(ngModel)]="operation.documentDate" #documentDate="ngModel" />
                                            <mat-datepicker-toggle matSuffix [for]="documentDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #documentDatePicker></mat-datepicker>
                                        </mat-form-field>
                                        <span *ngIf="operation.ncChildGenerated">{{ operation.documentDate | date: 'dd.MM.yyyy' }}</span>
                                    </td>
                                    <td>{{ operation.operationDate | date: 'dd.MM.yyyy' }}</td>
                                    <td class="align-right">{{ operation.value | number }}</td>
                                    <td>
                                        <select [disabled]="operation.ncChildGenerated"
                                                id="paymentOrderId_{{i}}"
                                                name="paymentOrderId_{{i}}"
                                                class="form-control" 
                                                [(ngModel)]="operation.selectedPaymentOrderId"
                                                #selectedPaymentOrderId="ngModel"
                                                style="max-width: 250px; min-width: 150px" 
                                                (ngModelChange)="checkPaymentOrder(operation.selectedPaymentOrderId, i)">
                                            <option [ngValue]="null">Selecteaza</option>
                                            <option *ngIf="operation.selectedOP == true" [ngValue]="operation.selectedPaymentOrderId">{{ operation.selectedPaymentOrderDetails }}</option>
                                            <option *ngFor="let paymentOrder  of operation.paymentOrdersList" [ngValue]="paymentOrder.id"> {{ paymentOrder.paymentDetails }}</option>
                                        </select>
                                    </td>
                                    <td> {{ operation.originalDetails }} </td>
                                </tr>
                                <tr>
                                    <td colspan="9">
                                        <table style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th scope="col">
                                                        <button [disabled]="!form.valid" (click)="addAccountingRow(operation.id)" class="btn btn-info" *ngIf="!operation.ncChildGenerated"><i class="fas fa-plus"></i></button>
                                                    </th>
                                                    <th scope="col">Debit</th>
                                                    <th scope="col">Credit</th>
                                                    <th scope="col" class="align-right">Suma</th>
                                                    <th scope="col">Explicatii</th>
                                                    <th scolpe="col">NCGenerata</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let detail of operation.accountingList; let j = i;">
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <mat-form-field style="min-width: 350px" required [disabled]="!detail.ncGenerated">
                                                            <input type="text" matInput id="debitAccountId_{{i}}"
                                                                   name="debitAccountId_{{i}}"
                                                                   [(ngModel)]="detail.debitAccountId"
                                                                   #debitAccountId="ngModel"
                                                                   (input)="getAccountListComputingDebit($event, i)"
                                                                   required [matAutocomplete]="auto">
                                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDebitName.bind(this)" [panelWidth]="'auto'">
                                                                <mat-select *ngFor="let item of accountsDb">
                                                                    <mat-option (click)="selectedInputDb(item.name, item.id, i)" [ngValue]="item.id">
                                                                        {{ item.name }}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </td>
                                                    <td>
                                                        <mat-form-field style="min-width: 350px">
                                                            <input type="text" matInput id="creditAccountId_{{i}}"
                                                                   name="creditAccountId_{{i}}"
                                                                   [(ngModel)]="detail.creditAccountId"
                                                                   #creditAccountId="ngModel"
                                                                   (input)="getAccountListComputingCredit($event, i)"
                                                                   required [matAutocomplete]="autoCr">
                                                            <mat-autocomplete #autoCr="matAutocomplete" [displayWith]="getCreditName.bind(this)"  [panelWidth]="'auto'">
                                                                <mat-select *ngFor="let item of accountsCr">
                                                                    <mat-option (click)="selectedInputCr(item.name, item.id, i)" [ngValue]="item.id">
                                                                        {{ item.name }}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </td>
                                                    <td class="align-right">
                                                        <input id="value_{{i}}" name="value_{{i}}" type="text" [(ngModel)]="detail.value" #value="ngModel" class="form-control small-font" style="min-width: 75px; max-width: 100px" [disabled]="detail.ncGenerated" />
                                                    </td>
                                                    <td>
                                                        <textarea id="details_{{i}}" name="details_{{i}}" [(ngModel)]="detail.details" #details="ngModel" style="min-width: 200px;" class="form-control small-font" [disabled]="detail.ncGenerated"></textarea>
                                                    </td>
                                                    <td>
                                                        <input id="ncGenerated_{{i}}" name="ncGenerated_{{i}}" type="checkbox" style="position: relative; left: 0px; opacity: 100" [(ngModel)]="detail.ncGenerated" disabled />
                                                    </td>
                                                    <td>
                                                        <button [disabled]="form.invalid" *ngIf="!detail.ncGenerated && isGranted('Conta.OperContab.Extras.Modificare')" (click)="deleteAccountingRow(operation.id, i)" class="btn btn-danger" title="Sterge"><i class="fas fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </form>

                <form id="upload" name="upload" #uploadForm="ngForm" *ngIf="form.showUploadForm">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="bankAccountUpld" class="col-form-label"> Cont bancar</label>
                            <select id="bankAccountUpld" name="bankAccountUpld" [(ngModel)]="form.uploadFile.bankAccountId" #uploadFile.bankAccountId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of bankAccountList" [ngValue]="item.id">{{ item.iban }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="documentNumber" class="col-form-label"> Nr extras</label>
                            <input id="documentNumber" name="documentNumber" type="text" [(ngModel)]="form.uploadFile.documentNumber" #uploadFile.documentNumber="ngModel" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="documentDate" class="col-form-label"> Data extras</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="documentDatePicker" id="documentDate"
                                       name="documentDate" [(ngModel)]="form.uploadFile.documentDate" #uploadFile.documentDate="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="documentDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #documentDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="operationDate" class="col-form-label"> Data operatiei</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="operationDatePicker" id="operationDate"
                                       name="operationDate" [(ngModel)]="form.uploadFile.operationDate" #uploadFile.operationDate="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="operationDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #operationDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="documentTypeId" class="col-form-label"> Tip document</label>
                            <select name="documentTypeId" id="documentTypeId" [(ngModel)]="form.uploadFile.documentTypeId" #uploadFile.documentTypeId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of documentTypeList" [ngValue]="item.id">{{ item.typeName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="file" class="col-form-label"> Selecteaza fisierul</label>
                            <input id="file" name="file" type="file" class="btn btn-info"  (change)="uploadFiles($event)" />
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-1">
                            <button type="button"
                                    (click)="backToList()"
                                    class="btn btn-info">
                                <i class="fas fa-arrow-left"></i>
                            </button>
                        </div>

                        <div class="col-lg-1">
                            <button type="button"
                                    (click)="uploadOperationFile()"
                                    class="btn btn-info">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </button>
                        </div>
                    </div>

                    <hr />
                </form>

                <form id="delete" *ngIf="form.showDeleteForm">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="dataStart" class="col-form-label">Data start</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                       name="dataStart" [(ngModel)]="form.deleteForm.dataStart" #dataStart="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="dataEnd" class="col-form-label"> Data end</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                       name="dataEnd" [(ngModel)]="form.deleteForm.dataEnd" #dataStart="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <label for="bankAccountId" class="col-form-label"> Cont bancar</label>
                            <select id="bankAccountId" name="bankAccountId" [(ngModel)]="form.deleteForm.bankAccountId" #deleteForm.bankAccountId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let res of bankAccountList" [ngValue]="res.id">{{ res.iban }}</option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-info" title="Cauta" (click)="operDeleteSearch()"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-info" title="Inapoi" (click)="backToList()"><i class="fas fa-arrow-left"></i></button>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="panel-heading" style="position: relative">
                            <div class="row">
                                <h3 class="col-xs-6">Sterge extrase</h3>
                            </div>
                        </div>
                        <table class="table small-font">
                           <thead>
                               <tr>
                                   <th scope="col">#</th>
                                   <th scope="col">Cont bancar</th>
                                   <th scope="col">Nr document</th>
                                   <th scope="col">Data document</th>
                                   <th scope="col">Data operatiei</th>
                                   <th scope="col">NCGenerata</th>
                                   <th scope="col"></th>
                               </tr>
                           </thead>
                            <tbody *ngFor="let item of form.deleteForm.list; let i = index;">
                                <tr>
                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>{{ item.bankAccount }}</td>
                                    <td>{{ item.documentNumber }}</td>
                                    <td>{{ item.documentDate | date: 'dd.MM.yyyy' }}</td>
                                    <td>{{ item.operationDate | date: 'dd.MM.yyyy' }}</td>
                                    <td>
                                        <input id="ncGenerated" name="ncGenerated" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="item.ncGenerated" disabled />
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" (click)="deleteExtras(item.foreignOperId)" *ngIf="!item.ncGenerated && isGranted('Conta.OperContab.Extras.Modificare')"> Sterge extras</button>
                                        <button type="button" class="btn btn-danger" (click)="deleteNC(item.foreignOperId)" *ngIf="item.ncGenerated && isGranted('Conta.OperContab.Extras.Modificare')"> Sterge note contabile</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>

    </section>

</div>