<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <h3>
                        Cautare  note contabile
                        <a href="{{appBaseUrl}}/assets/pdf/Conta - Operatii contabile - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                        <a [routerLink]="['/app/conta/operations/tranzactiiList']" class="btn btn-info" title="Inapoi">Istoric operatii contabile</a>
                    </h3>
                </div>
                <div class="col-4">
                    <div class="custom-control custom-checkbox">
                        <input id="deleteOperExterna"
                               name="deleteOperExterna"
                               type="checkbox"
                               class="custom-control-input"
                               [(ngModel)]="showButtonDeleteOperExterna" (change)="save()" />
                        <label for="deleteOperExterna" class="custom-control-label mt-2"> Permite stergerea notelor contabile provenite din alte module (OperExterna)</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2" [busy]="isLoading">
        <div class="container-fluid">
            <div class="body">
                <form id="operationList" name="operationList" #operationListForm="ngForm"
                      *ngIf="searchOperation !== undefined">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="dataStart" class="col-form-label">
                                Data inceput
                            </label>
                            <mat-form-field>
                                <input matInput
                                       [matDatepicker]="dataStartPicker"
                                       id="dataStart"
                                       name="dataStart"
                                       [(ngModel)]="searchOperation.dataStart"
                                       #dataStart="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="dataEnd"
                                   class="col-form-label">
                                Data sfarsit
                            </label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dataEndPicker" id="dataEnd" name="dataEnd" [(ngModel)]="searchOperation.dataEnd" #dataEnd="ngModel" />
                                <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="account1"
                                   class="col-form-label">Cont 1</label>
                            <input id="account1"
                                   name="account1"
                                   type="text"
                                   [(ngModel)]="searchOperation.account1"
                                   #account1="ngModel"
                                   class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="account2"
                                   class="col-form-label">Cont 2</label>
                            <input id="account2"
                                   name="account2"
                                   type="text"
                                   [(ngModel)]="searchOperation.account2"
                                   #account2="ngModel"
                                   class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label id="documentType"
                                   class="col-form-label">Tip document</label>
                            <select id="documentTypeId"
                                    name="documentTypeId"
                                    [(ngModel)]="searchOperation.documentTypeId"
                                    #documentTypeId="ngModel"
                                    class="form-control">
                                <option value="null">Select</option>
                                <option *ngFor="let item of documentTypeList.getDocumentType"
                                        [ngValue]="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <label for="documentNumber"
                                   class="col-form-label">Nr document</label>
                            <input id="documentNumber"
                                   name="documentNumber"
                                   type="text"
                                   [(ngModel)]="searchOperation.documentNumber"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="value"
                                   class="col-form-label">Valoare</label>
                            <input id="value"
                                   name="value"
                                   type="text"
                                   [(ngModel)]="searchOperation.value"
                                   #value="ngModel"
                                   class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="idOperation"
                                   class="col-form-label">Id operatie</label>
                            <input id="idOperation"
                                   name="idOperation"
                                   type="text"
                                   [(ngModel)]="searchOperation.operationId"
                                   #idOperation="ngModel"
                                   class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label for="explication"
                                   class="col-form-label">Explicatii</label>
                            <input id="explication"
                                   name="explication"
                                   type="text"
                                   [(ngModel)]="searchOperation.explication"
                                   #explication="ngModel"
                                   class="form-control" />
                        </div>
                        <div class="col-lg-1 align-self-center">
                            <button class="btn btn-info "
                                    [disabled]="operationListForm.form.invalid"
                                    (click)="searchOperations()"
                                    title="Cauta">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div class="col-lg-1 align-self-center">
                            <a class="btn btn-info"
                               [routerLink]="['/app/conta/operations/upload']"
                               title="IncarcaRegistruJurnal">
                                <i class="fas fa-cloud-upload-alt"></i>
                            </a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="panel-heading" style="position: relative;">
                            <div class="row">
                                <h4 class=" panel-title col-xs-7 mx-3">
                                    Note contabile - <span>{{getOperationCount()}}</span> - Adaugare note contabile &nbsp;
                                    <a [routerLink]="['/app/conta/operations/operationEdit']"
                                       *ngIf="isGranted('Conta.OperContab.OperContab.Modificare')"
                                       class="btn btn-info">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </h4>
                                <!--<h4 class="panel-title col-xs-5 align-self-end">
                                    <button class="btn btn-info"
                                            (click)="selectAll()">
                                        SelecteazaTot
                                    </button>
                                    <button class="btn btn-info mx-4"
                                            (click)="selectNone()">
                                        DeselecteazaTot
                                    </button>
                                    <button class="btn btn-info"
                                            (click)="saveValidation()">
                                        SalveazaValidarea
                                    </button>
                                </h4>-->
                            </div>
                        </div>

                        <table class="table table-responsive">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">DataOperatiei</th>
                                    <th scope="col">TipDocument</th>
                                    <th scope="col">Document / Data</th>
                                    <th scope="col">TipOperatieContabila</th>
                                    <th scope="col">Moneda</th>
                                    <th scope="col" class="align-right">Valoare</th>
                                    <th scope="col">OperExterna</th>
                                    <!--   <th scope="col">[Validat]</th>-->
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let operation of searchOperation.operations; let i = index">
                                <tr>
                                    <td scope="row">{{ i + 1}}</td>
                                    <td>{{operation.id}}</td>
                                    <td>{{ operation.operationDate | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ operation.documentType }}</td>
                                    <td>{{ operation.documentNumber }} / {{ operation.documentDate | date: 'dd/MM/yyyy' }}</td>
                                    <td>{{ operation.operationType }}</td>
                                    <td>{{ operation.currencyName }}</td>
                                    <td class="alignSum">{{ operation.value  | number: '1.2-2' }}</td>
                                    <td>
                                        <input id="externalOperation{{i}}"
                                               name="externalOperation{{i}}"
                                               type="checkbox"
                                               style="position: relative; left:0px; opacity:100"
                                               [(ngModel)]="operation.externalOperation"
                                               disabled />
                                    </td>
                                    <!--<td>
                                        <input id="operationStatus{{i}}"
                                               name="operationStatus{{i}}"
                                               type="checkbox"
                                               style="position: relative; left:0px; opacity:100"
                                               [(ngModel)]="operation.operationStatus"/>
                                    </td>-->
                                    <td>
                                        <a [routerLink]="['/app/conta/operations/operationEdit']"
                                           [queryParams]="{operationId: operation.id }"
                                           *ngIf="!operation.operationStatusDB && isGranted('Conta.OperContab.OperContab.Modificare')"
                                           class="btn btn-info"
                                           title="Modifica">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <button class="btn btn-info"
                                                (click)="showDetail(i)"
                                                title="Detalii">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button *ngIf="!operation.operationStatusDB && !operation.externalOperation && isGranted('Conta.OperContab.OperContab.Modificare')"
                                                (click)="deleteOperation(operation.id)"
                                                class="btn btn-danger"
                                                title="Sterge">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                        <button *ngIf="!operation.operationStatusDB && showButtonDeleteOperExterna && operation.externalOperation  && isGranted('Conta.OperContab.OperContab.Modificare')"
                                                (click)="deleteOperation(operation.id)"
                                                class="btn btn-danger"
                                                title="Sterge">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="operation.showDetail">
                                    <td colspan="1">
                                        <button *ngIf="operation.showDetail"
                                                (click)="hideDetail(i)"
                                                class="btn btn-info">
                                            <i class="fas fa-angle-up"></i>
                                        </button>
                                    </td>
                                    <td colspan="9">
                                        <table class="table detailbk">
                                            <thead class="thead-light">
                                                <tr class="detailbk">
                                                    <th scope="col" colspan="8" class="font-bold">Detalii Nota Contabila</th>
                                                </tr>
                                                <tr class="detailbk">
                                                    <th scope="col" colspan="1">NR</th>
                                                    <th scope="col" colspan="2">Debit</th>
                                                    <th scope="col" colspan="2">Credit</th>
                                                    <th scope="col" class="align-right">Valoare</th>
                                                    <th scope="col">Explicatii</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let detail of operation.operationsDetails" class="detailbk">
                                                    <td>{{ detail.detailNr }}</td>
                                                    <td>{{ detail.debit }}</td>
                                                    <td>{{ detail.debitName }}</td>
                                                    <td>{{ detail.credit }}</td>
                                                    <td>{{ detail.creditName }}</td>
                                                    <td class="align-right">{{ detail.value | number: '1.2-2' }}</td>
                                                    <td>{{ detail.details }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>