<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        UploadOperationsFromFile
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <form id="operationList"
                  name="operationList"
                  #operationUploadForm="ngForm">
                <div class="row">
                    <div class="col-lg-2">
                        <button class="btn btn-info"
                                [routerLink]="['/app/conta/operations/operationsList']"
                                title="Operations">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <input type="file" 
                               class="btn btn-info"
                               (change)="handleFileInput($event)" />
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-info"
                                (click)="uploadFile()"
                                title="UploadFile">
                            <i class="fas fa-cloud-upload-alt"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>