<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-3">
                    <h3>
                        <a [routerLink]="['/app/imprumuturi/imprumuturiTipuri']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left">  </i></a>
                        Detalii tip imprumut
                    </h3>

                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body" [busy]="isLoading">
                <div class="panel-heading" style="position: relative;">
                    <div class="row">
                        <h4 class="panel-title col-xs-6">
                            Lista detalii tip imprumut - <span>({{ getDetaliiCount() }})</span>&nbsp;
                            <a [routerLink]="['/app/imprumuturi/imprumuturiTipuri/imprumuturiTipDetaliu/edit']" [queryParams]="{ imprumuturiTipId: imprumutTipId }" class="btn btn-info"><i class="fas fa-plus"></i></a>
                        </h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td scope="col">#</td>
                                    <td scope="col">Descriere</td>
                                    <td scope="col">Tip fond</td>
                                    <td scope="col">Cont imprumut</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let det of imprumutTipDetaliuList; let i = index">
                                <tr>
                                    <td scope="row">{{ i + 1 }}</td>
                                    <td>{{ det.description }}</td>
                                    <td>{{ det.activityTypeName }}</td>
                                    <td>{{ det.contImprumut }}</td>
                                    <td>
                                        <a [routerLink]="['/app/imprumuturi/imprumuturiTipuri/imprumuturiTipDetaliu/edit']"
                                           [queryParams]="{ imprumuturiTipDetaliuId: det.id, imprumuturiTipId: imprumutTipId }"
                                           class="btn btn-info mr-2"
                                           title="Modifica">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button (click)="delete(det.id)"
                                                class="btn btn-danger"
                                                title="Sterge">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>