<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Adaugare / modificare detaliu tip Imprumut</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="editForm" name="editForm" #imprumutTipDetaliuEditForm="ngForm" (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="description" class="col-form-label"> Descriere </label>
                        </div>
                        <div class="col-lg-3">
                            <select id="description" name="description" [(ngModel)]="imprumutTipDetaliuEdit.description" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of imprumutTipDetaliuDescriereList" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label for="activityTypeId" class="col-form-label"> Tip fond</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="activityTypeId" name="activityTypeId" [(ngModel)]="imprumutTipDetaliuEdit.activityTypeId"  #activityTypeId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of activityTypeList" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label for="contImprumut" class="col-form-label"> Cont Imprumut</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="contImprumut" name="contImprumut" [(ngModel)]="imprumutTipDetaliuEdit.contImprumut" #contImprumut="ngModel" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <a [routerLink]="['/app/imprumuturi/imprumuturiTipuri/imprumuturiTipDetaliu/list']"
                               [queryParams]="{imprumuturiTipId : imprumutTipId}"
                               class="btn btn-info"
                               title="Inapoi">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <button type="submit"
                                        class="btn btn-info"
                                        title="Save"
                                        [disabled]="imprumutTipDetaliuEditForm.form.invalid">
                                    <i class="fas fa-save"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>