<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Adaugare / modificare contract</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form #newContractForm="ngForm" (ngSubmit)="saveContract()">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="creditor" class="col-form-label"> Calitate tert</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="choice_1"
                                   name="creditor"
                                   type="radio"
                                   [(ngModel)]="contract.thirdPartyQuality"
                                   [value]="0"
                                   [checked]="contract.thirdPartyQuality === 0"
                                   #creditor="ngModel" />
                            <label for="choice_1" class="form-label" style="margin: 0 10px;"> Client</label>

                            <input id="choice_2"
                                   name="creditor"
                                   type="radio"
                                   [(ngModel)]="contract.thirdPartyQuality"
                                   [value]="1"
                                   [checked]="contract.thirdPartyQuality === 1"
                                   #creditor="ngModel" />
                            <label for="choice_2" class="form-label" style="margin: 0 10px;"> Furnizor</label>
                        </div>
                        <div class="col-lg-2">
                            <label for="thirdParty" class="col-form-label"> Tert</label>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                                <input type="text" matInput id="thirdParty"
                                       name="thirdParty"
                                       [(ngModel)]="contract.thirdPartyId"
                                       #thirdParty="ngModel"
                                       (input)="searchThirdParty($event)"
                                       required
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getThirdPartyName.bind(this)">
                                    <mat-select *ngFor="let thirdParty of thirdParties">
                                        <mat-option (click)="selectedThirdParty(thirdParty.id, thirdParty.name)" [ngValue]="thirdParty.id">
                                            {{ thirdParty.name }}
                                            <small>Id tert: </small><small>{{ thirdParty.id }}</small>
                                        </mat-option>
                                    </mat-select>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="contractType" class="col-form-label"> Tip contract</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="choiceTy_1"
                                   name="groupType"
                                   type="radio"
                                   [(ngModel)]="contract.contractsType"
                                   #contractsType="ngModel"
                                   [value]="0" />
                            <label for="choiceTy_1" style="margin: 0 10px;">Contract</label>

                            <input id="choiceTy_2"
                                   name="groupType"
                                   type="radio"
                                   [(ngModel)]="contract.contractsType"
                                   #contractsType="ngModel"
                                   [value]="1" />
                            <label for="choiceTy_2" style="margin: 0 10px;">Act Aditional</label>

                            <input id="choiceTy_3"
                                   name="groupType"
                                   type="radio"
                                   [(ngModel)]="contract.contractsType"
                                   #contractsType="ngModel"
                                   [value]="2" />
                            <label for="choiceTy_3" style="margin: 0 10px;">Contract Cadru</label>
                        </div>
                        <div class="col-lg-2">
                            <label for="contract" class="col-form-label"> Contract initial</label>
                        </div>
                        <div class="col-lg-3">

                            <select id="masterContractId"
                                    name="masterContractId"
                                    [(ngModel)]="contract.masterContractId"
                                    #masterContractId="ngModel"
                                    class="form-control"
                                    required>
                                <option *ngFor="let item of searchContractsRes" [value]="item.id">
                                    {{item.contractNr}} / {{item.contractDate | date: 'dd/MM/yyyy'}}
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 alignContent">
                            <label for="numar"> Numar</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="numar" name="numar" [(ngModel)]="contract.contractNr" #numar="ngModel" class="form-control" required />
                        </div>
                        <div class="col-lg-2 alignContent">
                            <label for="data"> Data</label>
                        </div>
                        <div class="col-lg-3 alignContent">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="data"
                                       name="data"
                                       [matDatepicker]="dataPicker"
                                       [(ngModel)]="contract.contractDate"
                                       (ngModelChange)="getCotaTvaList()"
                                       #data="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="dataPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="numarPartener" class="col-form-label"> Numar partener</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="numarPartener" name="numarPartener" [(ngModel)]="contract.thirdPartyContractNr" #numarPartener="ngModel" class="form-control" required />
                        </div>
                        <div class="col-lg-2">
                            <label for="dataFacturare" class="col-form-label"> Data partener</label>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataFacturare"
                                       name="dataFacturare"
                                       [matDatepicker]="dataFacturarePicker"
                                       [(ngModel)]="contract.thirdPartyContractDate"
                                       #dataFacturare="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="dataFacturarePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataFacturarePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="obiectulContractului" class="col-form-label"> Obiectul Contractului</label>
                        </div>
                        <div class="col-lg-8">
                            <input id="obiectulContractului" name="obiectulContractului" [(ngModel)]="contract.contractObject" #obiectulContractului="ngModel" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 alignContent">
                            <label for="dataStart" class="col-form-label"> Data Inceput</label>
                        </div>
                        <div class="col-lg-3 alignContent">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataStart"
                                       name="dataStart"
                                       [matDatepicker]="dataStartPicker"
                                       [(ngModel)]="contract.startDate"
                                       #dataStart="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 alignContent">
                            <label id="dataEnd" class="col-form-label"> Data Sfarsit</label>
                        </div>
                        <div class="col-lg-3 alignContent">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataEnd"
                                       name="dataEnd"
                                       [matDatepicker]="dataEndPicker"
                                       [(ngModel)]="contract.endDate"
                                       #dataEnd="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="contract.contractsType!==2">
                        <div class="col-lg-2">
                            <label for="valLunara" class="col-form-label"> Valoare</label>
                        </div>
                        <div class="col-lg-2 alignContent">

                            <input id="valLunara" name="valLunara" type="number" [(ngModel)]="contract.value" #valLunara="ngModel" class="form-control" required />
                        </div>
                        <div class="col-lg-1 alignContent">
                            <div class="form-group">
                                <select id="currencyId" name="currencyId" [(ngModel)]="contract.currencyId" #currencyId="ngModel" class="form-control">
                                    <option *ngFor="let currency of currencies?.getCurrency" [ngValue]="currency.id">
                                        {{ currency.currencyName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 alignContent">
                            <mat-checkbox id="isMonthlyValue" name="isMonthlyValue" [(ngModel)]="contract.isMonthlyValue">Este val lunara?</mat-checkbox>
                        </div>
                            <div class="col-lg-1 alignContent">
                                <label for="valTVA" class="col-form-label"> Valoare TVA</label>
                            </div>
                            <div class="col-lg-2 alignContent">
                                <select id="cotaTva" name="cotaTva" [(ngModel)]="contract.cotaTVA_Id" #cotaTva="ngModel" class="form-control">
                                    <option *ngFor="let item of cotaTvaList" [value]="item.id">{{ item.vat }}</option>
                                </select>
                            </div>
                        
                    </div>
                    
                    <div class="row"  *ngIf="contract.contractsType!==2">
                        <div class="col-lg-2 alignContent">
                            <label for="frecventa" class="col-form-label"> Frecventa</label>
                        </div>
                        <div class="col-lg-4 alignContent">
                            <input id="choicefr_1" name="groupFr" type="radio" [(ngModel)]="contract.contractsPaymentInstalmentFreq" #groupFr="ngModel" [value]="0" />
                            <label for="choicefr_1" style="margin: 0 10px;">Lunar</label>

                            <input id="choicefr_2" name="groupFr" type="radio" [(ngModel)]="contract.contractsPaymentInstalmentFreq" #groupFr="ngModel" [value]="1" />
                            <label for="choicefr_2" style="margin: 0 10px;">Semestrial</label>

                            <input id="choicefr_3" name="groupFr" type="radio" [(ngModel)]="contract.contractsPaymentInstalmentFreq" #groupFr="ngModel" [value]="2" />
                            <label for="choicefr_3" style="margin: 0 10px;">Trimestrial</label>

                            <input id="choicefr_4" name="groupFr" type="radio" [(ngModel)]="contract.contractsPaymentInstalmentFreq" #groupFr="ngModel" [value]="3" />
                            <label for="choicefr_4" style="margin: 0 10px;">Ocazional</label>

                        </div>

                        <div class="col-lg-2 alignContent">
                            <label for="DataPrimaTransa" class="col-form-label"> Data prima transa</label>
                        </div>
                        <div class="col-lg-2 alignContent">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataPrimaTransa"
                                       name="dataPrimaTransa"
                                       [matDatepicker]="dataPrimaTransaPicker"
                                       [(ngModel)]="contract.firstInstalmentDate"
                                       #dataPrimaTransa="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataPrimaTransaPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataPrimaTransaPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="categorie" class="col-form-label"> Beneficiari contracte </label>
                        </div>
                        <div class="col-lg-3">
                            <select [(ngModel)]="contract.contractsCategoryId" #categorie="ngModel" name="categorie" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of contractsCategory" [ngValue]="item.id"> {{ item.name }}</option>
                            </select>

                        </div>

                        <!--<div class="col-lg-2">
        <label for="stare" class="col-form-label"> Stare</label>
    </div>
    <div *ngFor="let status of contractsStatus;let i = index">
        <input id="choiceStare_{{i}}" name="groupStare" type="radio" [(ngModel)]="contract.contractsStatus" #groupStare="ngModel" [value]="status.id" />
        <label for="choiceStare_{{i}}" style="margin: 0 10px;">{{status.name}}</label>
    </div>-->

                    
                        <div class="col-lg-2">
                            <label for="departamentId" class="col-form-label"> Departament</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="departamentId" name="departamentId" [(ngModel)]="contract.departamentId" #departamentId="ngModel" class="form-control">
                                <option [ngValue]="null"> Selecteaza</option>
                                <option *ngFor="let item of departamentList" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                    
                    </div>
                    <div class="row mt-2" >
                        <div class="col-lg-2">
                            <label for="prelungireAutomata"> Prelungire automata</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="prelungireAutomata" name="prelungireAutomata" type="checkbox" [(ngModel)]="contract.prelungireAutomata" #prelungireAutomata="ngModel" />
                        </div>

                        <div class="col-lg-2" *ngIf="contract.prelungireAutomata === true">
                            <label for="nrLuniPrelungite"> Nr luni prelungite</label>
                        </div>

                        <div class="col-lg-3" *ngIf="contract.prelungireAutomata === true">
                            <input id="nrLuniPrelungire" name="nrLuniPrelungire" type="text" [(ngModel)]="contract.nrLuniPrelungire" #nrLuniPrelungire="ngModel" class="form-control"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-lg-offset-3 alignContent">
                            <a [routerLink]="['/app/economic/contracts/contractsList']"
                               class="btn btn-info" title="Inapoi">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-lg-7 col-lg-offset-5 alignContent" *ngIf="isGranted('General.Contracte.Modificare')">
                            <button id="saveBtn" type="submit" class="btn btn-info" title="Salveaza"><i class="fas fa-save"></i></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>