<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Calcul Gestiune</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <a [routerLink]="['/app/conta/prepayments/prepaymentsGestCompute']" [queryParams]="{prepaymentType: prepaymentType}" class="btn btn-info">Calcul</a>
                    &nbsp;
                    <a [routerLink]="['/app/conta/prepayments/prepaymentsGestDelete']" [queryParams]="{prepaymentType: prepaymentType}" class="btn btn-danger">Sterge Calcul</a>
                </div>

                <br />

                <form id="gestList" name="gestList">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="dataStart" class="col-form-label"> Data Inceput</label>
                            <mat-form-field style="width: 100%;">
                                <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                       name="dataStart" [(ngModel)]="gestList.dataStart"
                                       #dataStart="ngModel"
                                       
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartPicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2">
                            <label for="dataEnd" class="col-form-label"> Data Sfarsit</label>
                            <mat-form-field style="width: 100%;">
                                <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                       name="dataEnd" [(ngModel)]="gestList.dataEnd"
                                       #dataEnd="ngModel"
                                       
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndPicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-2">
                            <label for="prepaymentId" class="col-form-label" *ngIf="prepaymentType == 0">Cheltuiala</label>
                            <label for="prepaymentId" class="col-form-label" *ngIf="prepaymentType == 1">Venit</label>
                            <select id="prepaymentId" name="prepaymentId" [(ngModel)]="gestList.prepaymentId" #prepaymentId="ngModel" class="form-control">
                                <option [ngValue]="null">Select</option>
                                <option *ngFor="let res of prepaymentList" [ngValue]="res.id">{{res.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button (click)="searchGest()" class="btn btn-info"><i class="fas fa-search"></i></button>
                        </div>
                    </div>

                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h4 class="panel-title col-xs-6">
                                Operatii - <span>{{getGestListCount()}}</span>
                            </h4>
                        </div>
                    </div>
                    <table class="table small-front">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Data Operatiei</th>
                                <th scope="col">Tip Operatie</th>
                                <th scope="col" style="max-width: 200px;">
                                    <span> Cheltuiala</span>
                                </th>
                                <th scope="col">Tranz / Cantitate</th>
                                <th scope="col">Tranz / Durata</th>
                                <th scope="col">Tranz / Valoare</th>
                                <th scope="col">Tranz / Amortizare</th>
                                <th scope="col">Tranz / TVA</th>
                                <th scope="col">Tranz / Amortizare TVA</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let gest of gestList.gestDetail; let i = index;">
                            <tr>
                                <td scope="row">{{ i + 1 }}</td>
                                <td>{{ gest.gestDate | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ gest.operType }}</td>
                                <td style="max-width: 200px;">{{gest.prepayment}}</td>
                                <td class="tranz">{{gest.tranzQuantity}}</td>
                                <td class="tranz">{{gest.tranzDuration}}</td>
                                <td class="tranz">{{ gest.tranzPaymentValue | number : '1.2' }}</td>
                                <td class="tranz">{{ gest.tranzDeprec| number : '1.2' }}</td>
                                <td class="tranz">{{ gest.tranzPaymentVAT | number : '1.2' }}</td>
                                <td class="tranz">{{ gest.tranzDeprecVAT | number : '1.2' }}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="font-bold">{{ gest.quantity }}</td>
                                <td class="font-bold">{{ gest.duration }}</td>
                                <td class="font-bold">{{ gest.paymentValue| number : '1.2' }}</td>
                                <td class="font-bold">{{ gest.deprec| number : '1.2' }}</td>
                                <td class="font-bold">{{ gest.paymentVAT | number : '1.2' }}</td>
                                <td class="font-bold">{{ gest.deprecVAT | number : '1.2' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </section>
</div>