<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 *ngIf="prepaymentType == 0">Cheltuieli in avans - Setup</h3>
                    <h3 *ngIf="prepaymentType == 1">Venituri in avans - Setup</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="setup" name="setup">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="input-group">
                                <label for="prepaymentDurationCalcId" class="col-form-label"> Mod calcul amortizare</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <select id="prepaymentDurationCalcId" name="prepaymentDurationCalcId" class="form-control" [(ngModel)]="setup.prepaymentDurationCalcId">
                                <option *ngFor="let res of durationCalcType" [ngValue]="res.id">{{res.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-2">
                            <button (click)="saveSetup()" type="submit" class="btn btn-info" title="Salveaza"><i class="fas fa-save"></i> </button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <div class="input-group">
                                <label for="decimalAmort" class="col-form-label"> Numar zecimale calcul amortizare</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input id="decimalAmort" name="decimalAmort" type="text" [(ngModel)]="decDeprec.decimalAmort" class="form-control" required/>
                        </div>
                        <div class="col-lg-2">
                            <button (click)="decDeprecSetupSave()" type="submit" class="btn btn-info" title="Salveaza"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
