<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Cheltuieli / Venituri in avans - Documente pentru operatii</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position: relative;">
                    <div class="row">
                        <h4 class="panel-title col-xs-6">
                            Documente - <span>{{ getOperDocTypeListCount() }}</span> &nbsp;
                            <a [routerLink]="['/app/conta/prepayments/prepaymentsOperDocTypeEdit']" class="btn btn-info" *ngIf="isGranted('Administrare.CheltAvans.TipuriDoc.Acces')"><i class="fas fa-plus"></i></a>
                        </h4>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Document</th>
                            <th scope="col">Operatie</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let operDocType of operDocTypeList?.getPrepaymentsOperDocType; let i = index">
                            <td scope="row">{{ i + 1 }}</td>
                            <td>{{operDocType.documentType}}</td>
                            <td>{{operDocType.operType}}</td>
                            <td>
                                <a [routerLink]="['/app/conta/prepayments/prepaymentsOperDocTypeEdit']"
                                   [queryParams]="{operDocTypeId: operDocType.id}"
                                   *ngIf="isGranted('Administrare.CheltAvans.TipuriDoc.Acces')"
                                   class="btn btn-info"><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <button (click)="deleteOperDocType(operDocType.id)" *ngIf="isGranted('Administrare.CheltAvans.TipuriDoc.Acces')" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>