<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Stergere calcul gestiune</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <a [routerLink]="['/app/conta/prepayments/prepaymentsGestList']" [queryParams]="{prepaymentType: prepaymentType}" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                </div>
                <form id="gestDelete" name="gestDelete">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="dataStart" class="col-form-label"> Data inceput</label>
                            <mat-form-field style="width: 100%;">
                                <input matInput [matDatepicker]="dataStartPicker" id="dataStart"
                                       name="dataStart" [(ngModel)]="gestList.dataStart"
                                       #dataStart="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="dataEnd" class="col-form-label"> Data sfarsit</label>
                            <mat-form-field style="width: 100%;">
                                <input matInput [matDatepicker]="dataEndPicker" id="dataEnd"
                                       name="dataEnd" [(ngModel)]="gestList.dataEnd"
                                       #dataEnd="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-1">
                            <button (click)="searchGest()"
                                    class="btn btn-info">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h4 class="panel-title col-xs-6">Date de calcul</h4>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <td scope="col">#</td>
                                <td scope="col">Data operatiei</td>
                                <td scope="col"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let gest of gestList.gestDelDetail; let i = index">
                                <td scope="row">{{ i + 1 }}</td>
                                <td>{{ gest.dateGest | date: 'dd/MM/yyyy' }}</td>
                                <td>
                                    <button (click)="deleteDateGest(gest.dateGest)"
                                            class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>

        </div>
    </section>
</div>