<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3 *ngIf="prepaymentType == 0">
                        Adauga / Modifica Cheltuieli In Avans
                    </h3>
                    <h3 *ngIf="prepaymentType == 1">
                        Adauga / Modifica Venituri In Avans
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="prepayment" name="prepayment" #prepaymentForm="ngForm"
                      (ngSubmit)="savePrepaymentsDirect()" [busy]="isLoading">
                    <div class="row">
                        <div class="col-lg-1">
                            <a [routerLink]="['/app/conta/prepayments/prepaymentsList']"
                               [queryParams]="{prepaymentType: prepaymentType}"
                               class="btn btn-info"
                               title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                        </div>
                        <div class="col-lg-11">
                            <h4>Adaugare / Modificare</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="paymentDate" class="col-form-label"> Data Operatiei</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="input-group-addon">
                                        <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.paymentDate"></i>
                                        <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.paymentDate"></i>
                                    </span>
                                </span>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="paymentDatePicker" id="paymentDate"
                                           name="paymentDate" [(ngModel)]="oper.paymentDate"
                                           #paymentDate="ngModel"
                                           (ngModelChange)="changeDate()"
                                           required
                                           [disabled]="oper.processed"/>
                                    <mat-datepicker-toggle matSuffix [for]="paymentDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #paymentDatePicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="primDocumentTypeId" class="col-form-label"> Tip Doc Primar</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.primDocumentTypeId"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.primDocumentTypeId"></i>
                                </span>
                                <select id="primDocumentTypeId"
                                        name="primDocumentTypeId" [(ngModel)]="oper.primDocumentTypeId" #primDocumentTypeId="ngModel" class="form-control" [disabled]="oper.processed"
                                         (ngModelChange)="checkAutoNumberForDoc(oper.primDocumentTypeId)">
                                    <option *ngFor="let res of documentType?.getDocumentType" [ngValue]="res.id">{{res.typeName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="primDocumentNr" class="col-form-label"> Nr Document</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.primDocumentNr"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.primDocumentNr"></i>
                                </span>
                                <input id="primDocumentNr" name="primDocumentNr" class="form-control" [(ngModel)]="oper.primDocumentNr" #primDocumentNr="ngModel" [disabled]="oper.processed" required />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="primDocumentDate" class="col-form-label"> Data Document</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.primDocumentDate"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.primDocumentDate"></i>
                                </span>
                                <mat-form-field style="width: 85%;" >
                                    <input matInput [matDatepicker]="primDocumentDatePicker" id="primDocumentDate"
                                           name="primDocumentDate" [(ngModel)]="oper.primDocumentDate"
                                           #primDocumentDate="ngModel"
                                           required
                                           [disabled]="oper.processed"/>
                                    <mat-datepicker-toggle matSuffix [for]="primDocumentDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #primDocumentDatePicker></mat-datepicker>
                                </mat-form-field>
                                <!--<span *ngIf="oper.processed" class="form-control">{{ oper.primDocumentDate | date: 'dd/MM/yyyy' }}</span>-->

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label for="thirdPartyId" class="col-form-label"> Furnizor</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.thirdPartyId"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.thirdPartyId"></i>
                                </span>
                                <mat-form-field style="width: 85%;">
                                    <input type="text" matInput id="thirdPartyId"
                                           name="thirdPartyId"
                                           [(ngModel)]="oper.thirdPartyId"
                                           (input)="searchThirdPartyByInput($event)"
                                           required
                                           [matAutocomplete]="auto"
                                           #thirdPartyId="ngModel"
                                           [disabled]="oper.processed" />
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="getThirdPartyName.bind(this)">
                                        <mat-select *ngFor="let thirdParty of thirdParties?.getThirdParty">
                                            <mat-option (click)="selectedThirdParty(thirdParty.personId, thirdParty.fullName)" [ngValue]="thirdParty.personId">
                                                {{ thirdParty.fullName }}
                                                <small>Furnizor: </small><small>{{ thirdParty.personId }}</small>
                                            </mat-option>
                                        </mat-select>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <label for="name" class="col-form-label"> Denumire</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.name"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.name"></i>
                                </span>
                                <input id="name" name="name" class="form-control" [(ngModel)]="oper.name" #name="ngModel" required />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <label for="unreceiveInvoice" class="col-form-label"> Factura nesosita</label>

                            <div class="input-group">
                                <div class="custom-control custom-checkbox " style="display: block;">
                                    <input id="unreceiveInvoice" name="unreceiveInvoice" type="checkbox" class="custom-control-input" [(ngModel)]="oper.unreceiveInvoice" #unreceiveInvoice="ngModel" />
                                    <label for="unreceiveInvoice" class="custom-control-label mt-2"> Factura nesosita</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="prepaymentValue" class="col-form-label"> Valoare</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.prepaymentValue"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.prepaymentValue"></i>
                                </span>
                                <input id="prepaymentValue" name="prepaymentValue" class="form-control" [(ngModel)]="oper.prepaymentValue" #prepaymentValue="ngModel" [disabled]="oper.processed" required />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="prepaymentAccountId" class="col-form-label" *ngIf="prepaymentType == 0"> Cont Cheltuiala in Avans</label>
                            <label for="prepaymentAccountId" class="col-form-label" *ngIf="prepaymentType == 1"> Cont Venit</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.prepaymentAccountId"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.prepaymentAccountId"></i>
                                </span>
                                <select id="prepaymentAccountId" name="prepaymentAccountId" class="form-control" [(ngModel)]="oper.prepaymentAccountId" #prepaymentAccountId="ngModel" [disabled]="oper.processed">
                                    <option *ngFor="let account of accounts?.getAccounts" [ngValue]="account.id">{{account.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="depreciationAccountId" class="col-form-label"> Cont Amortizare</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.depreciationAccountId"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.depreciationAccountId"></i>
                                </span>
                                <select id="depreciationAccountId" name="depreciationAccountId" class="form-control" [(ngModel)]="oper.depreciationAccountId" #depreciationAccountId="ngModel" [disabled]="oper.processed">
                                    <option *ngFor="let account of accounts?.getAccounts" [ngValue]="account.id">{{account.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="depreciationStartDate" class="col-form-label"> Data Start Amortizare</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.depreciationStartDate"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.depreciationStartDate"></i>
                                </span>
                                <mat-form-field style="width: 85%;">
                                    <input matInput [matDatepicker]="depreciationStartDatePicker" id="depreciationStartDate"
                                           name="depreciationStartDate" [(ngModel)]="oper.depreciationStartDate"
                                           #depreciationStartDate="ngModel"
                                           required 
                                           [disabled]="oper.processed"/>
                                    <mat-datepicker-toggle matSuffix [for]="depreciationStartDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #depreciationStartDatePicker></mat-datepicker>
                                </mat-form-field>
                               <!-- <span *ngIf="oper.processed" class="form-control">{{ oper.depreciationStartDate | date: 'dd/MM/yyyy' }}</span>-->
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="endDateChelt" class="col-form-label"> Data Sfarsit Calc Amort</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.endDateChelt"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.endDateChelt"></i>
                                </span>
                                <mat-form-field style="width: 85%;">
                                    <input matInput [matDatepicker]="endDateCheltPicker" id="endDateChelt"
                                           name="endDateChelt" [(ngModel)]="oper.endDateChelt"
                                           #endDateChelt="ngModel"
                                           (ngModelChange)="calcDurata()"
                                           required
                                           [disabled]="oper.processed"/>
                                    <mat-datepicker-toggle matSuffix [for]="endDateCheltPicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endDateCheltPicker></mat-datepicker>
                                </mat-form-field>
                             <!--   <span *ngIf="oper.processed" class="form-control">{{ oper.endDateChelt | date: 'dd/MM/yyyy' }}</span>-->
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="durationInMonths" class="col-form-label"> Durata (<span *ngIf="modCalcul == 0">luni</span><span *ngIf="modCalcul == 1">zile</span>)</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper.durationInMonths"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper.durationInMonths"></i>
                                </span>
                                <input id="durationInMonths" name="durationInMonths" type="text" class="form-control" [disabled]="oper.processed" [(ngModel)]="oper.durationInMonths" #durationInMonths="ngModel" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="prepaymentVAT" class="col-form-label"> Valoare TVA</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="prepaymentVAT.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!prepaymentVAT.valid"></i>
                                </span>
                                <input id="prepaymentVAT" name="prepaymentVAT" type="text" class="form-control" [disabled]="oper.processed" [(ngModel)]="oper.prepaymentVAT" #prepaymentVAT="ngModel" required />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="prepaymentAccountVATId" class="col-form-label" *ngIf="prepaymentType == 0"> Cont Cheltuiala TVA</label>
                            <label for="prepaymentAccountVATId" class="col-form-label" *ngIf="prepaymentType == 1"> Cont Venit TVA</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="prepaymentAccountVATId.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!prepaymentAccountVATId.valid"></i>
                                </span>
                                <select id="prepaymentAccountVATId" name="prepaymentAccountVATId" [(ngModel)]="oper.prepaymentAccountVATId" #prepaymentAccountVATId="ngModel" [disabled]="oper.processed" class="form-control">
                                    <option *ngFor="let account of accounts?.getAccounts" [ngValue]="account.id">{{account.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="depreciationAccountVATId" class="col-form-label"> Cont Amortizare TVA</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="prepaymentAccountVATId.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!prepaymentAccountVATId.valid"></i>
                                </span>
                                <select id="depreciationAccountVATId" name="depreciationAccountVATId" [(ngModel)]="oper.depreciationAccountVATId" #depreciationAccountVATId="ngModel" [disabled]="oper.processed" class="form-control">
                                    <option *ngFor="let account of accounts?.getAccounts" [ngValue]="account.id">{{account.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr />

                    <div class="row">
                        <div class="col-lg-2">
                            <label for="depreciation" class="col-form-label"> Amortizare</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="depreciation.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!depreciation.valid"></i>
                                </span>
                                <input id="depreciation" name="depreciation" type="text" class="form-control" [(ngModel)]="oper.depreciation" #depreciation="ngModel" [disabled]="oper.processed" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="depreciationVAT" class="col-form-label"> Amortizare TVA</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="depreciation.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!depreciation.valid"></i>
                                </span>
                                <input id="depreciationVAT" name="depreciationVAT" type="text" class="form-control" [(ngModel)]="oper.depreciationVAT" #depreciationVAT="ngModel" [disabled]="oper.processed" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="remainingDuration" class="col-form-label">Durata Ramasa (<span *ngIf="modCalcul == 0">luni</span><span *ngIf="modCalcul == 1">zile</span>)</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="remainingDuration.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!remainingDuration.valid"></i>
                                </span>
                                <input id="remainingDuration" name="remainingDuration" type="text" class="form-control" [(ngModel)]="oper.remainingDuration" #remainingDuration="ngModel" [disabled]="oper.processed" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="montlyDepreciation" class="col-form-label"> Amortizare <span *ngIf="modCalcul == 0">Lunara</span><span *ngIf="modCalcul == 1">Zilnica</span></label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="montlyDepreciation.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!montlyDepreciation.valid"></i>
                                </span>
                                <input id="montlyDepreciation" name="montlyDepreciation" type="text" class="form-control" [(ngModel)]="oper.montlyDepreciation" #montlyDepreciation="ngModel" [disabled]="oper.processed" />
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label for="montlyDepreciationVAT" class="col-form-label"> Amortizare <span *ngIf="modCalcul == 0">Lunara</span><span *ngIf="modCalcul == 1">Zilnica</span></label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="montlyDepreciationVAT.valid"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!montlyDepreciationVAT.valid"></i>
                                </span>
                                <input id="montlyDepreciationVAT" name="montlyDepreciationVAT" type="text" class="form-control" [(ngModel)]="oper.montlyDepreciationVAT" #montlyDepreciationVAT="ngModel" [disabled]="oper.processed" />

                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="(prepaymentType === 0 ? isGranted('Conta.CheltAvans.Chelt.Modificare') : isGranted('Conta.VenitAvans.Venituri.Modificare'))">
                        <div class="col-lg-2 col-lg-offset-7 mt-3">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fas fa-check-circle" aria-hidden="true" *ngIf="oper"></i>
                                    <i class="fas fa-exclamation-circle" aria-hidden="true" *ngIf="!oper"></i>
                                </span>
                                <button class="btn btn-info"
                                        [disabled]="oper.invalid"
                                        *ngIf="!oper.finishAdd"
                                        title="Salveaza">
                                    <i class="fas fa-save"></i>
                                </button>
                                <a [routerLink]="['/app/conta/prepayments/prepaymentsList']"
                                   [queryParams]="{prepaymentType: prepaymentType}"
                                   class="btn btn-primary"
                                   *ngIf="oper.finishAdd">Lista Operatii</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>