<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Calcul gestiune</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <a [routerLink]="['/app/conta/prepayments/prepaymentsGestList']" [queryParams]="{prepaymentType: prepaymentType}" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                </div>
                <br />

                <form id="gestList" name="gestList">
                    <div class="row">
                        <!--<div class="col-lg-3">
                            <label for="unprocessedDate" class="col-form-label"> Prima data neprocesata</label>
                            <label id="unprocessedDate" name="unprocessedDate" type="text" class="form-control">{{gestList.unprocessedDate | date: 'dd/MM/yyyy'}}</label>
                        </div>-->

                        <div class="col-lg-2">
                            <label for="computeDate" class="col-form-label"> Data Calcul</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="computeDatePicker" id="computeDate"
                                       name="computeDate" [(ngModel)]="gestList.computeDate"
                                       #computeDate="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="computeDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #computeDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-1">
                            <button [disabled]="!gestList" (click)="searchGest()" class="btn btn-info"><i class="fas fa-search"></i></button>
                        </div>

                        <div class="col-lg-1">
                            <button [disabled]="gestList.invalid" (click)="computeDateGest()" class="btn btn-info" *ngIf="gestList.showCompute"><i class="fas fa-laptop"></i></button>
                        </div>
                    </div>

                    <div class="panel-heading" style="position: relative;">
                        <div class="row">
                            <h4 class="panel-title col-xs-6">
                                Operatii neprocesate
                            </h4>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Data operatie</th>
                                <th scope="col">Tip operatie</th>
                                <th scope="col">
                                    <span *ngIf="prepaymentType==0">Cheltuiala</span>
                                    <span *ngIf="prepaymentType==1">Venit</span>
                                </th>
                                <th scope="col">Nr document</th>
                                <th scope="col">Data document</th>
                                <th scope="col">Tip document</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let oper of gestList.operationList;let i = index;">
                                <td scope="row">{{i + 1}}</td>
                                <td>{{oper.operationDate  | date:'dd/MM/yyyy'}}</td>
                                <td>{{oper.operationType}}</td>
                                <td>{{oper.prepayment}}</td>
                                <td>{{oper.documentNr}}</td>
                                <td>{{oper.documentDate  | date:'dd/MM/yyyy'}}</td>
                                <td>{{oper.documentType}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </section>
</div>