<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Tipuri de documente - <span>{{ this.docTypeListCount() }}</span> &nbsp;
                        <a [routerLink]="['../docTypeListEdit']" class="btn btn-info btn-circle">
                        <i class="fas fa-plus"></i>
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Denumire</th>
                            <th scope="col">Prescurtare</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let doc of documentTypeList?.getDocumentType; let i = index">
                            <td scope="row">{{ i + 1 }}</td>
                            <td>{{ doc.typeName }}</td>
                            <td>{{ doc.typeNameShort }}</td>
                            <td>
                                <a [routerLink]="['/app/conta/nomenclatoare/document/docTypeListEdit']"
                                   [queryParams]="{docId: doc.id}"
                                   class="btn btn-info btn-circle waves-effect waves-circle waves-float">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </td>
                            <td>
                                <button (click)="delete(doc.id)"
                                        class="btn btn-danger btn-circle waves-effect waves-circle waves-float"
                                        type="button">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>