<form class="form-horizontal"
      autocomplete="off"
      #detailCF="ngForm">
    <abp-modal-header [title]="'Detalii incasari (CashFlow)'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <table class="table table-responsive mr-2 ml-2" style="width: 100% !important">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data incasare</th>
                    <th scope="col">Valoare plasament</th>
                    <th scope="col">Dobanda totala</th>
                    <th scope="col">Data reinvestire</th>
                    <th scope="col">Suma reinvestita</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of detailsCF;let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.dataIncasare | date: 'dd/MM/yyyy' }}</td>
                    <td class="alignSum">{{ item.valoarePlasament | number:'1.2' }}</td>
                    <td class="alignSum">{{ item.dobandaTotala | number:'1.2' }}</td>
                    <td class="alignSum">{{ item.dataReinvestire | date: 'dd/MM/yyyy'}}</td>
                    <td class="alignSum">{{ item.sumaReinvestita | number:'1.2' }}</td>
</tbody>
        </table>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    </div>
</form>

