<form class="form-horizontal"
      autocomplete="off"
      #accountHistoryForm="ngForm">
    <abp-modal-header [title]="'Istoric cont'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <table class="table table-responsive mr-2 ml-2" style="width: 100% !important">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Simbol</th>
                    <th scope="col">Denumire</th>
                    <th scope="col">Tip cont</th>
                    <th scope="col">Moneda</th>
                    <th scope="col">Tip activitate</th>
                    <th scope="col">Functie cont</th>
                    <th scope="col">Tert</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data valabilitate</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of accountHistoryList;let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.accountName }}</td>
                    <td>{{ item.accountType }}</td>
                    <td>{{ item.currency }}</td>
                    <td>{{ item.activityType }}</td>
                    <td>{{ item.accountFuncTypeName }}</td>
                    <td>{{ item.thirdParty }}</td>
                    <td>{{ item.accountStatus }}</td>
                    <td>{{ item.dataValabilitate | date: 'dd/MM/yyyy' }}</td>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
    </div>
</form>

