<form class="form-horizontal"
      autocomplete="off"
      #saveAsForm="ngForm"
      (ngSubmit)="save()">
    <abp-modal-header [title]="'Salveaza sablon'"
                      (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="name">
                Nume
            </label>
            <div class="col-md-9">
                <input id="name" name="name" [(ngModel)]="operationDefinition.name" #name="ngModel" class="form-control" />
            </div>
        </div>
    </div>
    <abp-modal-footer [saveDisabled]="!saveAsForm.form.valid"
                      (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>

