<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                    <a [routerLink]="['/app/buget/paap/redistribuire/redistribuirePaapList']"
                       [queryParams]="{an: an}"
                       class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                    Adaugare  achizitii redistribuite
                </h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="paapRedistribForm" name="paapRedistribForm" #paapRedistribForm="ngForm" (ngSubmit)="save()">
                    <div class="row">
                        <div class="col-lg-3 mr-2">
                            <div class="row">
                                <label for="paapPrimesteId" class="col-form-label"> Achizitie care primeste</label>
                                <select id="paapPrimesteId" name="paapPrimesteId" [(ngModel)]="paapRedistribuireDto.paapPrimesteId" #paapPrimesteId="ngModel" class="form-control" (change)="selectedPaap(paapRedistribuireDto.paapPrimesteId)">
                                    <option [value]="0" selected> Selecteaza</option>
                                    <option *ngFor="let item of paapPrimesteListDto" [ngValue]="item.paapPrimesteId">{{item.denumire}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <label for="valoareInitiala" class="col-form-label">Valoare initiala</label>
                                <input id="valoareInitiala" name="valoareInitiala" class="form-control" [(ngModel)]="paapRedistribuireDto.valoareInitiala" #valoareInitiala="ngModel" readonly />
                            </div>
                            <div class="row">
                                <label for="sumaPrimita" class="col-form-label"> Suma primita</label>
                                <input id="sumaPrimita" name="sumaPrimita" class="form-control" [(ngModel)]="paapRedistribuireDto.sumaPrimita" #sumaPrimita="ngModel" readonly />
                            </div>
                        </div>
                        <div class="col-lg-3 mr-2">
                            <div class="row">
                                <label for="paapPierdeId" class="col-form-label"> Achizitie care pierde</label>
                                <select id="paapPierdeId" name="paapPierdeId" [(ngModel)]="paapPierdeDto.paapPierdeId" #paapPierdeId="ngModel" class="form-control" (change)="selectedPaapPierde(paapPierdeDto.paapPierdeId)">
                                    <option [ngValue]="null"> Selecteaza</option>
                                    <option *ngFor="let item of paapPierdeListDto" [ngValue]="item.paapPierdeId">{{item.denumire}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <label for="valoareDisponibila" class="col-form-label"> Valoare disponibila</label>
                                <input id="valoareDisponibila" name="valoareDisponibila" [(ngModel)]="paapPierdeDto.valoareDisponibila" #valoareDisponibila="ngModel" class="form-control" readonly />
                            </div>
                            <div class="row">
                                <label for="sumaPierduta" class="col-form-label"> Suma pierduta</label>
                                <input id="sumaPierduta" name="sumaPierduta" [(ngModel)]="paapPierdeDto.valoareRedistribuita" #valoareRedistribuita="ngModel" class="form-control" (change)="updateValoareDisponibila($event)" />
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Denumire</th>
                                        <th>Suma redistribuita</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of paapRedistribuireDto.paapRedistribuireDetaliiList; let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.denumire }}</td>
                                        <td class="alignSum">{{ item.sumaPierduta | number: '1.2' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-6" style="display: flex; justify-content: flex-end">
                            <button type="button" class="btn btn-info" title="Adauga achizitie care pierde" (click)="adaugaAchizitie()"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div style="display: flex; justify-content: flex-end">
                            <button type="button" class="btn btn-info" title="Salveaza modificarile" (click)="save()">Salveaza</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>