<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Garantie - Nomenclatoare</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-9 col-lg-offset-3">
                        <a [routerLink]="['/app/imprumuturi/garantieCeGaranteaza']" class="btn btn-primary  mr-1">Ce Garanteaza</a>
                        <a [routerLink]="['/app/imprumuturi/garantieTip']" class="btn btn-primary  mr-1">Tipuri de garantie</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
