<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-3">
                    <h2>
                        Operatii Garantie Imprumut: &nbsp;
                        
                        <a [routerLink]="['/app/imprumuturi/imprumuturiGarantiiList']" [queryParams]="{ imprumutId: imprumutId}" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left">  </i></a>
                    </h2>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div>
                       
                    </div>
                
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">

                        <table class="table">

                            <thead>
                                <tr>
                                    <td scope="col"><b>#</b></td>
                                    <td scope="col"><b>Tip Operatie</b></td>
                                    <td scope="col"><b>Data</b></td>
                                    <td scope="col"><b>Suma</b></td>
                                    <td scope="col"><b>Sold</b></td>

                                    <td></td>
                                </tr>
                            </thead>



                            <tbody>
                                <tr *ngFor="let element of operatieGarantieList ; let i = index ; last as isLast">

                                    <td>{{ i + 1 }}</td>
                                    <td>
                                        <select id="tipOperatieGarantieEnum" name="tipOperatieGarantieEnum" [(ngModel)]="element.tipOperatieGarantieEnum" class="form-control" [disabled]="true">
                                            <option *ngFor="let item of operatieGarantieTip" [value]="item.id">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </td>


                                    <td>{{element.dataOperatiei | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{element.suma | number: '1.2' }}</td>
                                    <td>{{element.sold | number: '1.2' }}</td>

                                    <td>
                                        <button *ngIf="isLast" class="btn btn-danger" (click)="operationDelete(element.id)"
                                                title="Sterge">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td scope="row"></td>
                                    <td>
                                        <select id="tipOperatieGarantieEnum" name="tipOperatieGarantieEnum" [(ngModel)]="newOperatie.tipOperatieGarantieEnum" class="form-control" >
                                            <option *ngFor="let item of operatieGarantieTip" [value]="item.id">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </td>


                                    <td>
                                        <mat-form-field style="width: 150px;">
                                            <input matInput
                                                   name="operationDataOperatiei"
                                                   [matDatepicker]="operationDataOperatieiPicker"
                                                   [(ngModel)]="newOperatie.dataOperatiei"
                                                   required />
                                            <mat-datepicker-toggle matSuffix [for]="operationDataOperatieiPicker"></mat-datepicker-toggle>
                                            <mat-datepicker #operationDataOperatieiPicker></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <input id="Suma" name="Suma" class="form-control" [(ngModel)]="newOperatie.suma" #name="ngModel" />
                                    </td>
                                    <td>
                                        
                                    </td>

                                    <td>
                                        <button class="btn btn-info" (click)="saveOperatie()"
                                                title="Adauga">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>


                        </table>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>