<section>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Rapoarte configurabile</h3>
                <a href="{{appBaseUrl}}/assets/pdf/Conta - Rapoarte - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="reportName">Selectati Raport</label>
                    </div>
                    <div class="col-lg-2">
                        <select [(ngModel)]="reportId" class="form-control">
                            <option value="0">Selecteaza raport</option>
                            <option *ngFor="let rep of reportList" [ngValue]="rep.reportId">{{rep.reportName}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="isDateRange" class="col-form-label">Raport in perioada</label>
                    </div>
                    <div class="col-lg-2 custom-control custom-checkbox">
                        <input id="isDateRange" name="isDateRange" type="checkbox" [(ngModel)]="isDateRange" (ngModelChange)="showDateRange()" />
                    </div>
                </div>
                <div class="row" *ngIf="isDateRange === true">
                    <div class="col-lg-2">
                        <label for="rulaj" class="col-form-label">Sumele din perioada sunt rulaje</label>
                    </div>
                    <div class="col-lg-2 custom-control custom-checkbox">
                        <input id="rulaj" name="isDateRange" type="checkbox" [(ngModel)]="rulaj" />
                    </div>
                </div>
                <div class="row" *ngIf="isDateRange === false">
                    <div class="col-lg-2">
                        <label for="dataEnd" class="col-form-label">Data </label>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field style="width: 100%">
                            <input matInput
                                   id="endDate"
                                   name="endDate"
                                   [matDatepicker]="searchEndDatePicker"
                                   [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="searchEndDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #searchEndDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="isDateRange === true">
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label for="startDate" class="col-form-label">Perioada</label>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%">
                                <input matInput
                                       id="startDate"
                                       name="startDate"
                                       [matDatepicker]="searchStartDatePicker"
                                       [(ngModel)]="startDate">
                                <mat-datepicker-toggle matSuffix [for]="searchStartDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #searchStartDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%">
                                <input matInput
                                       id="endDate"
                                       name="endDate"
                                       [matDatepicker]="searchEndDatePicker"
                                       [(ngModel)]="endDate">
                                <mat-datepicker-toggle matSuffix [for]="searchEndDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #searchEndDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="convertToLocalCurrency" class="col-form-label">Valori echivalent in lei</label>
                    </div>
                    <div class="col-lg-2 custom-control custom-checkbox">
                        <input id="convertToLocalCurrency" name="convertToLocalCurrency" type="checkbox" [(ngModel)]="convertToLocalCurrency" />
                    </div>
                </div>
                <div class="row">
                    <button (click)="showReport()" class="btn btn-info">Raport</button>
                </div>
            </div>
        </div>
    </section>
</section>
