<section>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Declaratie casier</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="data" class="col-form-label">Data</label>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field style="width: 100%">
                            <input matInput
                                   id="dataStart"
                                   name="dataStart"
                                   [matDatepicker]="datePicker"
                                   [(ngModel)]="dataStart">
                            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                            <mat-datepicker #datePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2">
                        <label for="numeCasier" class="col-form-label"> Nume casier</label>
                    </div>
                    <div class="col-lg-2">
                        <input id="numeCasier" name="numeCasier" [(ngModel)]="numeCasier" class="form-control" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-2">
                        <label for="dataDecizie" class="col-form-label"> Data decizie</label>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field style="width: 100%">
                            <input matInput
                                   id="dataDecizie"
                                   name="dataDecizie"
                                   [matDatepicker]="dataDeciziePicker"
                                   [(ngModel)]="dataDecizie">
                            <mat-datepicker-toggle matSuffix [for]="dataDeciziePicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataDeciziePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4" style="display: flex; justify-content: flex-end">
                        <button (click)="showReport()" class="btn btn-info">Raport</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>