<section>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Registru de casa</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="currency" class="col-form-label">Moneda</label>
                    </div>
                    <div class="col-lg-2">
                        <select id="currency" name="currency" class="form-control" [(ngModel)]="registruCasaParams.currencyId">
                            <option value="0">Selecteaza</option>
                            <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{ currency.name }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="perioada" class="col-form-label">Registru in perioada</label>
                    </div>
                    <div class="col-lg-2 custom-control custom-checkbox">
                        <input id="perioada" name="perioada" type="checkbox" [(ngModel)]="isDateRange" (ngModelChange)="showDateRange()" />
                    </div>
                </div>
                <div class="row" *ngIf="isDateRange === false">
                    <div class="col-lg-2">
                        <label for="dataEnd" class="col-form-label">Data de finalizare</label>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field style="width: 100%">
                            <input matInput
                                   id="dataEnd"
                                   name="dataEnd"
                                   [matDatepicker]="searchEndDatePicker"
                                   [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="searchEndDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #searchEndDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row" *ngIf="isDateRange === true">
                    <div class="col-lg-2">
                        <label for="dataRange" class="col-form-label">Perioada</label>
                    </div>
                    <div class="col-lg-2">
                        <mat-form-field style="width: 100%">
                            <input matInput
                                   id="dataStart"
                                   name="dataStart"
                                   [matDatepicker]="dataStartPicker"
                                   [(ngModel)]="startDate">
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <span>-</span>
                    <div class="col-lg-2">
                        <mat-form-field style="width: 100%">
                            <input matInput
                                   id="dataEnd"
                                   name="dataEnd"
                                   [matDatepicker]="searchEndDatePicker"
                                   [(ngModel)]="endDate">
                            <mat-datepicker-toggle matSuffix [for]="searchEndDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #searchEndDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4" style="display: flex; justify-content: flex-end">
                        <button (click)="showReport()" class="btn btn-info">Raport</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>