<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                    <a class="btn btn-info" [routerLink]="['/app/buget/venituri/bugetVenitDetails']" [queryParams]="{ formularBVCId: formularBVCId }" title="Inapoi"><i class="fas fa-arrow-left"></i></a>
                    Aplica veniturile prevazute in BVC si CashFlow
                </h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body" [busy]="isLoading">
                <div class="row">
                    <div class="col-lg-1">
                        <label class="col-form-label" id="bvc">BVC</label>
                    </div>
                    <div class="col-lg-2">
                        <select id="bugetPrevBVC"
                                name="bugetPrevBVC"
                                [(ngModel)]="bugetPrevBVCId"
                                #bugetPrevBVC="ngModel"
                                class="form-control">

                            <option [ngValue]="undefined">Selecteaza</option>
                            <option *ngFor="let item of bugetPrevBVCList" [ngValue]="item.id">{{ item.descriere }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1">
                        <label class="col-form-label" id="cashFlow">CashFlow</label>
                    </div>
                    <div class="col-lg-2">
                        <select id="bugetPrevCashFlow"
                                name="bugetPrevCashFlow"
                                [(ngModel)]="bugetPrevCashFlowId"
                                #bugetPrevCashFlow="ngModel"
                                class="form-control">

                            <option [ngValue]="undefined">Selecteaza</option>
                            <option *ngFor="let item of bugetPrevCashFlowList" [ngValue]="item.id">{{ item.descriere }}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <button class="btn btn-info" title="Aplica" (click)="aplica()" *ngIf="isGranted('Buget.BVC.Venituri.Modificare')">Aplica</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>