<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Buget - venituri / incasari</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body"[busy]="isLoading">

                <div class="panel-heading" style="position:relative">
                    <div class="row mt-3">
                        <h4 class="panel-title col-xs-6 ">
                            Venituri / Incasari - <span> {{ getCountVenituri() }} </span>
                            &nbsp;
                            <a [routerLink]="['/app/buget/venituri/bugetVenitAdd']" class="btn btn-info" title="Genereaza" *ngIf="isGranted('Buget.BVC.Venituri.Modificare')"><i class="fas fa-plus"></i></a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>An</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of bugetTitluriList;let i = index">
                                <td>{{ i + 1 }}</td>
                                <td>{{ item.anBVC }}</td>
                                <td>
                                    <a class="btn btn-info" [routerLink]="['/app/buget/venituri/bugetVenitDetails']" [queryParams]="{formularBVCId: item.formularBVCId}" title="Detalii"><i class="far fa-file"></i></a>
                                    <button class="btn btn-danger ml-3" title="Sterge" (click)="delete(item.formularBVCId)" *ngIf="isGranted('Buget.BVC.Venituri.Modificare')"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>