<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Calcul venituri / incasari</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="addTitluriForm" #addTitluriForm="ngForm" [busy]="isLoading" (ngSubmit)="addTitluri()">
                    <div class="row">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="anBuget">An</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="anBuget" name="anBuget" class="form-control" [(ngModel)]="formularBVCId" (change)="getBugetPreliminat()">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let an of anBugetList" [ngValue]="an.formularBVCId">{{an.anBVC}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="bugetPreliminatId"> Preliminat</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="bugetPreliminatId" name="bugetPreliminatId" [(ngModel)]="bugetPreliminatId" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                            <option *ngFor="let item of bugetPrevList" [ngValue]="item.id">{{ item.descriere }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="monthEnd"> Luna inceput / sfarsit</label>
                        </div>
                        <div class="col-lg-1">
                            <input id="addMonthStart" name="addMonthStart" [(ngModel)]="monthStart" #addMonthStart="ngModel" class="form-control" />
                        </div>
                        <div class="col-lg-1 text-center">
                            /
                        </div>
                        <div class="col-lg-1">
                            <input id="addMonthEnd" name="addMonthEnd" [(ngModel)]="monthEnd" #addMonthEnd="ngModel" class="form-control" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <button class="btn btn-info" title="Inapoi" [routerLink]="['/app/buget/venituri/bugetVenitList']"><i class="fas fa-arrow-left"></i></button>
                        </div>
                        <div class="col-lg-2" style="display: flex; justify-content: flex-end">
                            <button class="btn btn-info">Adauga venituri / incasari</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>