<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h4>
                        <a [routerLink]="['/app/conta/nomenclatoare/configRapoarte/rapConfig']"
                           [queryParams]="{repConfigId: form.repConfigId}" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>

                        Configurare raport {{form.reportName}} - simbol {{ form.reportSymbol }}
                    </h4>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="formList" name="formList">
                    <div class="row">
                        <div class="panel-heading" style="position: relative">
                            <div class="row">
                                <h4 class="panel-title col-xs-6">
                                    Configurare randuri
                                </h4>
                            </div>
                        </div>
                        <table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">Denumire rand</th>
                                    <th scope="col">Cod rand</th>
                                    <th scope="col" style="max-width:80px">Rand</th>
                                    <th scope="col" style="max-width:80px">Ordine afisare</th>
                                    <!--<th scope="col">Formula sold</th>-->
                                    <th scope="col">Formula</th>
                                    <th scope="col" style="max-width:80px">Bold</th>
                                    <th scope="col" style="max-width: 80px">Rand total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let detail of form.configFormulaList; let i = index">
                                <tr class="small-font">
                                    <td>
                                        <input id="rowName{{i}}" name="rowName{{i}}" type="text" [(ngModel)]="detail.rowName" #rowName="ngModel" class="form-control" required />
                                    </td>
                                    <td>
                                        {{detail.rowCode}}
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="rowNr{{i}}" name="rowNr{{i}}" type="text" [(ngModel)]="detail.rowNr" #rowNr="ngModel" class="form-control" />
                                    </td>

                                    <td style="max-width:80px">
                                        <input id="orderView{{i}}" name="orderView{{i}}" type="text" [(ngModel)]="detail.orderView" #orderView="ngModel" class="form-control" required />
                                    </td>
                                    <!--<td>
                                        <textarea id="formulaSold{{i}}" name="formulaSold{{i}}" type="text" [(ngModel)]="detail.formulaSold" #formulaSold="ngModel" class="form-control"></textarea>
                                    </td>-->

                                    <td>
                                        <textarea id="formulaRulaj{{i}}" name="formulaRulaj{{i}}" type="text" [(ngModel)]="detail.formulaRulaj" #formulaRulaj="ngModel" class="form-control"></textarea>
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="bold{{i}}" name="bold{{i}}" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="detail.bold" #bold="ngModel" />
                                    </td>
                                    <td style="max-width:80px">
                                        <input id="totalRow{{i}}" name="totalRow{{i}}" type="checkbox" style="position: relative; left:0px; opacity:100" [(ngModel)]="detail.totalRow" #totalRow="ngModel" />
                                    </td>
                                    <td>
                                        <button (click)="repFormulaDelRow(i)" class="btn btn-danger" title="Sterge" *ngIf="detail.id != 0"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" colspan="15">
                                        <button (click)="repFormulaAddRow()" class="btn btn-info" title="Adauga rand"><i class="fas fa-plus"></i></button>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button (click)="repFormulaSave()" class="btn btn-info btn-circle" title="Salvare structura raport"><i class="fas fa-save"></i></button>

                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="display: flex;justify-content: center">
                        <div class="col-lg-6 col-lg-offset-3 table-bordered">
                            Pentru elemente din balanta : <br />
                            D – debitor / C – creditor<br />
                            RD – rulaj debitor / RC – rulaj creditor (inceputul anului -> data de calcul a raportului)<br />
                            <br />
                            Ex: sold creditor - sold debitor cont 561: $C#561$-$D#561$<br />
                            <br />
                            Pentru elemente care fac referire la alt raport:<br />
                            Cod_raport + coloana + # + codul randului<br />
                            <br />
                            Ex. Coloana 1 din Bilant, randul 187 :  $A1#187$
                            <br />
                            Sunt permise folosirea operatiilor matematice de inmultire, impartire si a parantezelor<br />
                            Ex. Coloana 1 din raport, randul 2, totul inmultit cu 0.1:<br />
                            $A1#2$*0.1<br />
                            <br />

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>