<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Configurare rapoarte</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="formList" name="formList" >
                    <div class="row">
                        <div class="panel-heading" style="position:relative">
                            <div class="row">
                                <h4 class="panel-title col-xs-6">
                                    Raportari <a [routerLink]="['/app/conta/nomenclatoare/configRapoarte/rapConfigEdit']" class="btn btn-info"><i class="fas fa-plus"></i></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Data raportarii</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let rep of reportList; let i = index;">
                                    <tr class="small-font">
                                        <td scope="row">{{ i + 1 }}</td>
                                        <td>
                                            {{ rep.rapDate }}
                                        </td>
                                        <td>
                                            <a [routerLink]="['/app/conta/nomenclatoare/configRapoarte/rapConfigEdit']"
                                               [queryParams]="{repConfigId: rep.id}" class="btn btn-info" title="Detalii"><i class="fas fa-edit"></i></a>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/app/conta/nomenclatoare/configRapoarte/rapConfig']"
                                               [queryParams]="{repConfigId: rep.id}" class="btn btn-info" title="Rapoarte"><i class="fas fa-list"></i></a>
                                        </td>
                                        <td>
                                            <button (click)="repConfigDelete(rep.id)" class="btn btn-danger" title="Sterge"><i class="fas fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>