<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>Adaugare / modificare dobanda de referinta</h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="#bugetPrevDobRef" #bugetPrevDobRefForm="ngForm">
                    <div class="row">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="an"> An</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="anBuget" name="formularId" class="form-control" [(ngModel)]="dobandaRef.formularId" #formularId="ngModel">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let an of anBugetList" [ngValue]="an.id">{{an.anBVC}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="plasamentType">Tip plasament</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="plasamentType" name="plasamentType" [(ngModel)]="dobandaRef.plasamentType" #plasamentType="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of plasamentTypeList" [ngValue]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="currencyId">Moneda</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="currencyId" name="currencyId" [(ngModel)]="dobandaRef.currencyId" #currencyId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of currenciesList?.getCurrency" [ngValue]="item.id">{{item.currencyCode}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="activityTypeId"> Tip activitate</label>
                        </div>
                        <div class="col-lg-3">
                            <select id="activityTypeId" name="activityTypeId" [(ngModel)]="dobandaRef.activityTypeId" #activityTypeId="ngModel" class="form-control">
                                <option [ngValue]="null">Selecteaza</option>
                                <option *ngFor="let item of activityTypeList" [ngValue]="item.id">{{ item.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="procent"> Procent</label>
                        </div>
                        <div class="col-lg-3">
                            <input id="procent" name="procent" [(ngModel)]="dobandaRef.procent" #procent="ngModel" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="dataStart">Data start</label>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataStart"
                                       name="dataStart"
                                       [matDatepicker]="dataStartPicker"
                                       [(ngModel)]="dobandaRef.dataStart"
                                       #dataStart="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataStartPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="col-form-label" id="dataEnd">Data sfarsit</label>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataEnd"
                                       name="dataEnd"
                                       [matDatepicker]="dataEndPicker"
                                       [(ngModel)]="dobandaRef.dataEnd"
                                       #dataEnd="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataEndPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <button class="btn btn-info" title="Inapoi" [routerLink]="['/app/buget/prevazut/dobandaReferinta/dobandaReferintaList']"><i class="fas fa-arrow-left"></i></button>
                        </div>
                        <div class="col-lg-2" style="display: flex; justify-content: flex-end">
                            <button type="button" class="btn btn-info" (click)="save()"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>