<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <h3>
                    <a [routerLink]="['/app/buget/cheltuieli/bugetParametrii']" class="btn btn-info"><i class="fas fa-arrow-left"></i></a>
                    Dobanda de referinta
                </h3>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="panel-heading" style="position:relative">
                    <div class="row mt-3">
                        <h4 class="panel-title col-xs-6 ">
                            Dobanda de referinta - <span> {{ getDobandaRefCount() }} </span>
                            &nbsp;
                            <a [routerLink]="['/app/buget/prevazut/dobandaReferinta/dobandaReferintaAdd']" class="btn btn-info" title="Adauga"><i class="fas fa-plus"></i></a>
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">An</th>
                                <th scope="col">Tip plasament</th>
                                <th scope="col">Moneda</th>
                                <th scope="col">Tip activitate</th>
                                <th scope="col">Procent</th>
                                <th scope="col">Data Start</th>
                                <th scope="col">Data Sfarsit</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dobandaReferintaList;let i = index">
                                <td scope="row">{{ i + 1 }}</td>
                                <td>{{ item.an }}</td>
                                <td>{{ item.plasamentName }}</td>
                                <td>{{ item.currencyName }}</td>
                                <td>{{ item.activityTypeName }}</td>
                                <td class="alignSum">{{ item.procent | number: '1.2' }}</td>
                                <td>{{ item.dataStart| date:'dd/MM/yyyy' }}</td>
                                <td>{{ item.dataEnd| date:'dd/MM/yyyy' }}</td>
                                <td>
                                    <a class="btn btn-info" title="Editeaza" [routerLink]="['/app/buget/prevazut/dobandaReferinta/dobandaReferintaAdd']" [queryParams]="{dobandaRefId: item.id}"><i class="fas fa-edit"></i></a>
                                    <button class="btn btn-danger ml-3" title="Sterge" (click)="delete(item.id)"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>