<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                        Adaugare / modificare tara de deplasare
                    </h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content-header">
        <div class="container-fluid">
            <form id="diurnaForm" #diurnaForm="ngForm" (ngSubmit)="save()">
                <div class="row">
                    <div class="col-lg-2">
                        <label for="countryId" class="col-form-label"> Tara </label>
                    </div>
                    <div class="col-lg-3">
                        <select id="countryId" name="countryId" class="form-control" [(ngModel)]="diurna.countryId" #countryId="ngModel">
                            <option *ngFor="let country of countries?.getCountry" [ngValue]="country.id">{{country.countryName}}</option>
                        </select>
                    </div>

                </div>
                <div class="row mt-2">
                    <div class="col-lg-2">
                        <label for="currencyId" class="col-form-label"> Moneda</label>
                    </div>
                    <div class="col-lg-3">
                        <select id="currencyId" name="currencyId" class="form-control" [(ngModel)]="diurna.currencyId" #currencyId="ngModel">
                            <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{currency.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-2">
                        <label for="value"> Valoare</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" name="value" id="value" class="form-control" [(ngModel)]="diurna.value" #value="ngModel" />
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-2">
                        <label for="dataValabilitate"> Data valabilitate</label>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field style="width: 100%;">
                            <input matInput
                                   id="dataValabilitate"
                                   name="dataValabilitate"
                                   [matDatepicker]="dataValabilitatePicker"
                                   [(ngModel)]="diurna.dataValabilitate"
                                   dataValabilitate="ngModel">
                            <mat-datepicker-toggle matSuffix [for]="dataValabilitatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataValabilitatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        <label for="diurnaTypeId"> Tip diurna</label>
                    </div>
                    <div class="col-lg-3">
                        <select id="diurnaTypeId" name="diurnaTypeId" [(ngModel)]="diurna.diurnaTypeId" #diurnaTypeId="ngModel" class="form-control">
                            <option *ngFor="let item of diurnaTypes" [ngValue]="item.id">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <a [routerLink]="['/app/conta/nomenclatoare/diurna/diurnaList']" class="btn btn-info" title="Inapoi"><i class="fas fa-arrow-left"></i></a>

                    </div>
                    <div class="col-lg-2 col-lg-offset-3" style=" display: flex; justify-content: flex-end">
                        <button id="saveBtn" class="btn btn-info" title="Salveaza"><i class="fas fa-save"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>