<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Adaugare / modificare bon/factura</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <form id="newInvoiceForm" name="newInvoiceForm" #newInvoiceForm="ngForm" (ngSubmit)="saveInvoice()">
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="documentType" class="col-form-label">Tip document</label>
                        </div>
                        <div class="col-lg-6">
                            <fieldset [disabled]="invoiceId != 0">
                                <input id="documentType_1"
                                       name="documentType"
                                       type="radio"
                                       [(ngModel)]="invoice.documentTypeShortName"
                                       value="BF"
                                       [checked]="invoice.documentTypeShortName === 'BF'"
                                       #documentTypeShortName="ngModel"
                                       (change)="changeDocumentType(invoice.documentTypeShortName)" />
                                <label for="documentType_1" class="form-label" style="margin: 0 10px;"> Bon fiscal</label>

                                <input id="documentType_2"
                                       name="documentType"
                                       type="radio"
                                       [(ngModel)]="invoice.documentTypeShortName"
                                       value="FF"
                                       [checked]="invoice.documentTypeShortName === 'FF'"
                                       #documentTypeShortName="ngModel"
                                       (change)="changeDocumentType(invoice.documentTypeShortName)" />
                                <label for="documentType_2" class="form-label" style="margin: 0 10px;"> Factura fiscala</label>
                                <input id="documentType_3"
                                       name="documentType_3"
                                       type="radio"
                                       [(ngModel)]="invoice.documentTypeShortName"
                                       value="OTH"
                                       [checked]="otherDocumentType === 'OTH'"
                                       (change)="clearDocumentTypeId()" />
                                <label for="documentType_3" class="form-label" style="margin: 0 10px;"> Alte tipuri de documente</label>

                            </fieldset>
                        </div>

                        <div class="col-lg-2" *ngIf="invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF'">
                            <label for="documentType" class="col-form-label">Tip document</label>
                        </div>
                        <div class="col-lg-2" *ngIf="invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF'">
                            <select id="documentType" name="documentType" class="form-control" [(ngModel)]="invoice.documentTypeId" #documentTypeId="ngModel">
                                <option *ngFor="let item of documentTypeList.getDocumentType"
                                        value="{{item.id}}">
                                    {{item.typeName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <label for="creditor" class="col-form-label">Calitate tert</label>
                        </div>
                        <div class="col-lg-4">
                            <input id="choice_1"
                                   name="creditor"
                                   type="radio"
                                   [(ngModel)]="invoice.thirdPartyQuality"
                                   [value]="0"
                                   [checked]="invoice.thirdPartyQuality === 0"
                                   #creditor="ngModel"
                                   *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')"
                                   (ngModelChange)="getInvoiceElementDetailCategoriesForThirdPartyQuality()" />
                            <label for="choice_1" class="form-label" style="margin: 0 10px;" *ngIf="invoice.documentTypeShortName === 'FF' ||
                                                                                                    (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')"> Client</label>

                            <input id="choice_2"
                                   name="creditor"
                                   type="radio"
                                   [(ngModel)]="invoice.thirdPartyQuality"
                                   [value]="1"
                                   #creditor="ngModel"
                                   (ngModelChange)="getInvoiceElementDetailCategoriesForThirdPartyQuality()" />
                            <label for="choice_2" class="form-label" style="margin: 0 10px;"> Furnizor</label>
                        </div>
                        <div class="col-lg-2">
                            <label for="thirdParty" class="col-form-label"> Tert</label>
                        </div>
                        <div class="col-lg-3">
                            <mat-form-field style="width: 120%;">
                                <input type="text" matInput id="thirdParty"
                                       name="thirdParty"
                                       [(ngModel)]="invoice.thirdPartyId"
                                       (input)="searchThirdPartyByInput($event)"
                                       required
                                       [matAutocomplete]="auto"
                                       #thirdParty="ngModel" />
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="getThirdPartyName.bind(this)">
                                    <mat-select *ngFor="let thirdParty of thirdParties.getThirdParty">
                                        <mat-option (click)="selectedThirdParty(thirdParty.personId, thirdParty.fullName)" [ngValue]="thirdParty.personId">
                                            {{ thirdParty.fullName }}
                                            <small>CompanyId: </small><small>{{ thirdParty.personId }}</small>
                                        </mat-option>
                                    </mat-select>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-1" *ngIf="isGranted('General.Persoane.Modificare')">
                            <button class="btn btn-primary" title="Adauga tert" style="float: right" (click)="openNewTab()" type="button"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="dataOperatie" class="col-form-label">Data operatie</label>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataOperatie"
                                       name="dataOperatie"
                                       [matDatepicker]="dataOperatiePicker"
                                       [(ngModel)]="invoice.operationDate"
                                       #operationDate="ngModel">
                                <mat-datepicker-toggle matSuffix [for]="dataOperatiePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataOperatiePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!--</div>
                        <div class="row" *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">-->

                        <div class="col-lg-2" *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">
                            <label for="contract" class="col-form-label">Contract</label>
                        </div>
                        <div class="col-lg-2" *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">
                            <select name="contract" id="contract" [(ngModel)]="invoice.contractsId" #contract="ngModel" class="form-control">
                                <option *ngFor="let contract of contracts" [ngValue]="contract.id">{{ contract.contractNr }} / {{contract.contractDate | date: 'dd.MM.yyyy'}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="monedaPlataId">Moneda factura</label>
                        </div>
                        <div class="col-lg-2">
                            <select id="monedaFacturaId" name="monedaFacturaId" class="form-control" [(ngModel)]="invoice.monedaFacturaId" #monedaFacturaId="ngModel" (ngModelChange)="getExchangeRate()">
                                <option *ngFor="let currency of currencies?.getCurrency" [ngValue]="currency.id">{{ currency.currencyName }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2" *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">
                            <label for="monedaPlataId">Moneda de plata</label>
                        </div>
                        <div class="col-lg-2" *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">
                            <select id="currencyId" name="currencyId" class="form-control" [(ngModel)]="invoice.currencyId" #currencyId="ngModel" (ngModelChange)="getExchangeRateForPlata()">
                                <option *ngFor="let currency of currencies?.getCurrency" [ngValue]="currency.id">{{ currency.currencyName }}</option>
                            </select>
                        </div>
                        <div class="col-lg-2" *ngIf="invoice.monedaFacturaId !== invoice.currencyId">
                            <label for="schimbValutar" class="col-form-label">Curs valutar</label>
                        </div>
                        <div class="col-lg-2" *ngIf="invoice.monedaFacturaId !== invoice.currencyId">
                            <input id="schimbValutar" name="schimbValutar" type="number" class="form-control" [(ngModel)]="invoice.cursValutar"  (ngModelChange)="updateTotalPlata()" />
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="invoice.documentTypeShortName === 'BF'">
                        <div class="col-lg-2">
                            <label for="numar" class="col-form-label">Nr. bon</label>
                        </div>
                        <div class="col-lg-2">
                            <input id="numar" name="numar" type="text" [(ngModel)]="invoice.invoiceNumber" #numar="ngModel" class="form-control" required />
                        </div>
                        <div class="col-lg-2">
                            <label for="dataFacturare" class="col-form-label">Data bon</label>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataFacturare"
                                       name="dataFacturare"
                                       [matDatepicker]="dataFacturarePicker"
                                       [(ngModel)]="invoice.invoiceDate"
                                       #dataFacturare="ngModel"
                                       (ngModelChange)="getExchangeRate()">
                                <mat-datepicker-toggle matSuffix [for]="dataFacturarePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataFacturarePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="moneda">Moneda</label>
                        </div>
                        <div class="col-lg-2">
                            <select id="moneda" name="moneda" class="form-control" [(ngModel)]="invoice.currencyId" #moneda="ngModel" (ngModelChange)="getExchangeRate()">
                                <option *ngFor="let currency of currencies?.getCurrency" [ngValue]="currency.id">{{ currency.currencyName }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3" *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">
                        <div class="col-lg-2">
                            <label for="serie" class="col-form-label">Serie</label>
                        </div>
                        <div class="col-lg-2">
                            <input id="serie" name="serie" type="text" [(ngModel)]="invoice.invoiceSeries" #serie="ngModel" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="numar" class="col-form-label">Nr. factura</label>
                        </div>
                        <div class="col-lg-2">
                            <input *ngIf="invoice.thirdPartyQuality == '1'" id="numar" name="numar" type="text" [(ngModel)]="invoice.invoiceNumber" #numar="ngModel" class="form-control" required />
                            <input *ngIf="invoice.thirdPartyQuality == '0'" id="numar" name="numar" type="number" [(ngModel)]="invoice.invoiceNumber" #numar="ngModel" class="form-control" required />
                        </div>
                        <div class="col-lg-2">
                            <label for="dataFacturare" class="col-form-label">Data Factura</label>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataFacturare"
                                       name="dataFacturare"
                                       [matDatepicker]="dataFacturarePicker"
                                       [(ngModel)]="invoice.invoiceDate"
                                       #dataFacturare="ngModel"
                                       (ngModelChange)="getExchangeRate()"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataFacturarePicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataFacturarePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">
                        <div class="col-lg-2">
                            <label for="dataScadenta">Scadenta</label>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="dataScadenta"
                                       name="dataScadenta"
                                       [matDatepicker]="dataScadentaPicker"
                                       [(ngModel)]="invoice.dueDate"
                                       #dataScadenta="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="dataScadentaPicker"></mat-datepicker-toggle>
                                <mat-datepicker #dataScadentaPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label for="nrRegistratura" class="col-form-label">Nr. Registratura</label>
                        </div>
                        <div class="col-lg-2">
                            <input id="nrRegistratura" name="nrRegistratura" type="text" [(ngModel)]="invoice.regNumber" #nrRegistratura="ngModel" class="form-control" required />
                        </div>
                        <div class="col-lg-2">
                            <label for="regDate" class="col-form-label"> Data  Registratura</label>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="regDate"
                                       name="regDate"
                                       [matDatepicker]="regDatePicker"
                                       [(ngModel)]="invoice.regDate"
                                       #regDate="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="regDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #regDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--<div class="row">
        <div class="col-lg-2">
            <label for="description" class="col-form-label">Descriere</label>
        </div>
        <div class="col-lg-10">
            <input id="description" name="description" type="text" [(ngModel)]="invoice.description" #description="ngModel" class="form-control" />
        </div>
    </div>-->
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <label for="period" class="col-form-label">Perioada facturare</label>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="startDatePeriod"
                                       name="startDatePeriod"
                                       [matDatepicker]="startDatePeriodPicker"
                                       [(ngModel)]="invoice.startDatePeriod"
                                       startDatePeriod="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="startDatePeriodPicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePeriodPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                                <input matInput
                                       id="endDatePeriod"
                                       name="endDatePeriod"
                                       [matDatepicker]="endDatePeriodPicker"
                                       [(ngModel)]="invoice.endDatePeriod"
                                       endDatePeriod="ngModel"
                                       required />
                                <mat-datepicker-toggle matSuffix [for]="endDatePeriodPicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePeriodPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" for="activityTypeId"> Tip activitate</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" [(ngModel)]="invoice.activityTypeId"
                                    name="activityTypeId"
                                    #activityTypeId="ngModel">
                                <option [ngValue]="null">NA</option>
                                <option *ngFor="let value of activityTypes"
                                        [ngValue]="value.id">
                                    {{value.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <h4>Detalii &nbsp;&nbsp;<button (click)="addDetail()" type="button" class="btn btn-info"><i class="fas fa-plus"></i></button></h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Descriere</th>
                                            <th scope="col">Categorie element</th>
                                            <th scope="col">Element</th>
                                            <th scope="col">Cantitate</th>
                                            <th scope="col">Valoare Unitara</th>
                                            <th scope="col">Valoare totala factura</th>
                                            <th scope="col">Valoare totala de plata</th>
                                            <th scope="col">Cota TVA</th>
                                            <th scope="col">Durata in luni</th>
                                            <th scope="col">Data start amortizare</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody *ngFor="let detail of invoice.invoiceDetails; let i = index;">
                                        <tr [ngStyle]="{'background-color': detail.itemState != 0 ? 'red' : ''}">
                                            <td scope="row">{{ i + 1 }}</td>
                                            <td>
                                                <input id="element{{i}}" name="element{{i}}" [(ngModel)]="detail.element" #element="ngModel" class="form-control" />
                                            </td>
                                            <td>
                                                <select id="categoryElement{{i}}" name="categoryElement{{i}}" class="form-control" [(ngModel)]="detail.invoiceElementsDetails.invoiceElementsDetailsCategoryId" (change)="getInvoiceElementDetailsByCategoryId(detail.invoiceElementsDetails.invoiceElementsDetailsCategoryId, i)">
                                                    <option *ngFor="let item of elementDetailsCategories"
                                                            value="{{item.id}}">
                                                        {{item.categoryElementDetName}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="invoiceElementsDetailsId{{i}}" name="invoiceElementsDetailsId{{i}}" class="form-control" [(ngModel)]="detail.invoiceElementsDetailsId" #invoiceElementsDetailsId="ngModel" (change)="getInvoiceElementDetail(detail.invoiceElementsDetailsId, i)">
                                                    <option value="">Selecteaza</option>
                                                    <option *ngFor="let item of invoiceElementsDetails[i]" [ngValue]="item.id">{{item.description}}</option>
                                                </select>
                                            </td>
                                            <td><input id="quantity{{i}}" name="quantity{{i}}" type="number" [(ngModel)]="detail.quantity" (ngModelChange)="updateTotalValueDetail(detail)" #quantity="ngModel" style="width: 90px;" class="form-control" /></td>
                                            <td><input id="unitValue{{i}}" name="unitValue{{i}}" type="number" [(ngModel)]="detail.unitValue" (ngModelChange)="updateTotalValueDetail(detail)" #unitValue="ngModel" style="width:90px" class="form-control" /></td>
                                            <td><input id="value{{i}}" name="value{{i}}" type="number" [(ngModel)]="detail.value" (ngModelChange)="updateValue()" #value="ngModel" style="width:90px" class="form-control" /></td>
                                            <td><input id="valoareTotalaDetaliu{{i}}" name="valoareTotalaDetaliu{{i}}" type="number" [(ngModel)]="detail.valoareTotalaDetaliu" (ngModelChange)="updateValue()" #value="ngModel" style="width:90px" class="form-control" /></td>
                                            <td>
                                                <select style="width: 65px" id="cotaTVA_Id{{i}}" name="cotaTVA_Id{{i}}" class="form-control" [(ngModel)]="detail.cotaTVA_Id" #cotaTVA_Id="ngModel">
                                                    <option [ngValue]="null">Selecteaza</option>
                                                    <option *ngFor="let cota of cotaTvaList" [ngValue]="cota.id">{{cota.vat}}</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input *ngIf="detail.invoiceElementsDetails?.invoiceElementsType == 1" id="durationInMonths{{i}}" name="durationInMonths{{i}}" type="text" class="form-control" [(ngModel)]="detail.durationInMonths" #durationInMonths="ngModel" (ngModelChange)="showDataStartAmortizare(i)" required />
                                            </td>
                                            <td>
                                                <mat-form-field  *ngIf="detail.invoiceElementsDetails?.invoiceElementsType == 1 && showDataAmortizare">
                                                    <input matInput
                                                           id="dataStartAmortizare"
                                                           name="dataStartAmortizare"
                                                           [matDatepicker]="dataStartAmortizarePicker"
                                                           [(ngModel)]="detail.dataStartAmortizare"
                                                           #dataStartAmortizare="ngModel">
                                                    <mat-datepicker-toggle matSuffix [for]="dataStartAmortizarePicker"></mat-datepicker-toggle>
                                                    <mat-datepicker #dataStartAmortizarePicker></mat-datepicker>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <button *ngIf="detail.itemState === 0" (click)="deleteDetail(i)" class="btn btn-danger form-control">Delete</button>
                                                <button *ngIf="detail.itemState === 3" (click)="restoreDetail(i)" class="form-control">Restore</button>
                                            </td>
                                        </tr>
                                        <tr [ngStyle]="{'background-color': detail.itemState != 0 ? 'red' : ''}"
                                            *ngIf="detail.invoiceElementsDetails?.invoiceElementsType == 0 || detail.invoiceElementsDetails?.invoiceElementsType == 2">
                                            <td colspan="10">
                                                <div class="custom-control custom-checkbox " style="display: block;">
                                                    <input id="usedInGest{{i}}" name="usedInGest{{i}}" type="checkbox" class="custom-control-input" [(ngModel)]="detail.usedInGest" #usedInGest="ngModel" />
                                                    <label for="usedInGest{{i}}" class="custom-control-label mt-2"> Nu este o intrare de mijloace fixe / obiecte de inventar</label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="valoareTotalaFactura">Valoare totala factura</label>
                        </div>
                        <div class="col-lg-4">
                            <input id="valoareTotalaFactura" name="valoareTotalaFactura" [(ngModel)]="invoice.valoareTotalaFactura" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <label for="total">Valoare totala plata</label>
                        </div>
                        <div class="col-lg-4">
                            <input id="total" name="total" type="number" [(ngModel)]="invoice.value" (ngModelChange)="updateLocalCurrency()" class="form-control" />
                        </div>
                        <div class="col-lg-2">
                            <label for="valTotal" class="col-form-label">Valoare totala RON</label>
                        </div>
                        <div class="col-lg-4">
                            <input id="valTotal" name="valTotal" type="number" [(ngModel)]="invoice.valueLocalCurr" class="form-control" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-2">
                            <label for="fileDocValue">Valoare total File Doc</label>
                        </div>
                        <div class="col-lg-4">
                            <input id="fileDocValue" name="fileDocValue" [(ngModel)]="invoice.fileDocValue" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-lg-5">
                            <a [routerLink]="['/app/economic/invoices/invoicesList']" class="btn btn-info" title="Inapoi" *ngIf="decontId === null"><i class="fas fa-arrow-left"></i></a>
                            <a [routerLink]="['/app/decontAdd']" [queryParams]="{decontId: decontId}" class="btn btn-info" title="Inapoi" *ngIf="decontId !== null"><i class="fas fa-arrow-left"></i></a>

                        </div>
                        <div class="col-lg-7 col-lg-offset-4">
                            <!--[disabled]="!invoice.enableEdit"-->
                            <button type="submit" id="saveBtn" class="btn btn-info" title="Salveaza" [disabled]="!newInvoiceForm.form.valid"><i class="fas fa-save"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>