<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>Facturi si bonuri - <span>{{getCount()}}</span></h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="row">
                    <div class="col-lg-1">
                        <label for="dateType" class="col-form-label">Tipul de data cautata</label>
                        <select id="dateType" name="dateType" [(ngModel)]="dateType" class="form-control">
                            <option value="OP">Data Operatiune</option>
                            <option value="ID">Data Factura</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <label for="dataStart" class="col-form-label"> Data Inceput</label>
                        <mat-form-field style="width: 100%;">
                            <input matInput
                                   id="dataStart"
                                   name="dataStart"
                                   [matDatepicker]="dataStartPicker"
                                   [(ngModel)]="dataStart">
                            <mat-datepicker-toggle matSuffix [for]="dataStartPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataStartPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                        <label for="dataEnd" class="col-form-label"> Data Sfarsit</label>
                        <mat-form-field style="width: 100%;">
                            <input matInput
                                   id="dataEnd"
                                   name="dataEnd"
                                   [matDatepicker]="dataEndPicker"
                                   [(ngModel)]="dataEnd">
                            <mat-datepicker-toggle matSuffix [for]="dataEndPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dataEndPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <label for="thirdParty" class="col-form-label"> Tert</label>
                        <mat-form-field style="width: 100%;">
                            <input type="text" matInput id="thirdParty"
                                   name="thirdParty"
                                   [(ngModel)]="thirdPartyId"
                                   (input)="searchThirdParty($event)"
                                   required
                                   [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getThirdPartyName.bind(this)">
                                <mat-select *ngFor="let thirdParty of thirdParties?.getThirdParty">
                                    <mat-option (click)="selectedThirdParty(thirdParty.personId, thirdParty.fullName)" [ngValue]="thirdParty.personId">
                                        {{ thirdParty.fullName }}
                                        <small>CompanyId: </small><small>{{ thirdParty.personId }}</small>
                                    </mat-option>
                                </mat-select>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-1">
                        <label for="thirdParty" class="col-form-label"> Suma</label>
                        <input id="numar" name="numar" type="text" [(ngModel)]="suma" class="form-control" />


                    </div>
                    <div class="col-lg-2">
                        <label class="col-form-label" for="facturiIncomplete">Facturi incomplete</label>
                        <div class="custom-control custom-checkbox">
                            <input id="facturiIncomplete"
                                   name="facturiIncomplete"
                                   type="checkbox"
                                   class="custom-control-input"
                                   [(ngModel)]="facturiIncomplete" />
                            <label for="facturiIncomplete" class="custom-control-label mt-2"> Afisare facturi incomplete</label>
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <label for="documentType" class="col-form-label">Tip document</label>
                        <select id="documentType" name="documentType" [(ngModel)]="documentType" class="form-control">
                            <option value="">Toate</option>
                            <option value="BF">Bon fiscal</option>
                            <option value="FF">Factura fiscala</option>
                        </select>
                    </div>
                    <div class="col-lg-1">
                        <button class="btn btn-info mr-2" title="Cauta" (click)="refreshInvoices()"><i class="fas fa-search"></i> </button>
                        <a [routerLink]="['/app/economic/invoices/invoiceNew']" *ngIf="isGranted('Conta.Documente.Modificare')" class="btn btn-info" title="Adauga"><i class="fas fa-plus"></i></a>
                        <a href="{{appBaseUrl}}/assets/pdf/Conta - Doc primite si emise si deconturi - Manual utilizare.pdf" title="Manual de utilizare" class="btn btn-info ml-2" target="_blank"><i class="fas fa-question"></i></a>
                    </div>
                </div>

                <div class="row">
                    <!--<div class="panel-heading" style="position: relative;">-->
                        
                        <!--<table class="table small-font">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Calitate Tert</th>
                                    <th scope="col">Tert</th>
                                    <th scope="col">Tip Document</th>
                                    <th scope="col">Serie/Nr/Data Factura</th>
                                    <th scope="col">Scadenta</th>
                                    <th scope="col">Nr/DataRegistratura</th>
                                    <th scope="col">ValoareTotala</th>
                                    <th scope="col">Moneda</th>
                                    <th scope="col">Descriere</th>
                                    <th scope="col">Decont</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let invoice of invoicesList; let i = index;">
                                    <td scope="row">{{ i + 1  }}</td>
                                    <td>{{ invoice.thirdPartyQualityStr }}</td>
                                    <td>{{ invoice.thirdPartyName }}</td>
                                    <td>{{ invoice.documentType }}</td>
                                    <td>{{invoice.invoiceSeries}} &nbsp; {{invoice.invoiceNumber}} /  {{invoice.invoiceDate | date: 'dd/MM/yyyy'}} </td>
                                    <td>{{ invoice.dueDate | date: 'dd/MM/yyyy' }}</td>
                                    <td *ngIf="invoice.documentTypeShortName === 'FF' || (invoice.documentTypeShortName !== 'BF' && invoice.documentTypeShortName !== 'FF')">{{invoice.regNumber}} / {{invoice.regDate | date: 'dd/MM/yyyy'}} </td>
                                    <td *ngIf="invoice.documentTypeShortName === 'BF'"></td>
                                    <td>{{invoice.value | number: '1.2-2'}}</td>
                                    <td>{{invoice.currencyName}}</td>
                                    <td>{{invoice.description}}</td>
                                    <td>
                                        <input type="checkbox" id="hasDecont" name="hasDecont" [(ngModel)]="invoice.hasDecont" #hasDecont="ngModel" disabled readonly />
                                    </td>
                                    <td width="5%">
                                        <a *ngIf="!invoice.contaOperationStatus && !invoice.hasDecont"
                                           [routerLink]="['/app/economic/invoices/invoiceNew']"
                                           [queryParams]="{ facturaId: invoice.id }"
                                           class="btn btn-info">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                    <td width="5%">
                                        <button *ngIf="!invoice.contaOperationStatus && !invoice.hasDecont"
                                                (click)="deleteInvoice(invoice.id)"
                                                class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                    <td *ngIf="invoice.thirdPartyQualityStr === 'Client' && invoice.documentTypeShortName === 'FF'">
                                        <button class="btn btn-info" (click)="showReport(invoice.id)" title="Genereaza factura"><i class="fas fa-download"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>-->

                    <dx-data-grid id="gridContainer"
                                  [dataSource]="invoicesList"
                                  [showBorders]="true"
                                  (onCellPrepared)="onCellPrepared($event)"
                                  [columnAutoWidth]="true"
                                  [columnResizingMode]="true"
                                  [wordWrapEnabled]="true">
                        <dxo-editing mode="cell"
                                     [allowUpdating]="true"
                                     [allowAdding]="false"
                                     [allowDeleting]="false">
                        </dxo-editing>
                        <dxo-group-panel [visible]="true"></dxo-group-panel>
                        <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
                        <dxo-selection mode="multiple"></dxo-selection>
                        <dxi-column dataField="thirdPartyQualityStr" caption="Calitate Tert" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="thirdPartyName" caption="Tert" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="documentType" caption="Tip Document" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="invoiceSeries" caption="Serie" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="invoiceNumber" caption="Nr" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="invoiceDate" dataType="date" caption="Data Factura" [format]="'dd/MM/yyyy'" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="dueDate" dataType="date" caption="Scadenta" [format]="'dd/MM/yyyy'" [allowEditing]="false"></dxi-column>
                        <!--<dxi-column dataField="regNumber" caption="Nr registratura" [allowEditing]="false" [visible]="isVisibleButtonsRegistration"></dxi-column>-->
                        <dxi-column dataField="regNumber"
                                    caption="Nr registratura"
                                    [allowFiltering]="false"
                                    [allowSorting]="false"
                                    [allowEditing]="false"
                                    cellTemplate="cellTemplate"></dxi-column>
                        <div *dxTemplate="let data of 'cellTemplate'">
                            <app-file-doc-attachment [fileId]="data.data.fileDocId" [regNumber]="data.data.regNumber"></app-file-doc-attachment>
                        </div>
                        <dxi-column dataField="regDate" dataType="date" caption="Data Registratura" [format]="'dd/MM/yyyy'" [allowEditing]="false" [visible]="isVisibleButtonsRegistration"></dxi-column>
                        <dxi-column dataField="contractNumber" caption="Nr contract" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="value" caption="Valoare Totala" [format]="',##0.00#'" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="fileDocValue" caption="Valoare Totala File Doc" [format]="',##0.00#'" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="restPlata" caption="Rest de plata" [format]="',##0.00#'" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="currencyName" caption="Moneda" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="hasDecont" caption="Decont" [allowEditing]="false"></dxi-column>
                        <dxi-column dataField="decontNumber" caption="Numar Decont" [allowEditing]="false"></dxi-column>
                        <dxi-column type="buttons">
                            <dxi-button icon="edit" [onClick]="editInvoice" [visible]="isVisibleButtons"> </dxi-button>
                            <dxi-button icon="clear" [onClick]="deleteInvoice2" [visible]="isVisibleButtons" *ngIf="isGranted('Conta.Documente.Modificare')"></dxi-button>
                            <dxi-button icon="download" [onClick]="showReport2" [visible]="isVisibleShowReport"></dxi-button>
                        </dxi-column>
                        <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
                    </dx-data-grid>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </section>
</div>
