<div [@routerTransition]>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h3>
                    <a id="backButton" name="backButton" class="btn btn-info" [routerLink]="['/app/decontAdd']" [queryParams]="{decontId: decontId}"><i class="fas fa-arrow-left"></i></a>
                        Selectare facturi</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="body">
                <div class="col-lg-8">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th scope="col">Furnizor</th>
                                <th scope="col">Serie Nr / Data factura</th>
                                <th scope="col">Valoare totala</th>
                                <th scope="col">Valoare totala File Doc</th>
                                <th scope="col">Moneda factura</th>
                                <th scope="col">Moneda de plata</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invoice of invoicesList; let i = index;">
                                <td>
                                    <input id="selectedInvoice_i" name="selectedInvoice_i" type="checkbox"  [(ngModel)]="invoice.selected" #selected="ngModel"/>
                                </td>
                                <td> {{ invoice.thirdPartyAccount }}</td>
                                <td> {{ invoice.invoiceSeries }} {{ invoice.invoiceNumber }} / {{ invoice.invoiceDate | date: 'dd/MM/yyyy' }}</td>
                                <td class="alignSum"> {{ invoice.value | number: '1.2' }} </td>
                                <td class="alignSum">{{ invoice.fileDocValue | number: '1.2' }}</td>
                                <td> {{ invoice.currencyName }}</td>
                                <td>{{ invoice.monedaPlataName }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <button id="save" name="save" (click)="saveInvoice()" class="btn btn-info"><i class="fas fa-save"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>